<ng-container [ngSwitch]="page">
  <ng-container *ngSwitchCase="'settings'">
    <ng-container *ngTemplateOutlet="settings"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'go-mobile'">
    <ng-container *ngTemplateOutlet="goMobile"></ng-container>
  </ng-container>
</ng-container>

<ng-template #settings>
  <ion-item [class]="{'higher': isMobile}">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-end">
        <ion-col class="ion-align-self-start" size-sm="6" size-xs="12">
          <ion-label class="headline-4">Mobile Number</ion-label>
        </ion-col>
        <ion-col class="ion-align-self-end">
          <ion-select class="subtitle-1 ion-no-padding ion-no-margin"
            [attr.aria-label]="'country code'"
            [(ngModel)]="countryModel"
            interface="popover"
            (ionChange)="updateCountry()">
            <ion-select-option [value]="countryCode.code"
              aria-label="country code"
              *ngFor="let countryCode of contactNumberFormat.countryCodes">
              {{countryCode.code}} {{contactNumberFormat.masks[countryCode.code].format}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col class="ion-align-self-end ion-no-padding ion-no-margin ion-nowrap">
          <input type="text"
            [attr.maxlength]="activeCountryModelInfo.length"
            pattern="{{activeCountryModelInfo.pattern}}"
            placeholder="{{activeCountryModelInfo.placeholder}}"
            [(ngModel)]="contactNumber"
            class="ion-no-padding contact-input subtitle-1 gray-1"
            (keydown)="disableArrowKeys($event)"
            (keyup)="formatContactNumber()" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item-divider [ngClass]="{'ion-no-padding': isMobile}">
    <ion-note class="ion-padding body-3">Your mobile number is important to get SMS notifications.</ion-note>
  </ion-item-divider>

  <div [class]="{'xc': !isMobile }">
    <ion-button mode="ios" size="large"
      fill="outline"
      expand="block"
      class="ion-padding-horizontal btn-update-mobile"
      [ngClass]="{'mobile-btn': isMobile}"
      [disabled]="updating"
      (click)="updateContactNumber()"
      [attr.aria-descripedby]="'updateMobileNumber'"
      role="button"
    >
      <ng-container id="updateMobileNumber" *ngIf="!updating">Update mobile number</ng-container>
      <ng-container id="updateMobileNumber" *ngIf="updating">Updating..</ng-container>
    </ion-button>
  </div>

</ng-template>

<ng-template #goMobile>
  <ion-item lines="none" class="text-field">
    <ion-grid>
      <ion-row class="contact-details">
        <ion-col size="4">
          <p class="country-code">{{activeCountryModelInfo.countryCode}}</p>
        </ion-col>
        <ion-col>
          <input type="text"
            [attr.maxlength]="activeCountryModelInfo.length"
            pattern="{{activeCountryModelInfo.pattern}}"
            placeholder="{{activeCountryModelInfo.placeholder}}"
            [(ngModel)]="contactNumber"
            class="contact-input"
            (keydown)="disableArrowKeys($event)"
            (blur)="formatContactNumber()"
            (keyup)="formatContactNumber()" />
        </ion-col>
        <ion-col size="5">
          <ion-select placeholder="Select Country"
            aria-label="select country code"
            name="countryModel"
            [(ngModel)]="countryModel"
            (ionChange)="updateCountry()">
            <ion-select-option *ngFor="let countryCode of contactNumberFormat.countryCodes" [value]="countryCode.code">
              {{countryCode.name}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ng-template>
