<div class="animated-tick">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="320px" height="50px" viewBox="0 0 320 50">
    <defs>
      <g id="Preloader_0_Layer5_0_FILL">
        <path fill="#C7CBE1" stroke="none" d="
      M 48 24
      Q 48 14.05 41 7 34 0 24 0 14.05 0 7.05 7 0 14.05 0 24 0 33.95 7.05 40.95 14.05 48 24 48 33.95 48 41 40.95 48 33.95 48 24
      M 24 4
      Q 32.3 4 38.15 9.85 44 15.7 44 24 44 32.25 38.15 38.15 32.3 44 24 44 15.75 44 9.9 38.15 4 32.25 4 24 4 15.7 9.9 9.85 15.75 4 24 4 Z" />
      </g>
      <g id="Mask_Mask_Tween_5_0_Layer0_0_FILL">
        <path fill="#FFFFFF" stroke="none" d="
      M 7.05 7
      Q 0 14 0 23.95 0 33.9 7.05 40.95 14.05 47.95 24 48
      L 24.05 0
      Q 14.1 -0.05 7.05 7 Z" />
      </g>
    </defs>

    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
        <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
            <use xlink:href="#Preloader_13_Layer5_0_FILL" />
        </g>
        <g transform="matrix( 1, 0, 0, 1, 0,0) " />
    </g>

    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
      <mask id="Mask_Mask_1">
        <g transform="matrix( 0.9121856689453125, 0.4067230224609375, -0.4067230224609375, 0.9121856689453125, -10.8,-4.8) ">
            <g transform="matrix( 1, 0, 0, 1, -12.05,-24) ">
                <use xlink:href="#Mask_Mask_Tween_5_0_Layer0_0_FILL" />
            </g>
        </g>
      </mask>

      <g mask="url(#Mask_Mask_1)">
        <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
          <use xlink:href="#Right_Circle_13_Layer1_0_FILL" />
        </g>
      </g>
    </g>

    <g transform="matrix( 1, 0, 0, 1, 160,25) " />
  </svg>
</div>
