@mixin animation {
  animation-duration: 3s;
  animation-timing-function: ease;
}

#animated {
  #placeholder-upper {
    @include animation;
    transform: matrix(1, 0, 0, 1, 160, 25);
    animation-name: animation-placeholder-upper;
  }
  #placeholder-lower {
    @include animation;
    transform: matrix(1, 0, 0, 1, -24, -24);
    animation-name: animation-placeholder-lower;
  }
  #mask-progress {
    @include animation;
    transform: matrix( 1, 0, 0, 1, -11.95,0);
    animation-name: animation-progress;
  }
  #mask-progress-2nd {
    @include animation;
    transform: matrix( 1, 0, 0, 1, -12.05,-24);
    animation-name: animation-progress-2nd;
  }
}

@keyframes animation-placeholder-lower {
  from {
    transform: matrix(1, 0, 0, 1, 160, 25);
  }
  to {
    // transform: matrix(1, 0, 0, 1, 160, 25);
    transform: matrix(1, 0, 0, 1, -24, -24);
  }
}

@keyframes animation-progress {
  0% {
    transform: matrix( 1, 0, 0, 1, -11.95,0);
  }
  10% {
    // transform: matrix(1, 0, 0, 1, 160, 25);
    transform: matrix( 0.9876861572265625, 0.1531982421875, -0.1531982421875, 0.9876861572265625, -11.75,-1.8);
  }
  25% {
    transform: matrix( 0.889495849609375, 0.4539794921875, -0.4539794921875, 0.889495849609375, -10.5,-5.35);
  }
  60% {
    transform: matrix( -0.9715728759765625, 0.233428955078125, -0.233428955078125, -0.9715728759765625, 11.6,-2.7);
  }
  75% {
    transform: matrix(-0.8724517822265625, 0.4857330322265625, -0.4857330322265625, -0.8724517822265625, -10.4,5.8);
  }
  100% {
    transform: matrix( -0.999969482421875, 0, 0, -0.999969482421875, -11.9,0);
  }
}
@keyframes animation-progress-2nd {
  0% {
    transfrom: matrix( 1, 0, 0, 1, -12.05, -24);
  }
  50% {
    transfrom: matrix( 1, 0, 0, 1, -36, -24);
  }
  100% {
    transfrom: matrix( 1, 0, 0, 1, -36, -24);
  }
}
