<div class="animated-tick">
  <br>
  <svg *ngIf="stage === 6" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="320px" height="50px" viewBox="0 0 320 50">
    <defs>
      <g id="Preloader_87_Layer4_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 17 -17
  Q 10 -24 0 -24 -9.95 -24 -16.95 -17 -24 -9.95 -24 0 -24 9.95 -16.95 16.95 -9.95 24 0 24 9.95 24 17 16.95 24 9.95 24 0 24 -9.95 17 -17 Z" />
      </g>
      <g id="Tween_23_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 48 24
  Q 48 14.05 41 7 34 0 24 0 14.05 0 7.05 7 0 14.05 0 24 0 33.95 7.05 40.95 14.05 48 24 48 33.95 48 41 40.95 48 33.95 48 24 Z" />
      </g>
      <g id="Tween_21_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 74 7
  Q 67 0 57 0 47.05 0 40.05 7 33 14.05 33 24 33 33.95 40.05 40.95 47.05 48 57 48 66.95 48 74 40.95 81 33.95 81 24 81 14.05 74 7 Z" />
      </g>
      <g id="Tween_19_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 56.25 48
  L 56.25 0 24.25 0 24.25 48 56.25 48 Z" />
      </g>
      <g id="Mask_Mask_Tween_25_0_Layer0_0_FILL">
        <path fill="#FFFFFF" stroke="none" d="
  M -13.85 -16.25
  L -13.85 14 16.4 14 16.4 -16.25 -13.85 -16.25 Z" />
      </g>
      <g id="Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 24.05 4
  L 24.05 0
  Q 14.1 -0.05 7.05 7 0.05 14 0 23.95 0 33.9 7.05 40.95 14.05 47.95 24 48
  L 24 44
  Q 15.75 43.95 9.9 38.1 4 32.25 4 23.95 4.05 15.7 9.9 9.85 15.8 3.95 24.05 4 Z" />
      </g>
      <path id="Tween_13_0_Layer0_0_1_STROKES" stroke="#FFFFFF" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" fill="none" d="
  M -10.993569183349678 -0.8108070373534702
  L -3.074864196777412 6.961766052246276 11.002833557128838 -6.8886085510253" />
    </defs>

    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
      <g transform="matrix( 1, 0, 0, 1, 0,0) ">
        <use xlink:href="#Preloader_87_Layer4_0_FILL" />
      </g>
      <g transform="matrix( 1, 0, 0, 1, -131.5,0) ">
        <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
          <use xlink:href="#Tween_23_0_Layer0_0_FILL" />
        </g>
      </g>
      <g transform="matrix( 1, 0, 0, 1, 131.5,0) ">
        <g transform="matrix( 1, 0, 0, 1, -57,-24) ">
          <use xlink:href="#Tween_21_0_Layer0_0_FILL" />
        </g>
      </g>
      <g transform="matrix( 8.326736450195312, 0, 0, 1, 0.35,0) ">
        <g transform="matrix( 1, 0, 0, 1, -40.25,-24) ">
          <use xlink:href="#Tween_19_0_Layer0_0_FILL" />
        </g>
      </g>
    </g>
    <g transform="matrix( 1, 0, 0, 1, 136,1) ">
      <use xlink:href="#Layer0_0_FILL" />
    </g>
  </svg>

  <svg *ngIf="stage === 1" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="320px" height="50px" viewBox="0 0 320 50">
    <defs>
      <g id="Preloader_0_Layer5_0_FILL">
        <path fill="#C7CBE1" stroke="none" d="
M 48 24
Q 48 14.05 41 7 34 0 24 0 14.05 0 7.05 7 0 14.05 0 24 0 33.95 7.05 40.95 14.05 48 24 48 33.95 48 41 40.95 48 33.95 48 24
M 24 4
Q 32.3 4 38.15 9.85 44 15.7 44 24 44 32.25 38.15 38.15 32.3 44 24 44 15.75 44 9.9 38.15 4 32.25 4 24 4 15.7 9.9 9.85 15.75 4 24 4 Z" />
      </g>
    </defs>
    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
      <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
        <use xlink:href="#Preloader_0_Layer5_0_FILL" />
      </g>
      <g transform="matrix( 1, 0, 0, 1, 0,0) " />
    </g>
    <g transform="matrix( 1, 0, 0, 1, 160,25) " />
    <g transform="matrix( 1, 0, 0, 1, 160,25) " />
  </svg>
  <br>

  <svg *ngIf="stage === 2" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="320px" height="50px" viewBox="0 0 320 50">
    <defs>
      <g id="placeholder">
        <path fill="#C7CBE1" stroke="none" d="
M 48 24
Q 48 14.05 41 7 34 0 24 0 14.05 0 7.05 7 0 14.05 0 24 0 33.95 7.05 40.95 14.05 48 24 48 33.95 48 41 40.95 48 33.95 48 24
M 24 4
Q 32.3 4 38.15 9.85 44 15.7 44 24 44 32.25  Z" />
      </g>
      <g id="Mask_Mask_Tween_5_0_Layer0_0_FILL">
        <path fill="#FFFFFF" stroke="none" d="
M 7.05 7
Q 0 14 0 23.95 0 33.9 7.05 40.95 14.05 47.95 24 48
L 24.05 0
Q 14.1 -0.05 7.05 7 Z" />
      </g>
      <g id="Right_Circle_13_Layer1_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 48 24
Q 48 14 41 7 33.95 -0.05 24 0
L 24 4
Q 32.3 3.95 38.15 9.85 44 15.7 44 24 44 32.25 38.15 38.1 32.3 43.95 24 44
L 24 48
Q 34 47.95 41 40.95 48 33.95 48 24 Z" />
      </g>
    </defs>
    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
      <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
        <use xlink:href="#placeholder" />
      </g>
      <g transform="matrix( 1, 0, 0, 1, 0,0) " />
    </g>
    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
      <mask id="Mask_Mask_1">
        <g transform="matrix( 0.9121856689453125, 0.4067230224609375, -0.4067230224609375, 0.9121856689453125, -10.8,-4.8) ">
          <g transform="matrix( 1, 0, 0, 1, -12.05,-24) ">
            <use xlink:href="#Mask_Mask_Tween_5_0_Layer0_0_FILL" />
          </g>
        </g>
      </mask>
      <g mask="url(#Mask_Mask_1)">
        <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
          <use xlink:href="#Right_Circle_13_Layer1_0_FILL" />
        </g>
      </g>
    </g>
    <g transform="matrix( 1, 0, 0, 1, 160,25) " />
  </svg>

  <br>
  <svg *ngIf="stage === 3" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="320px" height="50px" viewBox="0 0 320 50">
    <defs>
      <g id="Preloader_70_Layer5_0_FILL">
        <path fill="#A6ACCC" stroke="none" d="
M 48 24
Q 48 14.05 41 7 34 0 24 0 14.05 0 7.05 7 0 14.05 0 24 0 33.95 7.05 40.95 14.05 48 24 48 33.95 48 41 40.95 48 33.95 48 24
M 24 4
Q 32.3 4 38.15 9.85 44 15.7 44 24 44 32.25 38.15 38.15 32.3 44 24 44 15.75 44 9.9 38.15 4 32.25 4 24 4 15.7 9.9 9.85 15.75 4 24 4 Z" />
      </g>
      <g id="Preloader_70_Layer4_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 17 -17
Q 10 -24 0 -24 -9.95 -24 -16.95 -17 -24 -9.95 -24 0 -24 9.95 -16.95 16.95 -9.95 24 0 24 9.95 24 17 16.95 24 9.95 24 0 24 -9.95 17 -17 Z" />
      </g>
      <g id="Layer2_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 48 24
Q 48 14 41 7 33.95 -0.05 24 0
L 24 4
Q 32.3 3.95 38.15 9.85 44 15.7 44 24 44 32.25 38.15 38.1 32.3 43.95 24 44
L 24 48
Q 34 47.95 41 40.95 48 33.95 48 24 Z" />
      </g>
      <g id="Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 24.05 4
L 24.05 0
Q 14.1 -0.05 7.05 7 0.05 14 0 23.95 0 33.9 7.05 40.95 14.05 47.95 24 48
L 24 44
Q 15.75 43.95 9.9 38.1 4 32.25 4 23.95 4.05 15.7 9.9 9.85 15.8 3.95 24.05 4 Z" />
      </g>
    </defs>
    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
      <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
        <use xlink:href="#Preloader_70_Layer5_0_FILL" />
      </g>
      <g transform="matrix( 1, 0, 0, 1, 0,0) ">
        <use xlink:href="#Preloader_70_Layer4_0_FILL" />
      </g>
      <g transform="matrix( 1, 0, 0, 1, 0,0) " />
    </g>
    <g transform="matrix( 1, 0, 0, 1, 136.05,1) ">
      <use xlink:href="#Layer2_0_FILL" />
    </g>
    <g transform="matrix( 1, 0, 0, 1, 160,25) " />
    <g transform="matrix( 1, 0, 0, 1, 136,1) ">
      <use xlink:href="#Layer0_0_FILL" />
    </g>
  </svg>
  <br>
  <svg *ngIf="stage === 4" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="320px" height="50px" viewBox="0 0 320 50">
    <defs>
      <filter id="Filter_1" x="-20%" y="-20%" width="140%" height="140%" color-interpolation-filters="sRGB">
        <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.54 0" result="result1" />
      </filter>
      <g id="Preloader_77_Layer4_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 17 -17
Q 10 -24 0 -24 -9.95 -24 -16.95 -17 -24 -9.95 -24 0 -24 9.95 -16.95 16.95 -9.95 24 0 24 9.95 24 17 16.95 24 9.95 24 0 24 -9.95 17 -17 Z" />
      </g>
      <g id="Tween_22_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 48 24
Q 48 14.05 41 7 34 0 24 0 14.05 0 7.05 7 0 14.05 0 24 0 33.95 7.05 40.95 14.05 48 24 48 33.95 48 41 40.95 48 33.95 48 24 Z" />
      </g>
      <g id="Tween_20_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 74 7
Q 67 0 57 0 47.05 0 40.05 7 33 14.05 33 24 33 33.95 40.05 40.95 47.05 48 57 48 66.95 48 74 40.95 81 33.95 81 24 81 14.05 74 7 Z" />
      </g>
      <g id="Tween_18_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 56.25 48
L 56.25 0 24.25 0 24.25 48 56.25 48 Z" />
      </g>
      <g id="Mask_Mask_Tween_24_0_Layer0_0_FILL">
        <path fill="#FFFFFF" stroke="none" d="
M -13.85 -16.25
L -13.85 14 16.4 14 16.4 -16.25 -13.85 -16.25 Z" />
      </g>
      <g id="Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
M 24.05 4
L 24.05 0
Q 14.1 -0.05 7.05 7 0.05 14 0 23.95 0 33.9 7.05 40.95 14.05 47.95 24 48
L 24 44
Q 15.75 43.95 9.9 38.1 4 32.25 4 23.95 4.05 15.7 9.9 9.85 15.8 3.95 24.05 4 Z" />
      </g>
      <path id="Tween_13_0_Layer0_0_1_STROKES" stroke="#FFFFFF" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" fill="none" d="
M -10.993569183349678 -0.8108070373534702
L -3.074864196777412 6.961766052246276 11.002833557128838 -6.8886085510253" />
    </defs>
    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
      <g transform="matrix( 1, 0, 0, 1, 0,0) ">
        <use xlink:href="#Preloader_77_Layer4_0_FILL" />
      </g>
      <g transform="matrix( 1, 0, 0, 1, -74,0) ">
        <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
          <use xlink:href="#Tween_22_0_Layer0_0_FILL" />
        </g>
      </g>
      <g transform="matrix( 1, 0, 0, 1, 74,0) ">
        <g transform="matrix( 1, 0, 0, 1, -57,-24) ">
          <use xlink:href="#Tween_20_0_Layer0_0_FILL" />
        </g>
      </g>
      <g transform="matrix( 4.6633758544921875, 0, 0, 1, -1,0) ">
        <g transform="matrix( 1, 0, 0, 1, -40.25,-24) ">
          <use xlink:href="#Tween_18_0_Layer0_0_FILL" />
        </g>
      </g>
      <g transform="matrix( 1, 0, 0, 1, 0,0) ">
        <mask id="Mask_Mask_1">
          <g transform="matrix( 1, 0, 0, 1, -14.5,-1.1) ">
            <g transform="matrix( 1, 0, 0, 1, -1.25,1.1) ">
              <use xlink:href="#Mask_Mask_Tween_24_0_Layer0_0_FILL" />
            </g>
          </g>
        </mask>
        <g mask="url(#Mask_Mask_1)">
          <g transform="matrix( 1, 0, 0, 1, 0,0) ">
            <g transform="matrix( 1.1731414794921875, 0, 0, 1.1688079833984375, 623.5,-1200.3) ">
              <use filter="url(#Filter_1)" xlink:href="#Tween_13_0_Layer0_0_1_STROKES" transform="matrix( 0.8524017333984375, 0, 0, 0.855560302734375, -531.45,1026.9) " />
            </g>
          </g>
        </g>
      </g>
    </g>
    <g transform="matrix( 1, 0, 0, 1, 136,1) ">
      <use xlink:href="#Layer0_0_FILL" />
    </g>
  </svg>
  <br>
  <svg *ngIf="stage === 5" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="320px" height="50px" viewBox="0 0 320 50">
    <defs>
      <g id="Preloader_87_Layer4_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 17 -17
  Q 10 -24 0 -24 -9.95 -24 -16.95 -17 -24 -9.95 -24 0 -24 9.95 -16.95 16.95 -9.95 24 0 24 9.95 24 17 16.95 24 9.95 24 0 24 -9.95 17 -17 Z" />
      </g>
      <g id="Tween_23_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 48 24
  Q 48 14.05 41 7 34 0 24 0 14.05 0 7.05 7 0 14.05 0 24 0 33.95 7.05 40.95 14.05 48 24 48 33.95 48 41 40.95 48 33.95 48 24 Z" />
      </g>
      <g id="Tween_21_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 74 7
  Q 67 0 57 0 47.05 0 40.05 7 33 14.05 33 24 33 33.95 40.05 40.95 47.05 48 57 48 66.95 48 74 40.95 81 33.95 81 24 81 14.05 74 7 Z" />
      </g>
      <g id="Tween_19_0_Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 56.25 48
  L 56.25 0 24.25 0 24.25 48 56.25 48 Z" />
      </g>
      <g id="Mask_Mask_Tween_25_0_Layer0_0_FILL">
        <path fill="#FFFFFF" stroke="none" d="
  M -13.85 -16.25
  L -13.85 14 16.4 14 16.4 -16.25 -13.85 -16.25 Z" />
      </g>
      <g id="Layer0_0_FILL">
        <path fill="#28BAD4" stroke="none" d="
  M 24.05 4
  L 24.05 0
  Q 14.1 -0.05 7.05 7 0.05 14 0 23.95 0 33.9 7.05 40.95 14.05 47.95 24 48
  L 24 44
  Q 15.75 43.95 9.9 38.1 4 32.25 4 23.95 4.05 15.7 9.9 9.85 15.8 3.95 24.05 4 Z" />
      </g>
      <path id="Tween_13_0_Layer0_0_1_STROKES" stroke="#FFFFFF" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" fill="none" d="
  M -10.993569183349678 -0.8108070373534702
  L -3.074864196777412 6.961766052246276 11.002833557128838 -6.8886085510253" />
    </defs>
    <g transform="matrix( 1, 0, 0, 1, 160,25) ">
      <g transform="matrix( 1, 0, 0, 1, 0,0) ">
        <use xlink:href="#Preloader_87_Layer4_0_FILL" />
      </g>
      <g transform="matrix( 1, 0, 0, 1, -131.5,0) ">
        <g transform="matrix( 1, 0, 0, 1, -24,-24) ">
          <use xlink:href="#Tween_23_0_Layer0_0_FILL" />
        </g>
      </g>
      <g transform="matrix( 1, 0, 0, 1, 131.5,0) ">
        <g transform="matrix( 1, 0, 0, 1, -57,-24) ">
          <use xlink:href="#Tween_21_0_Layer0_0_FILL" />
        </g>
      </g>
      <g transform="matrix( 8.326736450195312, 0, 0, 1, 0.35,0) ">
        <g transform="matrix( 1, 0, 0, 1, -40.25,-24) ">
          <use xlink:href="#Tween_19_0_Layer0_0_FILL" />
        </g>
      </g>
      <g transform="matrix( 1, 0, 0, 1, 0,0) ">
        <mask id="Mask_Mask_1">
          <g transform="matrix( 1, 0, 0, 1, 1.25,-1.1) ">
            <g transform="matrix( 1, 0, 0, 1, -1.25,1.1) ">
              <use xlink:href="#Mask_Mask_Tween_25_0_Layer0_0_FILL" />
            </g>
          </g>
        </mask>
        <g mask="url(#Mask_Mask_1)">
          <g transform="matrix( 1, 0, 0, 1, 0,0) ">
            <g transform="matrix( 1.1731414794921875, 0, 0, 1.1688079833984375, 623.5,-1200.3) ">
              <use xlink:href="#Tween_13_0_Layer0_0_1_STROKES" transform="matrix( 0.8524017333984375, 0, 0, 0.855560302734375, -531.45,1026.9) " />
            </g>
          </g>
        </g>
      </g>
    </g>
    <g transform="matrix( 1, 0, 0, 1, 136,1) ">
      <use xlink:href="#Layer0_0_FILL" />
    </g>
  </svg>
</div>
