.surface-light {
  color: #FAFAFC !important;
}
.surface {
  color: #F5F6FA !important;
}
.gray-0 {
  color: rgba(0, 0, 0, 0.3) !important;
}
.gray-1 {
  color: rgba(0, 0, 0, 0.4) !important;
}
.gray-2 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.gray-3 {
  color: rgba(0, 0, 0, 0.8) !important;
}
.black {
  color: black !important;
}


.textarea {
  border-color: #ccc;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    color: #333 !important;
}