.surface-light {
  color: #FAFAFC !important;
}
.surface {
  color: #F5F6FA !important;
}
.gray-0 {
  color: rgba(0, 0, 0, 0.3) !important;
}
.gray-1 {
  color: rgba(0, 0, 0, 0.4) !important;
}
.gray-2 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.gray-3 {
  color: rgba(0, 0, 0, 0.8) !important;
}

.textField {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.4);
    opacity: 1; /* Firefox */
  }
    
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.4);
  }
    
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.4);
  }
  color: black !important;
}

.textarea {
  border-color: #ccc;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    color: #333 !important;
}