:root {
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

/** Material Design typography **/
$font-styles: (
  headline-1: (
    font-size: 96px,
    line-height: 112px,
    letter-spacing: -1.5px,
    font-weight: var(--font-weight-light)
  ),
  headline-2: (
    font-size: 60px,
    line-height: 72px,
    letter-spacing: -0.5px,
    font-weight: var(--font-weight-light),
  ),
  headline-3: (
    font-size: 48px,
    line-height: 56px,
    letter-spacing: 0,
    font-weight: var(--font-weight-regular),
  ),
  headline-4: (
    font-size: 34px,
    line-height: 40px,
    letter-spacing: 0.25px,
    font-weight: var(--font-weight-regular),
  ),
  headline-5: (
    font-size: 24px,
    line-height: 28px,
    letter-spacing: 0,
    font-weight: var(--font-weight-regular),
  ),
  headline-6: (
    font-size: 20px,
    line-height: 24px,
    letter-spacing: 0.15px,
    font-weight: var(--font-weight-medium),
  ),
  subtitle-1: (
    font-size: 16px,
    line-height: 24px,
    letter-spacing: 0.15px,
    font-weight: var(--font-weight-regular),
  ),
  subtitle-2: (
    font-size: 14px,
    line-height: 24px,
    letter-spacing: 0.1px,
    font-weight: var(--font-weight-medium),
  ),
  subtitle-3: (
    font-size: 14px,
    line-height: 22px,
    letter-spacing: 0.15px,
    font-weight: var(--font-weight-regular),
    
  ),
  body-1: (
    font-size: 16px,
    line-height: 28px,
    letter-spacing: 0.44px,
    font-weight: var(--font-weight-regular),
  ),
  body-2: (
    font-size: 14px,
    line-height: 20px,
    letter-spacing: 0.25px,
    font-weight: var(--font-weight-regular),
  ),
  button: (
    font-size: 14px,
    line-height: 16px,
    letter-spacing: 0.75px,
    font-weight: var(--font-weight-medium),
  ),
  caption: (
    font-size: 12px,
    line-height: 16px,
    letter-spacing: 0.4px,
    font-weight: var(--font-weight-regular),
  ),
  overline: (
    font-size: 10px,
    line-height: 16px,
    letter-spacing: 1.5px,
    font-weight: var(--font-weight-medium),
  )
);

@mixin get-font-style($class-name) {
  $value: map-get($font-styles, $class-name);

  font-size: map-get($value, font-size) !important;
  line-height: map-get($value, line-height) !important;
  letter-spacing: map-get($value, letter-spacing) !important;
  font-weight: map-get($value, font-weight) !important;
}

@each $class-name, $value in $font-styles {
  .#{$class-name} {
    @include get-font-style($class-name);
  }
}

// Add roboto mono for monospaced fonts
