<ion-card class="practera-card" text-left>
  <ion-card-header class="q-title">
    {{ question.name }}
    <ion-text color="danger" *ngIf="question.isRequired">*</ion-text>
  </ion-card-header>
  <ion-card-content padding>

    <ng-container *ngIf="submission.answer">
      <ion-text>{{ submission.answer }}</ion-text>
    </ng-container>

    <div *ngIf="review.answer || review.comment" class="q-reviews">
      <ion-label class="q-title">Reviewer</ion-label>
      <b>Answer</b>
      <p>{{ review.answer ? review.answer : '' }}</p>
      <b>Comment</b>
      <p>{{ review.comment ? review.comment : '' }}</p>
    </div>

    <ng-container *ngIf="doAssessment">
      <ion-textarea class="background-white" margin-vertical #answer rows="4" (blur)="onChange(answer.value)"></ion-textarea>
      <ion-text *ngFor="let error of errors" color="danger">
        <p>{{error}}</p>
      </ion-text>
    </ng-container>

    <ng-container *ngIf="doReview">
      <ion-textarea *ngIf="question.canDo" class="background-white" #answer margin-vertical rows="4" (blur)="onChange(answer.value, 'answer')" placeholder="Please put your answer here"></ion-textarea>
      <ion-textarea *ngIf="question.allowComment" class="background-white" #comment margin-vertical rows="4" (blur)="onChange(comment.value, 'comment')" placeholder="Please put your feedback here"></ion-textarea>
    </ng-container>

  </ion-card-content>
</ion-card>