<ion-card class="practera-card" text-left>
  <ion-card-header class="q-title">
    {{ question.name }}
    <ion-text color="danger" *ngIf="question.isRequired">*</ion-text>
  </ion-card-header>
  <ion-card-content padding>

    <ng-container *ngIf="submission.answer">
      <ion-text>{{ submission.answer }}</ion-text>
    </ng-container>

    <div *ngIf="review.answer || review.comment" class="q-reviews">
      <ion-label class="q-title">Reviewer</ion-label>
      <b>Answer</b>
      <p>{{ review.answer ? review.answer : '' }}</p>
      <b>Comment</b>
      <p>{{ review.comment ? review.comment : '' }}</p>
    </div>

    <ng-container *ngIf="doAssessment || doReview">
      <ion-textarea class="background-white" #input rows="4"></ion-textarea>
    </ng-container>

  </ion-card-content>
</ion-card>