<div class="container">
  <div class="text-content">
    <ng-container *ngIf="nonCollapsible; else animated">
      <div id="{{name}}" #description [innerHtml]="content"
      class="full-height"></div>
    </ng-container>
    <ng-template #animated>
      <div id="{{name}}" #description [innerHtml]="content"
      [ngClass]="{
        'limit-height': isTruncating && !isInPopup,
        'limit-height-popup': isTruncating && isInPopup,
        'full-height-animated': !isTruncating && !isInPopup,
        'full-height-popup': !isTruncating && isInPopup
      }"
      style="overflow-wrap: anywhere;">
    </div>
  </ng-template>
  </div>

  <ng-container *ngIf="isTruncating && heightExceeded">
    <ion-button mode="ios" color="primary" fill="clear" (click)="openShut()">
      <ng-container i18n="expand article">MORE</ng-container>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </ng-container>

  <ng-container *ngIf="!isTruncating && heightExceeded">
    <ion-button mode="ios" color="primary" fill="clear" (click)="openShut()">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      <ng-container i18n="shrink article">LESS</ng-container>
    </ion-button>
  </ng-container>
</div>
