.app-home {
  overflow-y: visible;
  margin: 0;

  background: var(--ion-color-light) !important;
}

.margin-left-right {
  margin: 0 2em;
}

.todo-list {
  background: transparent !important;
}
.achievement {
  margin-bottom: 10px;
  a {
    float: right;
    padding-right: 10px;
  }
}
