/* You can add global styles to this file, and also import other style files */

// Need this to use @extend. because extend class in a different folder.
@use './theme/typography.scss';

/*******************
  Practera generic styles
*******************/
.m-0 {
  margin: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.white-space-pre {
  white-space: pre-wrap !important;
}

/*******************
  Practera popup styles
*******************/

.practera-popup {
  --max-height: 480px;
  --width: 280px;
  --border-radius: 12px;
  --box-shadow: none;
  &.desktop-view {
    margin-top: 0;
    margin-bottom: 0;
    &.achievement-popup {
      --width: 320px;
      --max-height: 425px;
    }
  }
  &.activity-complete-popup {
    --height: 200px;
  }
  &.mobile-view {
    position: fixed;
    bottom: 0;
    max-width: none;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  &.lock-assessment-popup{
    --height: 280px;
  }
}

.support-popup {
  --height: 580px;
  --width: 600px;
  --border-radius: 8px;
}

.pulsing {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
    box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
    box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
    box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
  }
}

.header-border {
  border-bottom: 1px solid var(--practera-grey-25);
}

ion-button {
  text-transform: capitalize;
  --border-radius: 8px;
}

// used for desktop view
.ion-toolbar-absolute {
  height: 60px;
}
.ion-content-absolute {
  position: absolute;
  top: 60px;
  z-index: 20;
  height: calc(100% - 60px);
}
.ion-content-absolute-with-footer {
  position: absolute;
  top: 60px;
  z-index: 20;
  height: calc(100% - 120px);
}
.ion-footer-absolute {
  position: absolute;
  height: 60px;
  bottom: 0;
  z-index: 30;
}

ion-chip.label {
  border-radius: 8px;
  padding: 2px 10px;
  margin: 4px 0 10px 0;
  height: 22px;
  text-transform: capitalize;
  --color: white;
  font-size: 12px;
  font-weight: 700 !important;
  &.danger {
    --background: var(--ion-color-danger) !important;
  }
  &.warning {
    background: var(--ion-color-warning) !important;
  }
  &.success {
    --background: var(--ion-color-success) !important;
  }
  &.dark-blue {
    --background: var(--practera-dark-blue-100) !important;
  }
  &.yellow {
    --background: var(--practera-yellow-100) !important;
    --color: black !important;
  }
  &.orange {
    --background: var(--practera-orange-100) !important;
  }
  ion-label {
    font-size: 12px;
    font-weight: 700 !important;
  }
}

// used in login, forgot password, regestration page
.div-logo {
  margin: 10vh auto 7vh;
  max-width: 320px;

  &.registration {
    margin-top: 5vh;
  }
}

.div-after-logo {
  margin: 0 30px 50px;
  ion-list {
    max-width: 480px;
    margin: auto;
    border-radius: 8px;
    ion-button {
      margin: auto;
      ion-icon {
        margin: 0;
      }
    }
  }
  p {
    max-width: 480px;
    margin: auto auto 16px auto;
  }
  ion-button {
    max-width: 256px;
    margin: 16px auto;
  }
}

.img-inline {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: auto !important;
}

.vertical-middle {
  vertical-align: middle;
}

.text-split {
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}

.clearfix {
  clear: both;
}

.for-accessibility {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/******************
  list empty message
******************/
.list-empty-message {
  text-align: center;
  padding: 0 12px 18px;
  border: 1px solid var(--practera-color-card-border);
  box-shadow: none;
  p {
    margin: 20px 0 8px;
  }
}

/******************
  ion-button
******************/
ion-button.practera-btn {
  --border-radius: 8px;
  --box-shadow: none;
  --background-focused: rgb(245, 66, 108) !important;
  text-transform: uppercase;

  &.mobile-btn {
    height: 32px;
    width: 94px;
  }
}
@media (max-width: 768px) {
  ion-button.btn-cta {
    width: 311px;
  }
}
@media (min-width: 768px) {
  ion-button.btn-cta {
    width: 420px;
  }
}

.fsp-picker__close-button{
  &:focus {
    background-color: var(--ion-color-primary);
    border-radius: 0.5em;
    opacity: 1;
  }
}

.no-ripple {
  --ripple-color: transparent;
}

.required-mark {
  color: var(--ion-color-danger);

  &.contrast {
    color: #EDFB32 !important;
  }
}

/*********
chat text editor
**********/
.editor-class {
  border: none !important;
  .ql-editor {
    max-height: 82px;
  }

  &.desktop {
    .ql-editor {
      max-height: 82px;
      min-height: 62px;
    }
  }
}

.ql-editor ol, .ql-editor ul {
  padding-left: 0;
}

.last-message {
  pointer-events: none;
  cursor: default;
  ol, ul, p, a {
    margin: 0 !important;
    pointer-events: none;
    cursor: default;
  }
}

.message-text {
  ol, ul, p, a {
    margin: 0 !important;
  }
  ol, ul {
    padding-left: 16px;
  }
}

/******************
  read only quill view
  Chat room message bubble.
******************/
quill-view {
  .ngx-quill-view {
    .ql-editor {
      padding: 0;
      color: black;
      margin: 0;
      text-align: left;
      user-select: all !important;
      white-space: pre-wrap !important;
      ol, ul, p, a {
        margin: 0 !important;
      }
      ol, ul {
        padding-left: 0;
      }
      ul {
        li {
          padding-left: 1em;
        }
      }
    }
  }
}

.chat-list {
  ion-item {
    ion-label {
      .message-body {
        quill-view {
          .ngx-quill-view {
            .ql-editor {
              @extend .subtitle-1;
              p, ol, ul, li, a {
                @extend .subtitle-1;
              }
            }
          }
        }
      }
    }
  }
}

.send-messages {
  .message-body {
    quill-view {
      .ngx-quill-view {
        .ql-editor {
          color: white !important;
            p {
              color: white !important;
              a {
                text-decoration: underline;
                color: white !important;
              }
            }
        }
      }
    }
  }
}

// textarea input
ion-textarea {
  overflow: visible;
}

/****************
Used in achievement
*****************/
.black-white-image {
  filter: grayscale(100%);
}
