<ion-header>
  <ion-toolbar class="project-toolbar">
    <ion-title center>Project</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  
    <ion-list class="milestone-bar bar-subheader">
      <ion-item class="bubbles-top" *ngFor="let level of levels" float-left >
          <ion-item *ngIf="!level.is_locked">
            <ion-icon *ngIf="level.progress >= 1" name="checkmark-circle"></ion-icon>
            <!--{{level.progress}}-->
            <circle-progress *ngIf="level.progress < 1"
              [percent]="level.progress * 100"
              [backgroundStrokeWidth]= "0"
              [radius]= "5"
              [space]= "-20"
              [maxPercent]= 100
              [backgroundColor]= "'#eaeaea'"
              [backgroundStroke]= "'#004987'"
              [backgroundStrokeWidth]= "0"
              [outerStrokeColor]= "'#2bbfd4'"
              [outerStrokeWidth]= "10"
              [showTitle]= false
              [showSubtitle]= false
              [showUnits]= false
              [showInnerStroke]= false
              [startFromZero]= false
              >
            </circle-progress >
          </ion-item>
        <ion-icon *ngIf="level.is_locked" name="lock" ></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
