<ion-header>
  <ion-toolbar>
    <ion-title center>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="milestone-bar">
<li *ngFor="let level of levels">
  <ion-icon *ngIf="level.progress >= 1" name="done"></ion-icon>
        <!--{{level.progress}}-->
        <circle-progress
          [percent]="level.progress * 100"
          [backgroundStrokeWidth]= "0"
          [radius]= "9"
          [space]= "-20"
          [maxPercent]= 100
          [backgroundColor]= "'#11dafd'"
          [unitsColor]= "'#483500'"
          [outerStrokeColor]= "'#47aeff'"
          [innerStrokeColor]= "'#FFFFFF'"
          [outerStrokeWidth]= "39"
          [innerStrokeWidth]= "25"
          [showTitle]= false
          [showSubtitle]= false
          [showUnits]= false
          [showInnerStroke]= false
          [startFromZero]= false
           ></circle-progress >
  
    <ion-icon *ngIf="level.is_locked" name="lock"></ion-icon>

</li>
</ion-content>
