<ion-split-pane *ngIf="!utils.isMobile()" contentId="main-content" when="xs">
  <app-activity #activity [activityId]="activityId" (navigate)="goto($event)"></app-activity>
  <ion-content color="light" id="main-content">
    <app-topic #topic *ngIf="topicId" [inputId]="topicId" [inputActivityId]="activityId"></app-topic>
    <app-assessment #assessment *ngIf="assessmentId" [inputId]="assessmentId" [inputActivityId]="activityId" [inputContextId]="contentId"></app-assessment>
  </ion-content>
</ion-split-pane>

<ion-content *ngIf="utils.isMobile()">
  <app-activity #activity [activityId]="activityId" (navigate)="goto($event)"></app-activity>
</ion-content>
