<ion-split-pane *ngIf="!utils.isMobile()" contentId="main-content" when="xs">
  <app-activity
    #activity
    [id]="activityId"
    [currentTask]="currentTask()"
    (navigate)="goto($event)"
    (tasksReady)="goToFirstTask($event)"
  ></app-activity>
  <ion-content color="light" id="main-content">
    <app-topic
      #topic
      *ngIf="topicId"
      [inputId]="topicId"
      [inputActivityId]="activityId"
      (navigate)="goto($event);activity.onEnter()"
      (onMarkAsDone)="activity.changeTaskStatus('Topic', topicId, 'done')"
    ></app-topic>
    <app-assessment
      #assessment
      *ngIf="assessmentId"
      [inputId]="assessmentId"
      [inputActivityId]="activityId"
      [inputContextId]="contextId"
      [inputAction]="'assessment'"
      (navigate)="goto($event);activity.onEnter()"
      (onSubmit)="activity.changeTaskStatus('Assessment', assessmentId, $event)"
      ></app-assessment>
  </ion-content>
</ion-split-pane>

<ion-content *ngIf="utils.isMobile()">
  <app-activity #activity [id]="activityId"></app-activity>
</ion-content>
