.ion-toolbar-absolute {
  text-align: center;
  --overflow: none;
  .scroll-y {
    overflow-y: none;
  }
}
ion-avatar {
  text-align: center;
  ion-icon {
    width: 32px;
    height: 32px;
    color: white;
  }

  // chat avatar colors
  &.color-team {
    background-color: var(--ion-color-primary);
  }

}

ion-grid {
  width: 100%;
}

.subtitle-1 {
  font-weight: var(--font-weight-medium);
}

.details-container {
  height: calc(100vh - 60px);
}

.details-container {
  padding: 28px 24px;
}

.who-in-chat-container {
  margin-top: 24px;
  .chat-role-container {
    margin-top: 12px;
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    flex-wrap: wrap;
    .chat-role {
      padding: 6px 12px;
      color: white;
      background: var(--ion-color-primary);
      border-radius: 16px;
      margin-right: 16px;
      margin-bottom: 7px;
      margin-top: 7px;
    }
  }

  &.channel-name {
    margin-top: 0px;
  }

}

.details-container {
  .enable-chat-container {
    margin-top: 24px;
    ion-button {
      --background: #fce4ec !important;
      color: var(--ion-color-danger-shade);
      &:hover {
        --background-hover: #fce4ec !important;
        color: var(--ion-color-danger-shade);
      }
    }
    .content {
      margin-top: 16px;
      display: -webkit-box;
      p {
        margin: 12px;
        margin-left: 16px;
      }
    }
  }
}

.member-container {
  .member-list {
    height: calc(100vh - 350px);
    overflow-y: auto;
    .subtitle-1 {
      font-weight: var(--font-weight-regular);
    }
    ion-item {
      --padding-start: 0px;
    }
  }
}

.border {
  border-left: 1px solid;
  border-left-color: var(--practera-40-percent-gray);
}
