<ion-header mode="ios" aria-label="chat room info">
  <ion-toolbar class="ion-toolbar-absolute">
    <ion-icon *ngIf="utils.isMobile()" name="arrow-back"
      (click)="close()" color="primary" slot="start" margin-start
    ></ion-icon>
    <ion-title class="heading-6 black" aria-label="channel details">
      Channel details
    </ion-title>
    <ion-button mode="ios" *ngIf="!utils.isMobile()"
      slot="end" fill="clear"
      size="small" (click)="close()"
      tabindex="0" (keydown)="close($event)"
      aria-label="close info view">
      <ion-icon color="primary" slot="icon-only"
        name="close-circle"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [ngClass]="{'border': !utils.isMobile()}">
  <div class="who-in-chat-container channel-name">
    <ion-label class="subtitle-1 black">{{ selectedChat.name }}</ion-label>
  </div>
  <div class="who-in-chat-container">
    <ion-label class="subtitle-1 gray-2">Who is in this chat</ion-label>
    <div class="chat-role-container">
      <ng-container *ngFor="let role of selectedChat.roles">
        <p class="chat-role body-2">{{ role }}s</p>
      </ng-container>
    </div>
  </div>
  <div class="member-container">
    <p class="subtitle-1 gray-2">{{ memberList.length }} Members</p>
    <ng-container *ngIf="loadingMembers">
      <div class="ion-text-center">
        <ion-spinner></ion-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="!loadingMembers">
      <div class="member-list">
        <ion-list lines="none" color="light" class="ion-no-padding">
          <ng-container *ngFor="let member of memberList">
            <ion-item *ngIf="member">
              <ion-avatar slot="start">
                <img [src]="member.avatar" [alt]="member.name">
              </ion-avatar>
              <ion-label>
                <p class="subtitle-1 black">{{member.name}}</p>
                <p class="caption gray-2" *ngIf="member.role !== 'participant'">{{member.role}}</p>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ng-container>
  </div>
</ion-content>
