<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let chat of chatList">
      <ion-item (click)="navigateToChatRoom(chat)" [class]="chat.unread_messages > 0 ? 'unread' : ''">
        <ion-avatar [ngClass]="chat.chat_color" slot="start">
          <ng-container *ngIf="chat.is_team; else avatarElseBlock"><ion-icon name="people"></ion-icon></ng-container>
          <ng-template #avatarElseBlock><p class="chat-avatar">{{getChatAvatarText(chat.name)}}</p></ng-template>
        </ion-avatar>
        <ion-label>
          <div class="chat-name-container">
            <h2>{{chat.is_team ? chat.team_name : chat.name}}</h2>
            <ng-container *ngIf="(chat.role === 'mentor') && (haveMoreTeam)"><span>mentor - {{chat.team_name}}</span></ng-container>
            <ng-container *ngIf="(chat.role === 'mentor') && (!haveMoreTeam)"><span>mentor</span></ng-container>
            <ng-container *ngIf="(chat.role !== 'mentor') && (!chat.is_team) && (haveMoreTeam)"><span>{{chat.team_name}}</span></ng-container>
          </div>
          <ng-container *ngIf="chat.last_message; else messgeElseBlock"><p>{{chat.last_message}}</p></ng-container>
          <ng-template #messgeElseBlock><p>No messages.</p></ng-template>
        </ion-label>
        <div slot="end" class="time-container">
          <span>{{chat.last_message_created}}</span>
          <ng-container *ngIf="chat.unread_messages > 0">
              <ion-badge>{{chat.unread_messages}}</ion-badge>
          </ng-container>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>