ion-avatar {

  ion-icon {
    width: 36px;
    height: 36px;
    color: white;
  }

  .chat-avatar {
    color: white;
    margin: auto;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
  }

  // chat avatar colors
  &.color-team {
    background-color: var(--practera-chat-color-colorteam);
  }

  &.color-1 {
    background-color: var(--practera-chat-color-color1);
  }

  &.color-2 {
    background-color: var(--practera-chat-color-color2);
  }

  &.color-3 {
    background-color: var(--practera-chat-color-color3);
  }

  &.color-4 {
    background-color: var(--practera-chat-color-color4);
  }

  &.color-5 {
    background-color: var(--practera-chat-color-color5);
  }

  &.color-6 {
    background-color: var(--practera-chat-color-color6);
  }

  &.color-7 {
    background-color: var(--practera-chat-color-color7);
  }

  &.color-8 {
    background-color: var(--practera-chat-color-color8);
  }

  &.color-9 {
    background-color: var(--practera-chat-color-color9);
  }

  &.color-10 {
    background-color: var(--practera-chat-color-color10);
  }

  &.color-11 {
    background-color: var(--practera-chat-color-color11);
  }

  &.color-12 {
    background-color: var(--practera-chat-color-color12);
  }

  &.color-13 {
    background-color: var(--practera-chat-color-color13);
  }

  &.color-14 {
    background-color: var(--practera-chat-color-color14);
  }

  &.color-15 {
    background-color: var(--practera-chat-color-color15);
  }

  &.color-16 {
    background-color: var(--practera-chat-color-color16);
  }

  &.color-17 {
    background-color: var(--practera-chat-color-color17);
  }

  &.color-18 {
    background-color: var(--practera-chat-color-color18);
  }

  &.color-19 {
    background-color: var(--practera-chat-color-color19);
  }

}

ion-item {
  &.unread {
    ion-label {
      h2 {
        color: var(--ion-color-primary);
      }
    }

    .time-container {
      span {
        color: var(--ion-color-primary);
      }
    }

  }

  .item-inner {
    border: none !important;
  }

  ion-label {
    margin: 10px 0 10px 0 !important;

    .chat-name-container {
      display: inline-flex !important;
      flex-wrap: wrap;
      text-overflow: inherit;
      overflow: inherit;
      width: 100% !important;

      span {
        border: 1px solid var(--ion-color-primary);
        color: var(--ion-color-primary);
        padding: 1px 5px 0 5px;
        border-radius: 10px;
        vertical-align: baseline;
        text-align: center;
        white-space: nowrap;
        font-size: 12px;
        line-height: 16px;
        margin-left: 3px;
        max-width: 70% !important;
        text-overflow: inherit;
        overflow: inherit;
      }

      .chat-name {
        text-overflow: inherit;
        overflow: inherit;
        max-width: 90%;
        width: fit-content;

        &.team-channel {
          max-width: -webkit-fill-available !important;
          width: auto !important;
          .chat-name-container {
            display: block !important;
          }
        }
      }

    }
  }

  .time-container {
    width: 22% !important;
    display: grid;
    text-align: -webkit-right;
    margin-left: 4px !important;

    span {
      font-size: 14px;
      color: var(--practera-chat-color-time-text-color);
    }

    ion-badge {
      max-width: 43px !important;
      border-radius: 8px !important;
      width: fit-content;
    }

  }
}
