.activity-name {
  margin: 0 0 10px;
}
.task-header {
  --background: var(--ion-color-primary-tint);
}
.task-count {
  margin-bottom: 11px;
}

.skeleton-header {
  width: 40%;
  height: 15px;
  margin: 0 30% 18px;
}

.focusable:focus {
  border: 1px solid var(--ion-color-primary);
  display: flex;
}
