.activity-info {
  margin: 0 0 10px;
  position: relative;
  z-index: 1;
  &.description {
    margin: 1em;
  }
}

.activity-backdrop {
  background-size: cover;
  background-position: center;
  min-height: 200px;
  color: #fff;
  text-shadow: 1px 1px 3px black;
}

.overlay {
  position: absolute;
  top: 0;
  width: 110%;
  height: 200px;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(33, 40, 55, 0.5), rgba(33, 40, 55, 0), rgba(33, 40, 55, 0)) !important;
  left: -10px;
}
.task-header {
  --background: var(--ion-color-primary-tint);
}
.task-count {
  margin-bottom: 11px;
}

.skeleton-header {
  width: 40%;
  height: 15px;
  margin: 0 30% 18px;
}

.focusable:focus {
  border: 1px solid var(--ion-color-primary);
  display: flex;
}
