<ion-header mode="ios">
  <ion-toolbar color="light">
    <ion-title>Animating static SVG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-item>
          <ion-label>Animated Tick</ion-label>
        </ion-item>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row center>
        <shared-animated-tick [stage]="6"></shared-animated-tick>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row center>
        <shared-animated-tick [stage]="1"></shared-animated-tick>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row center>
        <shared-animated-tick [stage]="2"></shared-animated-tick>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row center>
        <shared-animated-tick [stage]="3"></shared-animated-tick>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row center>
        <shared-animated-tick [stage]="4"></shared-animated-tick>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row center>
        <shared-animated-tick [stage]="5"></shared-animated-tick>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
