<ion-header mode="ios">
  <ion-toolbar color="light">
    <ion-title>Animating static SVG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Animated Tick</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <shared-animated-tick [stage]="7"></shared-animated-tick>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <shared-animated-tick [stage]="8"></shared-animated-tick>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
