.topic-wrapper {
  padding-top: 20px;
}
.topic-title {
  margin-bottom: 19px;
}
.topic-video {
  margin-bottom: 20px;
}
.downloads {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-tint);
}
.skeleton-header {
  width: 40%;
  height: 15px;
  margin: 0 30% 18px;
}
