<div *ngIf="topic" class="ion-padding topic-wrapper">
  <div class="headline-2 topic-title">{{topic.title}}</div>
  <div *ngIf="topic.videolink && topic.videolink !=='magiclink'" class="text-center topic-video">
    <div *ngIf="iframeHtml" class="video-embed" [innerHtml]="iframeHtml"></div>
    <video
      *ngIf="!iframeHtml"
      class="video-embed topic-video"
      [ngClass]="{'desktop-view': !utils.isMobile()}"
      width="100%"
      controls
      preload="metadata"
      [src]="topic.videolink">
    </video>
  </div>

  <app-description *ngIf="topic.content"
    class="body-2"
    [name]="'topic'+topic.id"
    [content]="topic.content"
    [nonCollapsible]="true"
  ></app-description>

  <div style="padding: 1em;" *ngIf="topic.files && topic.files.length > 0" color="light">
    <label class="subtitle-2 gray-2">Supporting Downloads</label>

    <div *ngFor="let file of topic.files" class="supporting-files">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="10" class="file-name-view">
            <p class="vertical-middle black" style="display: flex;">
              <ion-icon name="document" class="vertical-middle" color="primary"></ion-icon>&nbsp;{{file.name}}
            </p>
          </ion-col>
          <ion-col class="ion-align-self-center" size="2" style="display: flex;justify-content: space-evenly;align-items: center;">
            <ion-icon class="vertical-middle hover-pointer" *ngIf="file.url.length > 0" name="search"
              (click)="previewFile(file)" color="primary"></ion-icon>
            <a *ngIf="file.url.length > 0" [href]="file.url" download class="text-right" target="_blank">
              <ion-icon name="download-outline" class="float-right"></ion-icon>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <app-bottom-action-bar
    text="Mark as complete and continue"
    [disabled]="continuing"
    (onClick)="continuing = true;continue.emit(topic)"
  ></app-bottom-action-bar>
</div>

<div *ngIf="!topic" class="ion-padding">
  <ion-skeleton-text animated class="skeleton-header"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
</div>
