<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom" *ngIf="isMobile">
    <ion-tab-button class="tab-item" tab="home"
      [ngClass]="{'selected': selectedTab === 'home'}">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="events"
      [ngClass]="{'selected': selectedTab === 'events'}" *ngIf="showEvents">
      <ion-icon name="today"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="reviews"
      [ngClass]="{'selected': selectedTab === 'reviews'}" *ngIf="reviews && reviews.length">
      <ion-icon name="eye"></ion-icon>
      <ion-badge color="danger" *ngIf="badges.review > 0">{{ badges.review }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="messages"
      [ngClass]="{'selected': selectedTab === 'messages'}" *ngIf="showMessages">
      <ion-icon name="mail"></ion-icon>
      <ion-badge color="danger" *ngIf="badges.chat > 0">{{ badges.chat }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="dueStatus"
      [ngClass]="{'selected': selectedTab === 'dueStatus'}">
      <ion-icon name="mail"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="settings"
      [ngClass]="{'selected': selectedTab === 'settings'}">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

