<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Activity</ion-title>
    <ion-buttons slot="end">
      <app-personalised-header></app-personalised-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row *ngIf="(activity$ | async ) as activity">
      <ion-col size="12" size-md="5">
        <app-activity
          [activity]="activity"
          [(currentTask)]="currentTask"></app-activity>
      </ion-col>
      <ion-col size="12">
        <app-assessment
          *ngIf="currentTask"
          [inputId]="currentTask.id"
          [inputActivityId]="activity.id"
          [inputContextId]="currentTask.contextId"
          inputAction="assessment"
        ></app-assessment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
