<ion-header class="ion-no-border header-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Activity</ion-title>
    <ion-buttons slot="end">
      <app-personalised-header></app-personalised-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="(activity$ | async) as activity">
      <ion-col size="12" size-md="5" size-lg>
        <app-activity
          [activity]="activity"
          [currentTask]="currentTask$ | async"
          (navigate)="goToTask($event)"
        ></app-activity>
      </ion-col>

      <ion-col size="12" size-md="7" class="border-left">
        <ng-container *ngIf="(currentTask$ | async ) as currentTask">
          <app-assessment
            *ngIf="currentTask.type === 'Assessment'"
            [assessment]="assessment$ | async"
            [submission]="submission$ | async"
            [review]="review$ | async"
            [contextId]="currentTask.contextId"
            action="assessment"
            (save)="saveAssessment($event, currentTask)"
            (readFeedback)="readFeedback($event, currentTask)"
            (continue)="nextTask(currentTask)"
          ></app-assessment>

          <app-topic
            *ngIf="currentTask.type === 'Topic'"
            [topic]="topic$ | async"
            (continue)="topicComplete(currentTask)"
          ></app-topic>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
