<ion-header class="ion-no-border header-border" aria-label="activity">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" aria-label="back">
          <ion-icon slot="icon-only" color="grey-75" name="arrow-back-outline" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="ion-no-padding headline-4 grey-75" i18n>Activity</ion-title>
    <ion-buttons slot="end">
      <app-personalised-header></app-personalised-header>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="loading === true"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-md="4" size-lg>
        <app-activity
          [activity]="activity"
          [currentTask]="currentTask"
          [submission]="submission"
          (navigate)="goToTask($event)"
          (cannotAccessTeamActivity)="allTeamTasks($event)"
        ></app-activity>
      </ion-col>

      <ion-col #scrollableTaskContent
        size="12" size-md="8" class="border-left"
        (scroll)="onScroll()"
        [ngClass]="{'loading-overlay': isLoadingAssessment}">
        <ng-container *ngIf="notInATeamAndForTeamOnly === true; else showCurrentTask">
          <div class="centered-text">
            This assessment can only be accessed when you are in a team.
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="(assessment | async) as asmt">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" class="scrollable-fab">
      <ng-container *ngFor="let group of asmt.groups">
        <ion-fab-button *ngFor="let question of group.questions"
        (click)="takethis(question)"
        [title]="question.name"
        >
          <ion-icon name="document"></ion-icon>
        </ion-fab-button>
      </ng-container>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ng-template #showCurrentTask>
  <app-assessment
    *ngIf="currentTask?.type === 'Assessment'"
    [assessment]="assessment | async"
    [submission]="submission"
    [review]="review"
    [contextId]="currentTask.contextId"
    [activityId]="activity?.id"
    [savingMessage$]="savingText$"
    [btnDisabled$]="btnDisabled$"
    action="assessment"
    (save)="saveAssessment($event, currentTask)"
    (readFeedback)="readFeedback($event, currentTask)"
    (continue)="nextTask(currentTask)"
    tabindex="0"
    id="task-content"
  ></app-assessment>

  <app-topic *ngIf="currentTask?.type === 'Topic'"
    [topic]="topic"
    [task]="currentTask"
    (continue)="topicComplete(currentTask)"
    [buttonDisabled$]="btnDisabled$"
    tabindex="0"
    id="task-content"
  ></app-topic>
</ng-template>
