.border-left {
  border-left: 1px solid var(--practera-grey-25);
}

ion-content {
  > ion-grid, ion-row, ion-col {
    padding: 0px;
    overflow: hidden;
    height: 100%;
    ion-row {
      height: 100%;
      ion-col {
        overflow-y: auto;
        height: 100%;
      }
    }
  }
}

.large-icon {
  font-size: 80px;
}
.no-review {
  padding: 10px 15%;
}