<ion-content color="light" class="ion-text-center">
  <div class="div-logo">
    <app-branding-logo></app-branding-logo>
  </div>
  <div class="div-after-logo">
    <p class="headline-6">Forgot your password? No worries, mate!</p>
    <p class="body-1">Enter your email and we'll send you a link that will let you pick a new password.</p>
    <ion-list class="ion-margin">
      <ion-item>
        <ion-input name="email" [(ngModel)]="email" required type="text" placeholder="Email"></ion-input>
      </ion-item>
    </ion-list>
    <div class="clearfix"></div>
    <ion-button (click)="send()" shape="round" color="primary" expand="full">
      <ng-container *ngIf="!isSending">Send Email</ng-container>
      <ng-container *ngIf="isSending">Sending...</ng-container>
    </ion-button>
    <div class="text-split">
      <span><ion-text class="body-2 ion-margin-end"> Remembered it?</ion-text></span>
      <a class="subtitle-2" routerLink="/login">Login here</a>
    </div>
  </div>
</ion-content>
