.chat-list {
    ion-item {

        ion-avatar {

            margin: 2px 6px 2px 0 !important;
            margin-left: -8px !important;

            &.no-time {
                margin-top: -8% !important;
            }

            ion-icon {
                width: 36px;
                height: 36px;
                color: white;
            }

            .chat-avatar {
                color: white;
                margin: auto;
                text-align: center;
                font-weight: bold;
                line-height: 36px;
            }

            // chat avatar colors
            &.color-team {
                background-color: var(--practera-chat-color-colorteam);
            }

            &.color-1 {
                background-color: var(--practera-chat-color-color1);
            }

            &.color-2 {
                background-color: var(--practera-chat-color-color2);
            }

            &.color-3 {
                background-color: var(--practera-chat-color-color3);
            }

            &.color-4 {
                background-color: var(--practera-chat-color-color4);
            }

            &.color-5 {
                background-color: var(--practera-chat-color-color5);
            }

            &.color-6 {
                background-color: var(--practera-chat-color-color6);
            }

            &.color-7 {
                background-color: var(--practera-chat-color-color7);
            }

            &.color-8 {
                background-color: var(--practera-chat-color-color8);
            }

            &.color-9 {
                background-color: var(--practera-chat-color-color9);
            }

            &.color-10 {
                background-color: var(--practera-chat-color-color10);
            }

            &.color-11 {
                background-color: var(--practera-chat-color-color11);
            }

            &.color-12 {
                background-color: var(--practera-chat-color-color12);
            }

            &.color-13 {
                background-color: var(--practera-chat-color-color13);
            }

            &.color-14 {
                background-color: var(--practera-chat-color-color14);
            }

            &.color-15 {
                background-color: var(--practera-chat-color-color15);
            }

            &.color-16 {
                background-color: var(--practera-chat-color-color16);
            }

            &.color-17 {
                background-color: var(--practera-chat-color-color17);
            }

            &.color-18 {
                background-color: var(--practera-chat-color-color18);
            }

            &.color-19 {
                background-color: var(--practera-chat-color-color19);
            }

        }

        ion-label {
            .time {
                width: 100%;
                text-align: center;
                color: var(--practera-chat-color-time-text-color);
                margin-bottom: 8px;
            }

            .message-body {
                padding: 8px 16px;
                max-width: 224px;
                border-radius: 25px;
                width: fit-content;
                min-width: 73px;
                max-width: 224px;

                p {
                    color: var(--practera-black);
                    font-size: 16px;
                    line-height: 24px;
                    margin: 0;
                    text-align: left;
                    user-select: all !important;
                    white-space: pre-wrap !important;


                    a {
                        color: var(--practera-black);
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0;
                        text-align: left;
                      }

                }
            }

            .seen-text {
                padding: 8px 16px;
                color: var(--practera-chat-color-time-text-color);
            }

            &.reserved-messages {

                text-align: left;

                .message-body {
                    background-color: var(--ion-color-light);
                }

                .time {
                    margin-left: -10% !important;
                    width: -webkit-fill-available !important;
                }

                &.no-avatar {
                    margin-left: 10%;
                }

            }

            &.send-messages {

                text-align: right;

                .message-body {
                    background-color: var(--ion-color-primary);
                    // margin-left: calc(100% - 150px) !important;
                    float: right;

                    p {
                        color: var(--practera-white);

                        a {
                            color: var(--practera-white);
                            font-size: 16px;
                            line-height: 24px;
                            margin: 0;
                            text-align: left;
                          }
                    }

                }
            }

        }
    }
}

ion-footer {
    ion-item {
        border-top: 0.1px solid var(--practera-chat-footer-border-color) !important;
        ion-button {
            ion-icon {
                color: var(--practera-chat-footer-text-color) !important;
            }
        }

        ion-input {
            color: var(--practera-chat-footer-text-color) !important;
            font-size: small;
        }
    }
}