<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="back()" color="primary" slot="start" margin-start></ion-icon>
    <ion-title text-center>{{selectedChat.is_team ? selectedChat.team_name : selectedChat.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none" class="chat-list">
    <ng-container *ngFor="let message of messageList">
      <ion-item>
        <ng-container *ngIf="!message.is_sender">
          <ion-avatar [ngClass]="message.chat_color" slot="start">
            <p class="chat-avatar">{{getChatAvatarText(message.sender_name)}}</p>
          </ion-avatar>
        </ng-container>
        <ion-label [class]="message.is_sender ? 'send-messages' : 'reserved-messages'">
          <div class="time">
            <p>{{message.sent_time}}</p>
          </div>
          <div class="message-body">
            <p>{{message.message}}</p>
          </div>
          <ng-container *ngIf="message.sender_name && !message.is_sender">
            <div class="seen-text">
              <p>{{message.sender_name}}</p>
            </div>
          </ng-container>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
<ion-footer>
  <form (submit)="sendMessage()">
    <ion-item lines="none">
      <ion-input type="text" (keydown.enter)="sendMessage()" required placeholder="Enter your message" name="message" [(ngModel)]="message"></ion-input>
      <ion-button type="submit" slot="end" fill="clear" color="light">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</ion-footer>