$message-body-size: 224px;

.chat-list {
  background-color: transparent !important;

  ion-item {
    ion-avatar {
      margin: 2px 6px 2px 0 !important;
      margin-left: -8px !important;
      &.no-time {
        margin-top: -8% !important;
      }
    }

    ion-label {
      .time {
        width: 100%;
        text-align: center;
        color: var(--practera-chat-color-time-text-color);
        margin-bottom: 8px;
      }

      .message-body {
        padding: 8px 16px;
        min-width: 73px;
        max-width: $message-body-size;
        border-radius: 25px;
        width: fit-content;

        &.image {
          background: none !important;
          line-height: 0;
          padding: 0;
          cursor: pointer;
        }

        p, .message-text {
          color: black;
          font-size: 16px;
          line-height: 24px;
          margin: 0;
          text-align: left;
          user-select: all !important;
          white-space: pre-wrap !important;

          a.linkified {
            color: black;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            text-align: left;
          }
        }

        &.video-attachment-container {
          min-width: $message-body-size;
          min-height: 125px;
          background: #eaeaea !important;
          line-height: 0;
          padding: 0;
          display:block;
          position:relative;
          cursor: pointer;
          border: 1px #bbbbbb solid;

          #inner-box {
            border-radius: inherit;
            min-width: inherit;
            min-height: inherit;
            position: absolute;
            padding: 0;

            p {
              color: var(--ion-color-primary);
              margin-top: 1.5em;
              text-align: center;
              ion-icon {
                font-size: 5em !important;
              }
            }
          }

          .video {
            padding: inherit;
            min-width: 100%;
            max-width: inherit;
            min-height: 100%;
            max-height: inherit;
            border-radius: inherit;
          }

          .label {
            margin-left: 0.8em;
            text-shadow: 1px 1px white;
          }

          &:hover {
            background: #bbbbbb !important;
            opacity: 0.9;
            transition: 0.5s opacity, 0.5s background;
          }
        }
      }

      .seen-text {
        padding: 8px 16px;
        color: var(--practera-chat-color-time-text-color);
      }

      &.received-messages {
        text-align: left;

        .message-body {
          background-color: white;
        }

        .time {
          margin-left: -10% !important;
          width: -webkit-fill-available !important;
        }

        &.no-avatar {
          margin-left: 10%;
        }
      }

      &.send-messages {
        text-align: right;

        .message-body {
          background-color: var(--ion-color-primary);

          // consistent colour to make attachment standout
          &.general-attachment {
            background: white;
          }

          // margin-left: calc(100% - 150px) !important;
          float: right;

          .message-text {
            color: white !important;
            a.linkified {
              color: white;
            }
          }
        }
      }
    }
  }
}

.message-sending-loading {
  width: 100% !important;
  text-align: right !important;
}

.message-typing {
  width: 100% !important;
  text-align: left !important;
}

.footer {
  ion-grid {
    background-color: white;
    border-top: 0.1px solid var(--practera-chat-footer-border-color) !important;
  }

  ion-grid {
    ion-row {
      ion-col {
        ion-button {
          min-height: 28px;
          max-height: 100px;
          height: auto;
          ion-icon {
            font-size: 24px;
          }
        }
        ion-textarea {
          --padding-top: 0;
          --padding-end: 0;
          --padding-bottom: 0;
          --padding-start: 0;
        }
      }
    }
  }
}
