.ionic/
.sourcemaps/
.sass-cache/
.tmp/

assets/newrelic.js
coverage/
tests/
dist/
platforms
resources/android/icon
resources/android/splash
resources/ios/icon
resources/ios/splash
resources/windows/icon
resources/windows/splash
plugins
node_modules
src/coverage
src/well-known/assetlinks.json
*.DS_Store
www
e2e/config/index.ts
e2e/protractor-dev.conf.js
out-tsc

.gitsecret/keys/random_seed
!*.secret
android/app/google-services.json
src/environments/environment.alpha-native.ts
src/environments/environment.ts
android/local.properties
.gradle/*/executionHistory/*.lock

electron
src/environments/environment.production-native.ts
src/environments/environment.p2.ts
