<ion-header mode="ios">
  <ion-toolbar color="light">
    <ion-title>Select an Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-card class="practera-card">
    <ion-list *ngFor="let program of programs; let i = index">
      <clickable-item (click)="switch(i)" color="light" [lines]="i == programs.length - 1 ? 'none' : ''">
        <img src="/assets/thumbs/practera_icon.png" height="25" width="25" class="img-inline"> {{ program.program.name }}
      </clickable-item>
    </ion-list>
  </ion-card>
  <ion-card class="practera-card">
    <clickable-item (click)="logout()" lines="none">
      <ion-icon name="log-out" margin-end></ion-icon> Logout
    </clickable-item>
  </ion-card>
</ion-content>
