<ion-header mode="ios">
  <ion-toolbar color="light">
    <ion-title text-center padding-horizontal>Develop Your Skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <app-path-card class="path-card" [programs]=programs [loading]="true"></app-path-card>
    <!-- <ion-list class="no-bg" *ngFor="let program of programs; let i = index">
  </ion-list> -->
  <ion-card class="practera-card">
    <clickable-item>
      <ion-item (click)="logout()" lines="none">
          <ion-icon name="log-out" margin-end></ion-icon> Logout
      </ion-item>
    </clickable-item>

  </ion-card>
 
</ion-content>
