ion-header {
  // program switcher title no menu buttons required
  ion-toolbar > ion-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
ion-grid {
  --ion-grid-padding: 0;
  --ion-grid-padding-lg: 0;
  --ion-grid-padding-md: 0;
  --ion-grid-padding-sm: 0;
  --ion-grid-padding-xl: 0;
  --ion-grid-padding-xs: 0;
}
ion-col {
  --ion-grid-column-padding: 8px;
  --ion-grid-column-padding-lg: 8px;
  --ion-grid-column-padding-md: 8px;
  --ion-grid-column-padding-sm: 8px;
  --ion-grid-column-padding-xl: 8px;
  --ion-grid-column-padding-xs: 8px;
}
ion-progress-bar {
  margin-top: 5px;
}
