.todo-card {
  border: .5px solid #d8dbeb;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  min-height: 58px;
}
.todo-item {
  --border-width: 0px !important;
}
.ending-arrow {
  margin-left: 5px;
  margin-right: -6px;
  font-size: 1.2em;
}