<ion-content color="light" text-center>
  <div style="margin: 50px 30px 0;">

    <div *ngIf="type == 'forgotPasswordConfirmation'">
      <p>We have sent an email to "<i>{{ data.email }}</i>" with a link to log into the system - please check your inbox. 
      <p style="margin: 20px 0 50px;">If you haven't received an email in a few minutes, please make sure the email you entered is correct and check your spam folder. Thank you.</p>
    </div>
    
    <ion-button (click)="confirmed()" shape="round" color="primary" expand="full">OK</ion-button>
  </div>
</ion-content>