<ion-content class="experience-page" [class]="{'mobile': isMobile}">
  <ng-container *ngIf="(programs$ | async ) as programs">

    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="ion-justify-content-start ion-align-items-start ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin">
          <div class="institute-logo-container">
            <img [src]="instituteLogo || '/assets/logo.svg'" [attr.alt]="'branding logo'">
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="card-row ion-justify-content-center ion-align-items-center ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin">

          <ion-item class="headline-4 experiences-block ion-hide-sm-up" lines="none">Experiences</ion-item>

          <div class="exp-card-container">
            <h1 class="headline-1 m-0 black ion-hide-sm-down">Your experiences</h1>
            <p class="subtitle-1 m-0 grey-75 ion-hide-sm-down">Access and check the progress of your experiences below</p>
            <div class="cards" [ngClass]="programs.length > 1 ? 'left' : 'center'">
              <ng-container *ngFor="let program of programs">
                <ion-card class="exp-card ion-no-margin" [attr.aria-label]="program.program.name" (click)="switchProgram(program)">
                  <img [src]="program.project.lead_image ? program.project.lead_image : '../../../assets/default-experience-image.svg'" alt="{{ program.program.name }}">
                  <ion-card-content>
                    <p class="m-0 headline-3 exp-title black">{{ program.program.name }}</p>
                    <div class="exp-info subtitle-3 grey-50">
                      <p class="m-0 subtitle-3 grey-50">{{program.progress}}% Progress</p>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ng-container>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>
</ion-content>
