<ion-header class="ion-no-border header-border" aria-label="home">
  <h1 class="for-accessibility" i18n>Home</h1>
  <ion-toolbar>
    <img class="ion-padding-start" [src]="instituteLogo || './assets/logo.svg'" i18n-alt [attr.alt]="'branding logo'">
    <ion-buttons slot="end">
      <app-personalised-header [isExpPage]="true"></app-personalised-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="experience-page" [class]="{'mobile': isMobile}">
  <ng-container *ngIf="(experiences$ | async ) as experiences">
    <header>
      <h1 id="experiences" class="for-accessibility" i18n>Experiences</h1>
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-justify-content-start ion-align-items-start ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <div class="institute-logo-container ion-text-center">
              <img [src]="instituteLogo || './assets/logo.svg'" i18n-alt [attr.alt]="'branding logo'">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </header>
    <main aria-labelledby="experiences">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="card-row ion-justify-content-center ion-align-items-center ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-item class="headline-4 experiences-block ion-hide-sm-up" lines="none" i18n>Experiences</ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="card-row ion-justify-content-center ion-align-items-center ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin exp-col">
            <ion-card class="exp-card-container">
              <ion-card-header class="title-container ion-hide-sm-down">
                <h1 class="headline-1 m-0 black ion-hide-sm-down" i18n>Your experiences</h1>
                <p class="subtitle-1 m-0 grey-75 ion-hide-sm-down" i18n>Access and check the progress of your experiences below
                </p>
              </ion-card-header>
              <ion-card-content class="cards" [ngClass]="experiences.length > 1 ? 'left' : 'center'">
                <ion-grid>
                  <ion-row>

                  <ng-container *ngFor="let program of experiences">
                    <ion-col class="ion-align-self-center" size="12" size-sm="6" size-md="4">
                      <ion-card class="exp-card ion-no-margin"
                        [attr.aria-label]="program.name"
                        (click)="switchProgram(program)" (keydown)="switchProgram(program, $event)" tabindex="0">
                        <div class="exp-image-container">
                          <img
                          [src]="program.leadImage ? program.leadImage : '../../../assets/default-experience-image.svg'"
                          [attr.alt]="program.name + ' experience selection'">
                        </div>
                        <ion-card-content>
                          <p class="m-0 headline-3 exp-title black">{{ program.name }}</p>
                          <div class="exp-info subtitle-3 grey-50"
                             *ngIf="progresses[program.projectId]">
                            <p class="m-0 subtitle-3 grey-50" i18n>{{progresses[program.projectId]}}% Progress</p>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ng-container>

                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </main>
  </ng-container>
</ion-content>
