<h3 class="for-accessibility" [id]="'team-member-selector-question-' + question.id">{{question.name}}</h3>

<ng-container *ngIf="isDisplayOnly">
  <ion-list class="no-bg ion-no-padding">
    <ion-radio-group [value]="submission?.answer">
      <ng-container *ngFor="let teamMember of question.teamMembers;let i = index">
        <ion-item class="item-bottom-border" lines="none">
          <ion-label>
            {{ teamMember.userName }}
            <p *ngIf="teamMember.key === submission.answer || teamMember.key === review.answer">
              <ion-chip class="label orange" *ngIf="teamMember.key === submission.answer" i18n>Learner's answer</ion-chip>
              <ion-chip class="label yellow black" *ngIf="teamMember.key === review.answer" i18n>Expert's answer</ion-chip>
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-radio-group>
  </ion-list>
  
  <ng-container *ngIf="review?.comment">
    <ion-item class="feedback-title ion-no-padding" lines="none">
      <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
      <ion-label i18n>Feedback</ion-label>
    </ion-item>
    <ion-textarea class="ion-no-margin preview textarea white-space-pre"
      [autoGrow]="true"
      [value]="review.comment"
      [disabled]="true"
    ></ion-textarea>
  </ng-container>
</ng-container>

<ng-container *ngIf="doAssessment">
  <ion-list class="no-bg">
    <ion-radio-group
      [attr.aria-labelledby]="'team-member-selector-question-' + question.id"
      [value]="submission.answer"
      #answerEle
      (ionChange)="onChange(answerEle.value)">
      <ion-item lines="none"
        *ngFor="let teamMember of question.teamMembers;let i = index"
        [ngClass]="{'item-bottom-border': i !== question.teamMembers.length - 1}">
        <ion-radio
          color="success"
          slot="start"
          [value]="teamMember.key"
          [disabled]="control.disabled"
        ></ion-radio>
        <ion-label class="white-space-normal body-2 black">{{ teamMember.userName }}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ng-container>

<ng-container *ngIf="doReview">
  <ion-list class="no-bg ion-no-padding"
    *ngIf="question.canAnswer" lines="none">
    <ion-radio-group #answerEle
      [attr.aria-labelledby]="'team-member-selector-question-' + question.id"
      [value]="review.answer"
      (ionChange)="onChange(answerEle.value, 'answer')">

      <ion-item lines="none"
        *ngFor="let teamMember of question.teamMembers;let i = index"
        [ngClass]="{'item-bottom-border': i !== question.teamMembers.length - 1 }">
        <ion-radio color="success" slot="start" [value]="teamMember.key" [disabled]="control.disabled" mode="md"></ion-radio>
        <ion-label class="white-space-normal body-2 black">
          {{ teamMember.userName }}
          <p *ngIf="teamMember.key === submission.answer || teamMember.key === review.answer">
            <ion-chip class="label orange" *ngIf="teamMember.key === submission.answer" i18n>Learner's answer</ion-chip>
          </p>
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list class="ion-no-padding ion-padding-bottom"
    *ngIf="question.canComment && submission.answer">
    <ion-list-header class="ion-no-padding" lines="none">
      <ion-label class="subtitle-2 black" i18n>Feedback</ion-label>
    </ion-list-header>
    <ion-textarea *ngIf="question.canComment"
    [autoGrow]="true"
    [attr.aria-label]="'expert\'s review feedback'"
    #commentEle
    class="textarea"
    rows="4"
    [(ngModel)]="comment"
    (ngModelChange)="onChange(comment, 'comment')"
    placeholder="Please put your feedback here" i18n-placeholder
    [disabled]="control.disabled"
  ></ion-textarea>
  </ion-list>

</ng-container>
