.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.support-description {
  margin-top: 16px;
  margin-bottom: 12px;
}

.question-list {
  max-height: 42vh;
  overflow-y: scroll;

  .question-item {
    ion-item {
      ion-label {
        font-weight: 700 !important;
        text-transform: uppercase;
      }
    }
  }
}

.close-button {
  &.qna {
    margin-top: 10px;
  }
  float: right;
}

.form-title {
  margin-bottom: 5px;
  margin-top: 10px;
}

.form-field-label,
.form-field {
  margin-bottom: 10px;
  .required {
    color: red;
  }
}

.form-field {
  border-width: 1px;
  border-style: solid;
  border-color: var(--practera-grey-50);
  border-radius: 5px;
  --highlight-background: var(--ion-color-primary);
}

.file-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;

  p {
    margin: 0;
    margin-left: 5px;

    &.file-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width:220px;
    }

    &.remove-button {
      cursor: pointer;
    }
  }
}

.success-container {
  height: 500px;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;

  ion-icon {
    font-size: 72px;
    color: var(--practera-yellow-100);
  }

}

.error-message {
  margin: auto;
  font-size: small;
  color: red;
}

ion-item.list-terms {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --min-height: 0;
  --background: transparent;
  --border-width: 0;
  --border-color: transparent;
  --border-style: none;
  --inner-border-width: 0;
  --inner-border-color: transparent;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  --inner-border-style: none;

  text-align: left;
  background: transparent;

  ion-checkbox {
    vertical-align: middle;
  }

  ion-label {
    white-space: normal;
  }

  a {
    cursor: pointer;
  }

  &::part(native):hover {
    --background: none;
  }
}
