.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.support-description {
  margin-top: 16px;
  margin-bottom: 12px;
}

.question-list {
  max-height: 320px;
  overflow: auto;

  .question-item {
    ion-item {
      ion-label {
        font-weight: 700 !important;
        text-transform: uppercase;
      }
    }
  }
}

.close-button {
  margin-top: 37px;
  float: right;
}

.form-titile {
  margin-bottom: 20px;
}

.form-field-label,
.form-field {
  margin-bottom: 10px;
}

.file-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;

  p {
    margin: 0;
    margin-left: 5px;

    &.file-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width:220px;
    }

    &.remove-button {
      cursor: pointer;
    }
  }
}
