.go-mobile {
    ion-grid {
        background-image: url(/assets/img/mobile-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;

        p {
            margin-left: 10%;
            margin-right: 10%;
        }

        img {
            padding-top: 3.5em;
        }

        ion-item {
            
        }
    }

}