<div (click)="showEventDetail()">
  <ion-icon class="leading-icon" name="calendar" [color]="isPast() ? 'medium' : 'primary'"></ion-icon>
  <div class="content" [ngClass]="{'content-expired': event.isPast && !event.isBooked}">
    <h4 [ngClass]="{'past': isPast()}" class="event-name subtitle-1">{{ event.name }}</h4>
    <p color="medium" class="event-activity-name caption gray-2">{{ event.activityName }}</p>
    <p color="medium" class="event-time caption gray-2">{{ time }}</p>
  </div>
  <div *ngIf="event.isPast && !event.isBooked" class="expired-batch past">
    Expired
  </div>
  <ion-icon *ngIf="!isPast()" class="ending-arrow" name="arrow-forward" color="primary"></ion-icon>
</div>
