<div (click)="showEventDetail()">
  <ion-icon class="leading-icon" name="calendar" [color]="isPast() ? 'medium' : 'primary'"></ion-icon>
  <div class="content">
    <h4 [ngClass]="{'past': isPast()}">{{ event.name }}</h4>
    <p color="medium">{{ event.activityName }}</p>
    <p color="medium">{{ time }}</p>
  </div>
  <div *ngIf="event.isPast && !event.isBooked" class="expired-batch past">
    Expired
  </div>
  <ion-icon *ngIf="!isPast()" class="ending-arrow" name="arrow-forward" color="primary"></ion-icon>
</div>
