<ion-header mode="ios">
  <ion-toolbar [ngClass]="{'ion-toolbar-absolute': !utils.isMobile()}">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon class="icon-backward ion-margin-start" name="arrow-back" color="primary" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="light" [ngClass]="{
  'ion-content-absolute': !utils.isMobile(),
  'ion-content-mobile': utils.isMobile()
}">

  <ng-container *ngIf="loadingActivity">
    <p><ion-skeleton-text animated style="width: 40%; margin-left: 30%; height: 20px"></ion-skeleton-text></p>
    <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
    <div class="ion-text-left ion-margin-top">
      <ion-label color="medium" class="subtitle-2 gray-2">Tasks</ion-label>
    </div>
    <ion-card class="practera-card">
      <ion-list>
        <app-list-item loading="true"></app-list-item>
        <app-list-item loading="true" lines="none"></app-list-item>
      </ion-list>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!loadingActivity">
    <h1 class="headline-4">{{ activity.name }}</h1>
    <div class="ion-text-left">
      <app-description *ngIf="activity.description" [content]="activity.description" class="body-1"></app-description>
    </div>
    <div class="ion-text-left ion-margin-top">
      <ion-label color="medium" class="subtitle-2 gray-2">Tasks</ion-label>
      <ion-button style="display: none;" (click)="getNextTask()">Get Next</ion-button>
    </div>

    <ion-card class="practera-card" id="tasks-card">
      <ion-list>
        <app-list-item
          *ngFor="let task of activity.tasks; let i = index"
          [leadingIcon]="taskLeadingIcon(task)"
          [leadingIconPulsing]="assessmentNotSubmitted(task) && task.isDueToday"
          [title]="task.name"
          [subtitle1]="assessmentNotSubmitted(task) ? sharedService.dueDateFormatter(task.dueDate) : ''"
          [subtitle1Color]="task.isOverdue ? 'danger' : ''"
          [subtitle2]="taskSubtitle2(task)"
          [endingIcon]="taskEndingIcon(task)"
          [active]="currentTask && currentTask.type == task.type && currentTask.id == task.id"
          [lines]="i == activity.tasks.length - 1 ? 'none' : ''"
          (click)="goto(task)"
        ></app-list-item>
      </ion-list>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="loadingEvents">
    <ion-spinner></ion-spinner>
  </ng-container>
  <ng-container *ngIf="events && events.length > 0">
    <div class="ion-text-left ion-margin-top">
      <ion-label class="subtitle-2 gray-2">Events</ion-label>
    </div>
    <ion-card class="practera-card" id="events-card">
      <ion-list>
        <ng-container *ngFor="let event of events; let i = index">
          <app-list-item
            *ngIf="i < 2"
            leadingIcon="calendar-outline"
            [leadingIconColor]="eventListService.isNotActionable(event) ? 'medium' : 'primary'"
            [title]="event.name"
            [titleColor]="eventListService.isNotActionable(event) ? 'gray-2' : ''"
            [subtitle1]="event.activityName"
            [subtitle2]="eventListService.timeDisplayed(event)"
            [endingIcon]="!eventListService.isNotActionable(event) ? 'arrow-forward' : ''"
            [eventExpired]="event.isPast && !event.isBooked"
            [lines]="i == events.length - 1 ? 'none' : ''"
            (click)="gotoEvent(event)"
          ></app-list-item>
        </ng-container>
        <clickable-item
          *ngIf="events.length > 2"
          lines="none"
          (click)="gotoEvent()">
          <ion-icon name="ellipsis-vertical" color="primary" class="ion-margin-end"></ion-icon>
          <p>Show More</p>
        </clickable-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>
