.label {
  font-weight: bold;
}
.icon-check {
  font-size: 30px;
}
.icon-forward {
  font-size: 20px;
}
div {
  &.icon-item {
    p {
      font-size: 12px;
    }
  }
}
.task-leading-icon {
  margin-right: 20px;
}
