<ion-header mode="ios">
  <ion-toolbar color="light">
    <ion-icon name="arrow-back" (click)="back()" color="primary" slot="start" margin-start></ion-icon>
    <ion-title text-center>Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light" text-center>
  <ng-container *ngIf="loadingActivity">
    <ion-spinner></ion-spinner>
  </ng-container>
  <h1>{{ activity.name }}</h1>
  <div text-left>
    <app-description *ngIf="activity.description" [content]="activity.description"></app-description>
  </div>
  <div text-left margin-top>
    <ion-label color="medium" class="label">
      Tasks
    </ion-label>
  </div>

  <ion-card class="practera-card" id="tasks-card">
    <ion-list>
      <clickable-item
        *ngFor="let task of activity.tasks; let i = index"
        (click)="checkAssessment(task)"
        [lines]="i == activity.tasks.length - 1 ? 'none' : ''">

        <ng-container [ngSwitch]="task.type">

          <ng-container *ngSwitchCase="'Locked'">
            <ion-icon name="lock" slot="start" color="primary"></ion-icon>
          </ng-container>
          <ng-container *ngSwitchCase="'Topic'">
            <ion-icon name="list-box" slot="start" color="primary"></ion-icon>
          </ng-container>
          <ng-container *ngSwitchCase="'Assessment'">
            <ion-icon name="clipboard" slot="start" [class]="(task.isDueToday && (task.status === '' || task.status === 'in progress')) ? 'pulsing ng-star-inserted ion-color ion-color-primary hydrated' : 'ng-star-inserted ion-color ion-color-primary hydrated'" color="primary"></ion-icon>
          </ng-container>
          <div class="icon-item">
            <h4>{{ task.name }}</h4>
            <p *ngIf="task.type === 'Assessment' && (task.status === '' || task.status === 'in progress')" [class]="task.isOverdue ? 'due-date over' : 'due-date'">
              <ng-container *ngIf="!task.loadingStatus">{{ this.sharedService.dueDateFormatter(task.dueDate) }}</ng-container>
            </p>
            <p>
              <ion-text *ngIf="task.type != 'Locked'" [color]="task.status == 'feedback available' ? 'primary' : 'medium'">
                {{ task.type }}
                <ng-container *ngIf="!task.loadingStatus; else spinner">
                  <ng-container *ngIf="task.isLocked; else status"> - Locked by {{task.submitter.name}}</ng-container>
                  <ng-template #status>{{ task.status }}</ng-template>
                </ng-container>
                <ng-template #spinner><ion-spinner name="dots" class="vertical-middle"></ion-spinner></ng-template>
              </ion-text>
            </p>
          </div>

          <ng-container *ngIf="!task.loadingStatus; else iconSpinner">
            <ng-container *ngIf="task.isLocked; else otherIcons">
              <ion-icon name="md-lock" slot="end" color="medium"></ion-icon>
            </ng-container>
            <ng-template #otherIcons>
              <ng-container *ngIf="!task.status || task.status == 'feedback available' || task.status == 'in progress'">
                <ion-icon name="arrow-forward" slot="end" color="primary" class="icon-forward"></ion-icon>
              </ng-container>

              <ng-container *ngIf="task.status == 'done'">
                <ion-icon name="checkmark" slot="end" color="primary" class="icon-check"></ion-icon>
              </ng-container>

              <ng-container *ngIf="task.status == 'pending review'">
                <ion-icon name="hourglass" slot="end" color="primary"></ion-icon>
              </ng-container>
            </ng-template>

          </ng-container>

          <ng-template #iconSpinner>
            <ion-spinner slot="end"></ion-spinner>
          </ng-template>

        </ng-container>
      </clickable-item>
    </ion-list>
  </ion-card>

  <ng-container *ngIf="loadingEvents">
    <ion-spinner></ion-spinner>
  </ng-container>
  <ng-container *ngIf="events && events.length > 0">
    <div text-left margin-top>
      <ion-label color="medium" class="label">
        Events
      </ion-label>
    </div>
    <ion-card class="practera-card" id="events-card">
      <ion-list>
          <ng-container *ngFor="let event of events; let i = index">
              <clickable-item *ngIf="i < 2">
                  <event-card
                    [event]="event"
                    [time]="displayEventTime(event)"
                    class="width-100"
                  ></event-card>
                </clickable-item>
          </ng-container>
        <clickable-item
          *ngIf="events.length > 2"
          lines="none"
          (click)="router.navigate(['events', {activityId: id}])">
          <ion-icon name="more" color="primary" margin-end></ion-icon>
          <p>Show More</p>
        </clickable-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>
