<ion-content class="review-rating ion-padding-horizontal">
  <div class="header-detail">
    <h1 class="title">Rating</h1>
    <!-- AV2-169 review rating is compulsory -->
   <!--  <ion-icon class="close-button" name="close-circle-outline" (click)="closeReviewRating()"></ion-icon> -->
  </div>

  <hr class="separator">

  <h2 class="title">How helpful was the feedback?</h2>

  <div>
    <ion-range min="0" max="1" step="any" [(ngModel)]="ratingData.rating"></ion-range>

    <div class="range-text">
      <p>Not helpful</p>
      <p>Very helpful</p>
    </div>
  </div>

  <hr *ngIf="ratingData.rating !== 0.5" class="separator">
  <h2 *ngIf="ratingData.rating !== 0.5" class="subTitle">Send a quick thank you note!</h2>
  <div *ngIf="ratingData.rating !== 0.5" class="quick-tagging">
    <a class="toggle" [class.active]="ratingData.tags.includes('Thanks')" (click)="addOrRemoveTags('Thanks')">Thanks</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('Thank You')" (click)="addOrRemoveTags('Thank You')">Thank You</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('You are awesome!')" (click)="addOrRemoveTags('You are awesome!')">You are awesome!</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('Great support')" (click)="addOrRemoveTags('Great support')">Great support</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('Very helpful')" (click)="addOrRemoveTags('Very helpful')">Very helpful</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('Friendly')" (click)="addOrRemoveTags('Friendly')">Friendly</a>
  </div>
  <br>

  <ion-input *ngIf="ratingData.rating !== 0.5" placeholder="Add a personal thank you" class="comment-box ion-padding-horizontal" [(ngModel)]="ratingData.comment"></ion-input>

  <br>
  <div class="div-after-logo ion-text-center">
    <ion-button
      [disabled]="ratingData.rating === 0.5 || isSubmitting"
      (click)="submitReviewRating()"
      shape="round"
      class="btn-cta">
      <ng-container *ngIf="!isSubmitting">Submit</ng-container>
      <ng-container *ngIf="isSubmitting">Submitting...</ng-container>
    </ion-button>
  </div>
</ion-content>
