<ion-header mode="ios">
  <ion-toolbar>
    <ion-icon *ngIf="previewUrl"
      name="download"
      (click)="download()"
      (keydown)="download($event)"
      color="primary"
      size="large"
      slot="end"
      margin-start
      role="button"
      tabindex="0"
      aria-label="download"
    ></ion-icon>

    <ion-icon name="close-circle-outline"
      (click)="close()"
      (keydown)="close($event)"
      color="primary"
      size="large"
      slot="end"
      margin-start
      role="button"
      tabindex="0"
      aria-label="close preview"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <div class="wrapper">
    <ng-container *ngIf="file?.type?.includes('image')">
      <img [src]="previewUrl" alt="uploaded attachment preview" i18n-alt>
    </ng-container>

    <ng-container *ngIf="isBrowserSupportedVideo()">
      <video
        width="100%"
        controls
        controlsList="nodownload"
        preload="metadata"
        playsinline
        [src]="previewUrl"
        (error)="handleVideoError($event)"
      >
        <p i18n="video not supported message">
          Your browser doesn't support HTML5 video.
          <a [href]="previewUrl" class="contrast">Download the video</a> instead.
        </p>
      </video>
    </ng-container>

    <ng-container *ngIf="file?.type?.includes('video') && !isBrowserSupportedVideo()">
      <div class="ion-padding ion-text-center">
        <ion-icon name="videocam-off-outline" size="large" color="medium"></ion-icon>
        <p class="body-2" i18n="unsupported video format message">
          This video format is not supported for preview.
          <br>
          <a [href]="previewUrl" target="_blank" rel="noopener">Download to view</a>
        </p>
      </div>
    </ng-container>
  </div>
</ion-content>
