@mixin animation {
  animation-duration: 3s;
  // animation-iteration-count: infinite;
}

.contain {
  text-align: center;
  margin: auto;
  background-image: url("/assets/img/unlocking-background.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  .badge {
    width: 25%;
    float: left;
    margin: 25% 0 0 20%;
    animation-name: animation-badge;
    animation-duration: 1.5s;
  }
  .div-svg {
    display: inline-block;
    margin: 10% 0 30% -10%;
    width: 60%;
  }
  svg {
    width: 100%;
    height: 100%;
    .lock-color {
      fill: var(--ion-color-primary);
    }
    .lock-color-stroke {
      stroke: var(--ion-color-primary);
    }
    // blur filter only applies to the first 6 frames
    .blur-only {
      @include animation;
      animation-name: animation-blur-only;
      opacity: 0;
    }
    .blur-filter {
      @include animation;
      animation-name: animation-blur-filter;
      filter: url(#blur-filter-6);
    }
    .blur-lock {
      @include animation;
      animation-name: animation-blur-lock;
      transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,173);
    }
    // lock starts from frame 7
    .lock-only {
      @include animation;
      animation-name: animation-lock-only;
      opacity: 1;
    }
    .lock-head {
      @include animation;
      animation-name: animation-lock-head;
      transform: matrix( -1, 0, 0, 1, -74.2,26.3);
    }
    .lock-body {
      @include animation;
      animation-name: animation-lock-body;
      transform: matrix( 1, 0, 0, 1, 0,117.85);
    }
    // checkbox starts from frame 68
    .checkbox-only {
      @include animation;
      animation-name: animation-checkbox-only;
      opacity: 1;
    }
    #checkbox-68 {
      @include animation;
      animation-name: animation-checkbox-68;
      opacity: 0;
    }
    #checkbox-69 {
      @include animation;
      animation-name: animation-checkbox-69;
      opacity: 0;
    }
    #checkbox-70 {
      @include animation;
      animation-name: animation-checkbox-70;
      opacity: 0;
    }
    #checkbox-71 {
      @include animation;
      animation-name: animation-checkbox-71;
      opacity: 0;
    }
    #checkbox-72 {
      @include animation;
      animation-name: animation-checkbox-72;
      opacity: 0;
    }
    #checkbox-73 {
      @include animation;
      animation-name: animation-checkbox-73;
      opacity: 0;
    }
    #checkbox-74 {
      @include animation;
      animation-name: animation-checkbox-74;
      opacity: 0;
    }
    .checkbox-75 {
      @include animation;
      animation-name: animation-checkbox-75;
      opacity: 0;
    }
    // checkbox border final start from frame 76
    .checkbox-border-final {
      @include animation;
      animation-name: animation-checkbox-border-final;
      opacity: 1;
    }
    // start from frame 87
    .checkbox-check-final {
      @include animation;
      animation-name: animation-checkbox-check-final;
      opacity: 1;
    }
    // start from frame 87
    .checkbox-check {
      @include animation;
      animation-name: animation-checkbox-check;
      transform: matrix( 1, 0, 0, 1, 0,0);
    }
  }
}
@keyframes animation-badge {
  0% {
    transform: scale(0.1, 0.1);
  }
  60% {
    transform: scale(1.2, 1.2);
  }
  70% {
    transform: scale(0.8, 0.8);
  }
  80% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes animation-blur-only {
  // frame 1
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  // frame 7
  6% {
    opacity: 0;
  }
}
@keyframes animation-blur-filter {
  // frame 1
  0% {
    filter: url(#blur-filter-1);
  }
  1% {
    filter: url(#blur-filter-2);
  }
  2% {
    filter: url(#blur-filter-3);
  }
  3% {
    filter: url(#blur-filter-4);
  }
  4% {
    filter: url(#blur-filter-5);
  }
  // frame 6
  5% {
    filter: url(#blur-filter-6);
  }
}
@keyframes animation-blur-lock {
  // frame 1
  0% {
    transform: matrix( 0.844818115234375, 0, 0, 0.844573974609375, 199.95,253);
  }
  1% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,237);
  }
  2% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,221);
  }
  3% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,205);
  }
  4% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,189.05);
  }
  // frame 6
  5% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,173);
  }
}
@keyframes animation-lock-only {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
}
@keyframes animation-lock-head {
  // frame 7
  6% {
    transform: matrix( 1, 0, 0, 1, 0.1,84.7);
  }
  // frame 32
  31% {
    transform: matrix( 1, 0, 0, 1, 0.1,11.1);
  }
  // frame 39
  38% {
    transform: matrix( 1, 0, 0, 1, 0.1,30.3);
  }
  // frame 45
  44% {
    transform: matrix( 1, 0, 0, 1, 0.1,26.3);
  }
  // frame 54
  53% {
    transform: matrix( 1, 0, 0, 1, 0.1,30.3);
  }
  // frame 65
  64% {
    transform: matrix( 1, 0, 0, 1, 0.1,26.3);
  }
  // frame 68
  67% {
    transform: matrix( 1, 0, 0, 1, 0.1,26.3);
  }
  // frame 69
  68% {
    transform: matrix( 0.8571319580078125, 0, 0, 1, -5.2,26.3);
  }
  // frame 82
  81% {
    transform: matrix( -1, 0, 0, 1, -74.2,26.3);
  }
}
@keyframes animation-lock-body {
  // frame 20
  19% {
    transform: matrix( 1, 0, 0, 1, 0,117.85);
  }
  30% {
    transform: matrix( 0.9559783935546875, 0, 0, 1.05377197265625, -0.05,114.65);
  }
  37% {
    transform: matrix( 1, 0, 0, 1, 0,117.85);
  }
  43% {
    transform: matrix( 0.9559783935546875, 0, 0, 1.033416748046875, -0.05,115.9);
  }
  // frame 54
  53% {
    transform: matrix( 1, 0, 0, 1, 0,117.85);
  }
}
@keyframes animation-checkbox-only {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  // frame 68
  67% {
    opacity: 1;
  }
}
@keyframes animation-checkbox-68 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  // frame 68
  67% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
}
@keyframes animation-checkbox-69 {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  // frame 69
  68% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
}
@keyframes animation-checkbox-70 {
  0% {
    opacity: 0;
  }
  68% {
    opacity: 0;
  }
  // frame 70
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}
@keyframes animation-checkbox-71 {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  // frame 71
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
}
@keyframes animation-checkbox-72 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  // frame 72
  71% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
}
@keyframes animation-checkbox-73 {
  0% {
    opacity: 0;
  }
  71% {
    opacity: 0;
  }
  // frame 73
  72% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
}
@keyframes animation-checkbox-74 {
  0% {
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  // frame 74
  73% {
    opacity: 1;
  }
  74% {
    opacity: 0;
  }
}
@keyframes animation-checkbox-75 {
  0% {
    opacity: 0;
  }
  73% {
    opacity: 0;
  }
  // frame 75
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
@keyframes animation-checkbox-border-final {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  // frame 76
  75% {
    opacity: 1;
  }
}
@keyframes animation-checkbox-check-final {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  // frame 87
  86% {
    opacity: 1;
  }
}
@keyframes animation-checkbox-check {
  // frame 87
  86% {
    transform: matrix( 1, 0, 0, 1, -34.9,1.5);
  }
  90% {
    transform: matrix( 1, 0, 0, 1, 0,0);
  }
}
