.contain {
  text-align: center;
  margin: auto;
  background-image: url("/assets/unlocking-background.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  svg {
    width: 45%;
    height: 100%;
    margin: 8% 0 30% 45%;
    .lock-body {
      fill: var(--ion-color-primary);
    }
    .lock-head {
      animation-name: animate;
      animation-duration: 2s;
      transform: matrix( -1, 0, 0, 1, 85.5,-10);
    }
  }
}

@keyframes animate {
  0% {
    transform: matrix( 1, 0, 0, 1, 35.9,80);
  }
  12% {
    transform: matrix( 1, 0, 0, 1, 35.9,68.75);
  }
  16% {
    transform: matrix( 1, 0, 0, 1, 35.9,57.5);
  }
  20% {
    transform: matrix( 1, 0, 0, 1, 35.9,46.25);
  }
  24% {
    transform: matrix( 1, 0, 0, 1, 35.9,35);
  }
  28% {
    transform: matrix( 1, 0, 0, 1, 35.9,23.75);
  }
  32% {
    transform: matrix( 1, 0, 0, 1, 35.9,12.5);
  }
  36% {
    transform: matrix( 1, 0, 0, 1, 35.9,1.25);
  }
  40% {
    transform: matrix( 1, 0, 0, 1, 35.9,-10);
  }
  44% {
    transform: matrix( 0.8333282470703125, 0, 0, 1, 40.05,-10);
  }
  48% {
    transform: matrix( 0.666656494140625, 0, 0, 1, 44.2,-10);
  }
  52% {
    transform: matrix( 0.5, 0, 0, 1, 48.35,-10);
  }
  56% {
    transform: matrix( 0.3333282470703125, 0, 0, 1, 52.45,-10);
  }
  60% {
    transform: matrix( 0.166656494140625, 0, 0, 1, 56.6,-10);
  }
  64% {
    transform: matrix( 0.0099945068359375, 0, 0, 1, 59.9,-10);
  }
  68% {
    transform: matrix( -0.166656494140625, 0, 0, 1, 64.8,-10);
  }
  72% {
    transform: matrix( -0.3333282470703125, 0, 0, 1, 68.95,-10);
  }
  76% {
    transform: matrix( -0.4999847412109375, 0, 0, 1, 73.1,-10);
  }
  80% {
    transform: matrix( -0.666656494140625, 0, 0, 1, 77.2,-10);
  }
  84% {
    transform: matrix( -0.8333282470703125, 0, 0, 1, 81.35,-10);
  }
  88% {
    transform: matrix( -1, 0, 0, 1, 85.5,-10);
  }
  100% {
    transform: matrix( -1, 0, 0, 1, 85.5,-10);
  }
}
