@mixin animation {
  animation-duration: 10s;
}

.contain {
  text-align: center;
  margin: auto;
  background-image: url("/assets/unlocking-background.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  svg {
    width: 60%;
    height: 100%;
    margin: 8% 0 30% 35%;
    .lock-color {
      fill: var(--ion-color-primary);
    }
    .blur-only {
      @include animation;
      animation-name: animation-blur-only;
      opacity: 0;
    }
    .blur-filter {
      @include animation;
      animation-name: animation-blur-filter;
      filter: url(#blur-filter-6);
    }
    .blur-lock {
      @include animation;
      animation-name: animation-blur-lock;
      transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,173);
    }
    .lock-only {
      @include animation;
      animation-name: animation-lock-only;
      opacity: 1;
    }
    .lock-body {
      @include animation;
      animation-name: animation-lock-body;
      transform: matrix( 1, 0, 0, 1, 0.1,81.4);
    }
    // .lock-head {
    //   @include animation;
    //   animation-name: animation;
    //   transform: matrix( -1, 0, 0, 1, 85.5,-10);
    // }
  }
}

@keyframes animation-blur-only {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
}
@keyframes animation-blur-filter {
  0% {
    filter: url(#blur-filter-1);
  }
  1% {
    filter: url(#blur-filter-2);
  }
  2% {
    filter: url(#blur-filter-3);
  }
  3% {
    filter: url(#blur-filter-4);
  }
  4% {
    filter: url(#blur-filter-5);
  }
  5% {
    filter: url(#blur-filter-6);
  }
}
@keyframes animation-blur-lock {
  0% {
    transform: matrix( 0.844818115234375, 0, 0, 0.844573974609375, 199.95,253);
  }
  1% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,237);
  }
  2% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,221);
  }
  3% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,205);
  }
  4% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,189.05);
  }
  5% {
    transform: matrix( 0.84478759765625, 0, 0, 0.84454345703125, 200,173);
  }
}
@keyframes animation-lock-only {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
}
@keyframes animation-lock-body {
  6% {
    transform: matrix( 1, 0, 0, 1, 0.1,84.7);
  }
  7% {
    transform: matrix( 1, 0, 0, 1, 0.1,81.4);
  }
}
@keyframes animation {
  0% {
    transform: matrix( 1, 0, 0, 1, 35.9,80);
  }
  12% {
    transform: matrix( 1, 0, 0, 1, 35.9,68.75);
  }
  16% {
    transform: matrix( 1, 0, 0, 1, 35.9,57.5);
  }
  20% {
    transform: matrix( 1, 0, 0, 1, 35.9,46.25);
  }
  24% {
    transform: matrix( 1, 0, 0, 1, 35.9,35);
  }
  28% {
    transform: matrix( 1, 0, 0, 1, 35.9,23.75);
  }
  32% {
    transform: matrix( 1, 0, 0, 1, 35.9,12.5);
  }
  36% {
    transform: matrix( 1, 0, 0, 1, 35.9,1.25);
  }
  40% {
    transform: matrix( 1, 0, 0, 1, 35.9,-10);
  }
  44% {
    transform: matrix( 0.8333282470703125, 0, 0, 1, 40.05,-10);
  }
  48% {
    transform: matrix( 0.666656494140625, 0, 0, 1, 44.2,-10);
  }
  52% {
    transform: matrix( 0.5, 0, 0, 1, 48.35,-10);
  }
  56% {
    transform: matrix( 0.3333282470703125, 0, 0, 1, 52.45,-10);
  }
  60% {
    transform: matrix( 0.166656494140625, 0, 0, 1, 56.6,-10);
  }
  64% {
    transform: matrix( 0.0099945068359375, 0, 0, 1, 59.9,-10);
  }
  68% {
    transform: matrix( -0.166656494140625, 0, 0, 1, 64.8,-10);
  }
  72% {
    transform: matrix( -0.3333282470703125, 0, 0, 1, 68.95,-10);
  }
  76% {
    transform: matrix( -0.4999847412109375, 0, 0, 1, 73.1,-10);
  }
  80% {
    transform: matrix( -0.666656494140625, 0, 0, 1, 77.2,-10);
  }
  84% {
    transform: matrix( -0.8333282470703125, 0, 0, 1, 81.35,-10);
  }
  88% {
    transform: matrix( -1, 0, 0, 1, 85.5,-10);
  }
  100% {
    transform: matrix( -1, 0, 0, 1, 85.5,-10);
  }
}
