$message-body-size: 60%;

.not-started-empty-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .head-text {
    margin-bottom: 0px;
    margin-top: 0px;
    &.desktop {
      margin-top: 24px;
    }
  }
  .sub-text {
    margin-top: 5px;
  }
  .image {
    min-width: 96px;
    min-height: 96px;
    max-width: 96px;
    max-height: 96px;
    &.desktop {
      min-width: 120px;
      min-height: 120px;
      max-width: 120px;
      max-height: 120px;
    }
  }
}

.chat-list {
  background-color: transparent !important;
  ion-item {
    ion-avatar {
      width: 32px;
      height: 32px;
      margin: 0 12px 2px 0 !important;
      margin-left: -8px !important;
      &.no-time {
        margin-top: 8% !important;
      }
      &.no-time-team {
        margin-top: -8% !important;
      }
    }

    ion-label {
      .time {
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
      }

      .message-body {
        padding: 8px 16px;
        min-width: 48px;
        max-width: $message-body-size;
        border-radius: 25px;
        width: fit-content;

        &.image {
          line-height: 0;
          cursor: pointer;

          .message-text {
            margin-bottom: 10px;
          }

          img {
            border-radius: 25px;
          }
        }

        // consistent colour to make attachment standout
        .general-attachment {
          background: white;
          --background: white;
          cursor: pointer;

          .message-text {
            margin-bottom: 10px;
          }
        }

        p {
          &.seen-text {
            &:nth-child(1) {
              padding: 0 !important;
              font-weight: 500;
            }
          }
        }

        p {
          color: black;
          margin: 0;
          text-align: left;
          user-select: all !important;
          white-space: pre-wrap !important;
        }

        &.video-attachment-container {
          min-height: 125px;
          line-height: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: stretch;
          position:relative;
          cursor: pointer;
          padding: 16px;

          .message-text {
            margin-bottom: 10px;
          }

          app-video-conversion {
            display: flex;
            align-items: center;
          }

          #inner-box {
            border-radius: inherit;
            min-width: inherit;
            padding: 0;
            width: 100%;

            & p {
              color: white;
              margin-top: 1em;
              text-align: center;
              ion-icon {
                font-size: 5em !important;
              }
            }
          }

          .video {
            padding: inherit;
            min-width: 100%;
            max-width: inherit;
            min-height: 100%;
            max-height: inherit;
            border-radius: inherit;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .seen-text {
        padding-bottom: 8px;
      }

      &.received-messages {
        text-align: left;

        .message-body {
          background-color: white;

          &.video-attachment-container {
            .label {
              color: var(--ion-color-primary);
            }
            #inner-box {
              p {
                color: var(--ion-color-primary);
              }
            }
          }

        }

        .time {
          margin-left: -14% !important;
          width: -webkit-fill-available !important;
        }

        &.no-avatar {
          margin-left: 12%;
        }
      }

      &.send-messages {
        text-align: right;
        margin-right: 0;

        .message-body {
          background-color: var(--ion-color-primary);

          &.video-attachment-container {
            .label {
              color: white;
            }
            #inner-box {
              p {
                color: white;
              }
            }
          }

          // consistent colour to make attachment standout
          .general-attachment {
            background: transparent;
            --background: transparent;
            cursor: pointer;
            ion-icon, ion-note, ion-label {
              color: white !important;
            }
          }

          // margin-left: calc(100% - 150px) !important;
          float: right;
        }
      }
    }
  }

  &.desktop-view {
    ion-item {
      ion-avatar {
        margin-left: 0 !important;
        margin-top: 3% !important;
        &.no-time {
          margin-top: 0 !important;
        }
        &.no-time-team {
          margin-top: -3% !important;
        }
        &.with-time-team {
          margin-top: 0 !important;
        }
      }
      ion-label {
        .time {
          margin-left: 2.5% !important;
        }
        &.received-messages {
          .time {
            margin-left: 0 !important;
          }
          &.no-avatar {
            margin-left: 44px !important;
          }
        }
      }
    }
  }
}

.message-sending-loading {
  width: 100% !important;
  text-align: right !important;
}

.message-typing {
  width: 100% !important;
  text-align: left !important;
}
.ion-content-absolute-with-footer {
  height: calc(100% - 230px);

  &.announcement {
    height: calc(100% - 60px);
  }

  &.attach-preview {
    height: calc(100% - 329px);
  }
}

.footer {
  min-height: 48px;
  padding: 0;

  ion-grid {
    padding: 0;
  }

  &.ion-footer-absolute {
    height: 169px;

    ion-grid {
      padding: 0;
      min-height: 96px;
      max-height: 169px;

      ion-row {
        min-height: 80px;
        max-height: 121px;

        ion-col {
          min-height: 80px;
          max-height: 121px;
        }
      }
    }
  }

  &.attach-preview {
    min-height: 269px !important;
    ion-grid {
      max-height: 269px;
    }
  }

  &.focus {
    min-height: 96px;
    ion-grid {
      padding: 0;
      min-height: 96px;
    }
  }

  ion-grid {
    background-color: white;
    min-height: 48px;
    ion-row {
      min-height: 48px;
      &.action-buttons {
        min-height: 48px;
        max-height: 66px;
        ion-col {
          min-height: 48px;
          max-height: 66px;
        }
      }
      ion-col {
        min-height: 48px;

        .message-text-editor {
          .ql-toolbar, .ql-container.ql-snow {
            border: none;
          }
        }

        ion-button {
          padding-top: 6px;
          min-height: 24px;
          max-height: 100px;
          height: auto;
          ion-icon {
            font-size: 24px;
          }
        }
      }
      &.attach-preview {
        min-height: 100px;
        max-height: 100px;
        ion-col {
          .image {
            min-height: 100px;
            max-height: 100px;
            padding: 10px;
            border-radius: 4px;
            img {
              border-radius: 4px;
            }
            .overlay {
              left: 10px;
            }
            &:hover {
              .remove-attach {
                display: block;
                text-align: center;
                left: 80px;
              }
              .overlay {
                display: block;
                background: rgba(0, 0, 0, .6);
              }
            }
            &.mobile {
              .overlay {
                display: none;
              }
              .remove-attach {
                display: block;
                text-align: center;
                left: 80px;
              }
            }
          }
          .video {
            width: 80px;
            height: 80px;
            margin: 10px;
            padding: 20px;
            background: var(--practera-light-grey-50);
            border: 1px solid;
            border-color: var(--practera-light-grey-75);
            border-radius: 4px;
            .play-icon {
              width: 40px;
              height: 40px;
              margin: auto;
              border-radius: 50%;
              border: 1px solid;
              border-color: var(--practera-light-grey-100);
              background: white;
              ion-icon {
                padding: 11px;
              }
            }
            .overlay {
              left: 10px;
            }
            &:hover {
              .remove-attach {
                display: block;
                text-align: center;
                left: 80px;
              }
              .overlay {
                display: block;
                background: rgba(0, 0, 0, .6);
              }
            }
            &.mobile {
              .overlay {
                display: none;
              }
              .remove-attach {
                display: block;
                text-align: center;
                left: 80px;
              }
            }
          }
          .file-preview {
            height: fit-content;
            width: fit-content;
            margin: 10px;
            .general-attachment {
              --min-height: 80px;
              max-width: 300px;
              min-width: 300px;
              --background: var(--practera-light-grey-50);
              --border-color: var(--practera-light-grey-75);
              --border-radius: 4px;
              ion-label {
                max-width: 210px;
                .mimetype {
                  color: var(--practera-grey-75);
                }
              }
            }
            .overlay {
              left: 10px;
              width: 300px;
              border-radius: 4px;
              z-index: 2;
            }
            .remove-attach {
              left: 300px;
              z-index: 2;
            }
            &:hover {
              .remove-attach {
                display: block;
              }
              .overlay {
                display: block;
                background: rgba(0, 0, 0, .6);
              }
            }
            &.mobile {
              .overlay {
                display: none;
              }
              .remove-attach {
                display: block;
              }
            }
          }
          .remove-attach {
            cursor: pointer;
            position: absolute;
            top: 0px;
            left: 100px;
            background: var(--practera-ocean-100);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: white;
            display: none;
          }
          .overlay {
            cursor: pointer;
            position: absolute;
            top: 10px;
            left: 28px;
            width: 80px;
            height: 80px;
            display: none;
            color: transparent;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

ion-toolbar {
  --min-height: 60px;
}

ion-button.ion-focused {
  border: 1px solid black;
  border-radius: 8px;
}

ion-fab.scroll-to-bottom {
  opacity: 0.7;
}
