.date-group {
  color: var(--practera-label-color);
  font-size: medium;
}
.practera-card {
  margin: 10px 0;
}
.no-event {
  color: var(--ion-color-medium);
  font-size: small;
  padding: 10px 5px;
  border: 1px solid var(--ion-color-medium-shade);
  p {
    font-size: medium;
    color: var(--ion-color-dark);
    margin: 3px 0;
  }
}
.activity-filter-wrap {
  margin-top: 10px;
}
