.item-filter {
  --padding-start: 0;
  --inner-padding-end: 0;
}
.btn-filter {
  ion-button {
    width: 32%;
  }
  .btn-middle {
    width: calc(36% - 4px);
  }
}
.no-event {
  padding: 0 12px 18px;
  border: 1px solid var(--practera-color-card-border);
  box-shadow: none;
  p {
    margin: 20px 0 8px;
  }
}
