<h3 class="for-accessibility" [id]="'text-question-' + question.id">{{question.name}}</h3>
<ng-container *ngIf="!doAssessment && !doReview && (submissionStatus === 'feedback available' || submissionStatus === 'pending review' || (submissionStatus === 'done' && reviewStatus === ''))">
  <div class="ion-padding" *ngIf="submission?.answer">
    <ion-chip class="label orange" i18n>Learner's answer</ion-chip>
    <p class="body-2 gray-3 white-space-pre">{{ submission?.answer }}</p>
  </div>

  <div class="ion-padding"  *ngIf="reviewStatus === 'done'">
    <ion-chip class="label yellow black" i18n>Expert's answer</ion-chip>
    <p class="body-2 gray-3 white-space-pre" [class]="{'noanswer': !review?.answer}">{{ review?.answer || 'No answer given to this optional question.'}}</p>
  </div>

  <ng-container *ngIf="review?.comment">
    <ion-item class="feedback-title ion-no-padding" lines="none">
      <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
      <ion-label i18n>Feedback</ion-label>
    </ion-item>
    <ion-textarea class="ion-no-margin preview textarea white-space-pre"
      [autoGrow]="true"
      [value]="review.comment"
      [disabled]="true"
    ></ion-textarea>
  </ng-container>
</ng-container>

<ng-container *ngIf="doAssessment">
  <div class="ion-padding textarea-border">
    <ion-textarea
      [autoGrow]="true"
      [attr.aria-labelledby]="'text-question-' + question.id"
      [(ngModel)]="answer"
      #answerEle
      rows="4"
      (ionFocus)="onFocus($event)"
      (ionChange)="onChange()"
      [disabled]="control?.disabled"
      class="ion-no-margin"
      placeholder="Please add your answer here"
      i18n-placeholder
    ></ion-textarea>
    <ion-text *ngFor="let error of errors" color="danger">
      <p>{{error}}</p>
    </ion-text>
  </div>
</ng-container>

<ng-container *ngIf="doReview">
  <ion-item *ngIf="!submission?.answer && !question.reviewerOnly" class="no-answers item-bottom-border" lines="none">
    <ion-icon slot="start" color="danger" name="warning-outline"></ion-icon>
    <ion-label size="small" i18n>No answers were submitted.</ion-label>
  </ion-item>

  <div class="ion-padding-horizontal ion-padding-bottom" *ngIf="submission?.answer">
    <h3 class="for-accessibility" aria-labelledby="learner-indicator" aria-describedby="learner-answer"></h3>
    <ion-chip id="learner-indicator" class="label orange" i18n>Learner's answer</ion-chip>
    <p id="learner-answer" class="body-2 gray-3 white-space-pre">{{ submission?.answer }}</p>
  </div>

  <div class="ion-no-padding">
    <ion-list class="ion-no-padding" *ngIf="question.canAnswer">
      <ion-list-header class="ion-no-padding" *ngIf="!question.reviewerOnly">
        <ion-label class="subtitle-2 black" i18n>Your Answer is</ion-label>
      </ion-list-header>

      <ion-textarea
        [autoGrow]="true"
        [attr.aria-label]="'expert\'s answer'"
        *ngIf="question.canAnswer"
        class="textarea"
        rows="4"
        [(ngModel)]="answer"
        #answerEle
        (ionFocus)="onFocus($event)"
        (ionChange)="onChange('answer')"
        placeholder="Please put your answer here"
        [disabled]="control.disabled"></ion-textarea>
    </ion-list>

    <ion-list class="ion-no-padding ion-padding-bottom" *ngIf="question.canComment && submission.answer">
      <ion-list-header class="ion-no-padding" lines="none">
        <ion-label class="subtitle-2 black" i18n>Feedback</ion-label>
      </ion-list-header>

      <ion-textarea
        [autoGrow]="true"
        [attr.aria-label]="'expert\'s review feedback'"
        *ngIf="question.canComment && submission?.answer"
        class="textarea"
        [(ngModel)]="comment"
        #commentEle
        rows="4"
        (ionFocus)="onFocus($event)"
        (ionChange)="onChange('comment')"
        placeholder="Please put your feedback here"
        i18n-placeholder
        [disabled]="control.disabled"></ion-textarea>
    </ion-list>

  </div>
</ng-container>
