ion-textarea {
  --border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--practera-grey-50);
  border-radius: var(--border-radius);
  font-size: 14px !important;

  &.preview {
    border: none;
    padding-left: var(--ion-padding);
  }
}

ion-item {
  &.item-bottom-border {
    border-bottom: 1px solid var(--border-color);

    .item-lines- {
      border-bottom: none;
    }
  }
}

.paragraph {
  margin-top: 0;
}

.no-submissions {
  color: red;
  font-style: italic;
}

.feedback-field {
  --ion-item-background: #FFF7E3;
  --ion-background-color: #FFF7E3;
  background-color: #FFF7E3;

  .feedback-title {
    --min-height: 1em;
    font-size: smaller;

    ion-icon,
    ion-label {
      background-color: #FFF7E3;
    }
  }

  ion-textarea {
    background: white;
    font-size: 14px !important;

    &.textarea {
      border: 1px solid var(--practera-review-border-color);
      border-radius: 8px;
    }
  }
}

// .audience-mentor {
//   border: 2px solid var(--practera-review-border-color);
//   border-bottom-left-radius : 12px;
//   border-bottom-right-radius: 12px;
// }
