<p [@truncation]="isTruncating ? 'hide' : 'show'" #description [innerHtml]="content" [ngClass]="{'limit-height': isTruncating}"></p>

<ng-container *ngIf="heightExceeded">
  <ng-container *ngIf="isTruncating">
    <div text-left>
      <a href="javascript:void(0)" color="primary" (click)="isTruncating = false">show more</a>
    </div>
  </ng-container>

  <ng-container *ngIf="!isTruncating">
    <div text-left>
      <a href="javascript:void(0)" color="primary" (click)="isTruncating = true">show less</a>
    </div>
  </ng-container>
</ng-container>
