<ion-split-pane contentId="main-content" [when]="isMobile? 'lg' : '(min-width: 0px)'">
  <ion-menu contentId="main-content"
    [ngClass]="{'collapsed': !isMobile && !openMenu}"
    [@openClose]="collapsibleMenu"
    (@openClose.done)="direction()">

    <ion-content>
      <h1 class="for-accessibility">Side menu</h1>
      <div class="institute-logo-container" [ngClass]="{'hidden': !institutionLogo}">
        <img [src]="institutionLogo" [attr.alt]="institutionName">
      </div>

      <ion-list lines="none">
        <ion-menu-toggle autoHide="false"
          *ngFor="let p of appPages; let i = index">
          <ion-item class="menu-item tooltip"
            *ngIf="isVisible(p.code)"
            (keydown)="keyboardNavigate(p.url, $event)"
            [routerLink]="p.url"
            routerLinkActive="selected"
            routerDirection="root"
            detail="false"
            [title]="p.title">
            <ng-container *ngIf="!isMobile && openMenu === false; else iconOnly">
              <div class="badge-wrapper">
                <ion-icon slot="start" [name]="p.icon" aria-hidden="true" class="indicator"></ion-icon>
                <ion-badge color="danger" class="hint" *ngIf="p.badges > 0">{{p.badges}}</ion-badge>
              </div>
            </ng-container>
            <ng-template #iconOnly>
              <ion-icon slot="start" [name]="p.icon" aria-hidden="true" class="indicator"></ion-icon>
              <ion-badge color="danger" class="hint" *ngIf="p.badges > 0" slot="end">{{p.badges}}</ion-badge>
            </ng-template>
            <ion-label class="body-2 black">
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item class="menu-item tooltip"
          (keydown)="presentModal($event)"
          (click)="presentModal()"
          button detail="false" [title]="i18nText.setting">
          <ion-icon slot="start" name="settings" aria-hidden="true"></ion-icon>
          <ion-label class="body-2 black">{{i18nText.setting}}</ion-label>
          <ion-spinner slot="end" *ngIf="wait"></ion-spinner>
        </ion-item>

        <ion-item-divider mode="md"></ion-item-divider>

        <ion-item class="menu-item tooltip"
          (keydown)="keyboardNavigate('/experiences', $event)"
          routerLink="/experiences"
          routerDirection="root"
          detail="false" [title]="i18nText.myExperience">
          <ion-icon slot="start" name="grid" aria-hidden="true"></ion-icon>
          <ion-label class="body-2 black">{{i18nText.myExperience}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-item *ngIf="!isMobile"
        class="footer"
        lines="none"
        detail="false"
        aria-hidden="true">
        <ion-button class="no-ripple" (click)="toggleMenu()" fill="clear">
          <span class="material-symbols-outlined collapsible">
            {{ directionIcon }}
          </span>
        </ion-button>
      </ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
