ion-menu {
  border-right: 1px solid;
  border-right-color: var(--practera-grey-25);
  &.show-menu {
    --width: 280px;
  }
  &.menu-pane-visible {
    max-width: 280px !important;
    min-width: 280px !important;
  }
}
ion-item-divider {
  min-height: 1px;
}

.institute-logo-container {
  padding: 20px;
  img {
    height: 60px;
  }
}

.menu-item {
  --padding-start: 20px;
  ion-icon {
    // margin-left: 4px;
    margin-right: 20px;
    color: var(--ion-color-primary);
  }
  &.selected {
    --padding-start: 17px;
    border-left: 3px solid;
    border-left-color: var(--ion-color-secondary);
    ion-icon {
      color: var(--ion-color-secondary);
    }
  }
}
