ion-menu.collapsed {
  &.menu-pane-visible {
    --max-width: 72px;
    --min-width: 72px;
  }

  .badge-wrapper {
    margin: 0px 5px 0px 5px;
    .hint {
      right: -1.5px;
      top: -5px;
    }
  }

  .menu-item {
    --padding-start: 15px;

    &.selected {
      --padding-start: 12px;
    }

    & > ion-icon {
      margin: 5px;
    }

    & > ion-label {
      display: none;
    }

    .item-inner {
      display: none;
    }
  }

  .institute-logo-container {
    padding: 2em 0.3em;
    &.hidden {
      visibility: hidden;
    }
  }
}

ion-menu {
  .hint {
    font-size: 10px;
    background-color: red;
    border-radius: 8px;
    padding: 2px 5px;
  }
  border-right: 1px solid;
  border-right-color: var(--practera-grey-25);

  .badge-wrapper {
    height: 34px;
    width: 34px;
    margin: 0px 10px 0px 0px;

    --padding-top: 1px;
    --padding-end: 1px;
    --padding-bottom: 1px;
    --padding-start: 1px;
    display: flex;
    position: relative;

    .indicator {
      position: absolute;
      display: flex;
      height: 24px;
      width: 24px;
    }

    .hint {
      position: absolute;
      right: 1.5px;
      /* overflow: visible; */
      display: flex;
      align-items: center;

      .icon-inner {
        height: 36px;
      }
    }
  }

  &.menu-pane-visible, & > ion-item-divider {
    --max-width: 280px;
    max-width: 280px;
    --min-width: 280px;
    min-width: 280px;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}
ion-item-divider {
  min-height: 1px;
}

.institute-logo-container {
  height: 100px;
  text-align: center;
  padding: 20px;
  img {
    max-width: 80%;
    max-height: 130px;
  }
}

.menu-item {
  --padding-start: 20px;

  ion-icon {
    // margin-left: 4px;
    margin-right: 20px;
    color: var(--ion-color-primary);
  }

  &.selected {
    --padding-start: 17px;
    border-left: 3px solid;
    border-left-color: var(--ion-color-primary);
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

.tooltip {
  position: relative;
}

.tooltip::before {
  content: attr(title);
  display: inline-block;
  position: absolute;
  bottom: 8%;
  padding: 3px;
  background: gray;
  color: #FFF;
  border-radius: 3px;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  max-width: 100%;
  pointer-events: none;
  z-index: 2;
  font-size: x-small;
  right: 5%;
}

.collapsed .tooltip:hover::before {
  opacity: 1;
  bottom: 0;
}
