<ion-split-pane contentId="main-content" [when]="isMobile? 'lg' : '(min-width: 0px)'">
  <ion-menu contentId="main-content" class="sidemenu"
    [ngClass]="{'collapsed': !isMobile && !openMenu}"
    [@openClose]="!isMobile && !openMenu ? 'closed' : 'open'">

    <ion-content>
      <h1 class="for-accessibility">Side menu</h1>
      <div class="institute-logo-container">
        <img [src]="institutionLogo" [attr.alt]="institutionName">
      </div>

      <ion-list lines="none">
        <ion-menu-toggle autoHide="false"
          *ngFor="let p of appPages; let i = index">
          <ion-item class="menu-item"
            *ngIf="p.title !== 'Messages' || (p.title === 'Messages' && showMessages)"
            (keydown)="keyboardNavigate(p.url, $event)"
            [routerLink]="p.url"
            routerLinkActive="selected"
            routerDirection="root"
            detail="false">
            <ion-icon slot="start" [name]="p.icon" aria-hidden="true"></ion-icon>
            <ion-label class="body-2 black">
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item class="menu-item"
          (keydown)="presentModal($event)"
          (click)="presentModal()"
          button detail="false">
          <ion-icon slot="start" name="settings" aria-hidden="true"></ion-icon>
          <ion-label class="body-2 black">Settings</ion-label>
          <ion-spinner slot="end" *ngIf="wait"></ion-spinner>
        </ion-item>

        <ion-item-divider mode="md"></ion-item-divider>

        <ion-item class="menu-item"
          (keydown)="keyboardNavigate('/experiences', $event)"
          routerLink="/experiences"
          routerDirection="root"
          detail="false">
          <ion-icon slot="start" name="grid" aria-hidden="true"></ion-icon>
          <ion-label class="body-2 black">My Experiences</ion-label>
        </ion-item>
      </ion-list>

      <ion-item lines="none" detail="false" class="footer" *ngIf="!isMobile">
        <ion-button class="no-ripple" (click)="toggleMenu()" fill="clear">
          <ion-icon *ngIf="openMenu === false" slot="icon-only" name="caret-back-outline"></ion-icon>
          <ion-icon *ngIf="openMenu === true" slot="icon-only" name="caret-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
