ion-menu.collapsed {
  &.menu-pane-visible {
    --max-width: 72px;
    --min-width: 72px;
  }

  .menu-item {
    --padding-start: 15px;

    &.selected {
      --padding-start: 12px;
    }

    & > ion-icon {
      margin: 5px;
    }

    & > ion-label {
      display: none;
    }

    .item-inner {
      display: none;
    }
  }

  .institute-logo-container {
    padding: 2em 0.3em;
  }
}

ion-menu {
  border-right: 1px solid;
  border-right-color: var(--practera-grey-25);

  &.menu-pane-visible, & > ion-item-divider {
    --max-width: 280px;
    max-width: 280px;
    --min-width: 280px;
    min-width: 280px;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}
ion-item-divider {
  min-height: 1px;
}

.institute-logo-container {
  height: 100px;
  text-align: center;
  padding: 20px;
  img {
    max-width: 80%;
    max-height: 130px;
  }
}

.menu-item {
  --padding-start: 20px;
  ion-icon {
    // margin-left: 4px;
    margin-right: 20px;
    color: var(--ion-color-primary);
  }

  &.selected {
    --padding-start: 17px;
    border-left: 3px solid;
    border-left-color: var(--ion-color-primary);
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

.tooltip {
  position: relative;
}

.tooltip::before {
  content: attr(title);
  display: inline-block;
  position: absolute;
  bottom: 0;
  background: #000;
  color: #FFF;
  border-radius: 3px;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  max-width: 100%;
  pointer-events: none;
  z-index: 2;
  text-align: center;
  font-size: small;
}

.collapsed .tooltip:hover::before {
  opacity: 1;
  bottom: 0;
}
