<ng-container *ngIf="submission.answer">
  <ion-list>
    <ion-radio-group [value]="submission.answer">
      <ion-item *ngFor="let choice of question.choices" color="light">
        <ion-label class="white-space-normal">{{ choice.name }}</ion-label>
        <ion-radio [value]="choice.id" disabled mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div *ngIf="submission.explanation" class="q-reviews">
    <ion-label class="q-title">Explanation</ion-label>
    <p class="paragraph">{{ submission.explanation }}</p>
  </div>
</ng-container>

<div *ngIf="review.answer || review.comment" class="q-reviews">
  <ion-label class="q-title">Feedback</ion-label>
  <ng-container *ngIf="review.answer">
    <ion-list>
      <ion-radio-group [value]="review.answer">
        <ng-container *ngFor="let choice of question.choices">
          <ng-container *ngIf="choice.id === review.answer">
            <ion-item color="light">
              <ion-label class="white-space-normal">{{ choice.name }}</ion-label>
              <ion-radio [value]="choice.id" disabled mode="md"></ion-radio>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-radio-group>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="review.comment">
    <p class="paragraph">{{ review.comment }}</p>
  </ng-container>
</div>

<ng-container *ngIf="doAssessment">
  <ion-list>
    <ion-radio-group #answerEle (ionChange)="onChange(answerEle.value)">
      <ion-item *ngFor="let choice of question.choices">
        <ion-label class="white-space-normal">{{ choice.name }}</ion-label>
        <ion-radio [value]="choice.id" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ng-container>

<ng-container *ngIf="doReview">
  <ion-list *ngIf="question.canAnswer">
    <ion-radio-group #answerEle (ionChange)="onChange(answerEle.value, 'answer')">
      <ion-list-header>
        <ion-label>Your Answer is</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let choice of question.choices">
        <ion-label class="white-space-normal">{{ choice.name }}</ion-label>
        <ion-radio [value]="choice.id" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-textarea *ngIf="question.canComment && submission.answer" class="background-white" #commentEle [(ngModel)]="comment" margin-top rows="4" (ngModelChange)="onChange(comment, 'comment')" placeholder="Please put your feedback here"></ion-textarea>
</ng-container>
