<ion-content>
  <ng-container *ngIf="loadingChatList">
    <div class="ion-text-center">
      <ion-spinner></ion-spinner>
    </div>
  </ng-container>
  <ion-list class="ion-no-padding" [ngClass]="{'desktop-view': !utils.isMobile()}">
    <app-clickable-item
      *ngFor="let chat of chatList; let i = index"
      (click)="goToChatRoom(chat)"
      (keyup.enter)="goToChatRoom(chat)"
      [active]="currentChat && currentChat.uuid === chat.uuid"
      [ngClass]="{'unread': chat.unreadMessageCount > 0}"
      [lines]="'none'"
      [isCustomizedCard]="true"
      [isChatCard]="true">
      <ion-avatar slot="start" text-center class="access-avatar"><img [src]="chat.avatar" alt="chat avatar"></ion-avatar>
      <ion-label class="chat-item-label">
        <div class="chat-name-container caption">
          <p class="chat-name subtitle-1" [ngClass]="{'bold': chat.unreadMessageCount > 0}">{{ chat.name }}</p>
          <ng-container *ngIf="(chat.roles.length === 1) && (chat.roles.includes('mentor'))">
            <span>mentor</span>
          </ng-container>
        </div>
        <ng-container *ngIf="chat.lastMessage; else messgeElseBlock">
          <p class="body-2">{{ chat.lastMessage }}</p>
        </ng-container>
        <ng-template #messgeElseBlock><p class="body-2 gray-2">No messages.</p></ng-template>
      </ion-label>
      <div slot="end" class="time-container">
        <div class="caption gray-2">
          <span>{{ getChatDate(chat.lastMessageCreated) }}</span>
        </div>
        <ng-container *ngIf="chat.unreadMessageCount > 0">
          <ion-badge class="caption">{{ chat.unreadMessageCount }}</ion-badge>
        </ng-container>
      </div>
    </app-clickable-item>
  </ion-list>
</ion-content>
