<ion-header>
    <ion-toolbar>
        <ion-title>Chat</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item href="/pages/tabs/(chat:chatroom)" [class]="chat.unread_messages > 0 ? 'unread' : ''" *ngFor="let chat of chatList">
            <ion-avatar [ngClass]="chat.chat_color" slot="start">
                <ion-icon name="people" *ngIf="chat.is_team"></ion-icon>
                <p class="chat-avatar" *ngIf="!chat.is_team">{{getChatAvatarText(chat.name)}}</p>
            </ion-avatar>
            <ion-label>
                <div class="chat-name-container">
                    <h2>{{chat.is_team ? chat.team_name : chat.name}}</h2>
                    <span *ngIf="chat.role === 'mentor'">mentor - {{chat.team_name}}</span>
                </div>
                <p *ngIf="chat.last_message">{{chat.last_message}}</p>
                <p *ngIf="!chat.last_message">No messages.</p>
            </ion-label>
            <div slot="end" class="time-container">
                <span>yesterday</span>
                <ion-badge *ngIf="chat.unread_messages > 0">{{chat.unread_messages}}</ion-badge>
            </div>
        </ion-item>
    </ion-list>
</ion-content>