<ion-content color="light" text-center>
  <div class="div-logo">
    <img src="/assets/logo.svg" width="60%">
  </div>
  <div style="margin: 0 30px;">
    <b>Forgot your password? No worries, mate!</b>
    <p>Enter your email and we'll send you a link that will let you pick a new password.</p>
    <ion-item margin-vertical>
      <ion-input name="email" [(ngModel)]="email" required type="text" placeholder="Email"></ion-input>
    </ion-item>
    <div style="margin-bottom: 50px;">
      <span style="margin-right: 10px;">Remembered it?</span>
      <a (click)="login()">Login here</a>
    </div>
    <div style="clear: both;"></div>
    <ion-button (click)="send()" shape="round" color="primary" expand="full">Send Email</ion-button>
  </div>
  
</ion-content>