<div *ngIf="!doAssessment && !doReview && submissionStatus !== 'in progress' && reviewStatus !== 'in progress'">
  <ng-container *ngIf="submission?.answer">
    <ion-item lines="none">
      <ion-label class="white-space-normal body-2 gray-3">
        <p><ion-chip class="label orange">Learner's answer</ion-chip></p>
      </ion-label>
    </ion-item>
    <app-file-display [file]="submission.answer" [fileType]="question.fileType || 'any'" [isFileComponent]="true">
    </app-file-display>
  </ng-container>

  <ng-container *ngIf="review?.answer">
    <ion-item lines="none">
      <ion-label class="white-space-normal body-2 gray-3">
        <p><ion-chip class="label yellow">Expert's answer</ion-chip></p>
      </ion-label>
    </ion-item>
    <app-file-display
      [file]="review.answer"
      [fileType]="question.fileType || 'any'"
      [isFileComponent]="true"
    ></app-file-display>
  </ng-container>

  <ng-container *ngIf="review.comment">
    <ion-item class="feedback-title ion-no-padding" lines="none">
      <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-item>
    <ion-textarea class="ion-no-margin textarea" [value]="review.comment" [disabled]="true"></ion-textarea>
  </ng-container>
</div>

<ng-container *ngIf="doAssessment">
  <div class="ion-padding">
    <file-stack *ngIf="!uploadedFile && !submission.answer"
      [accept]="fileTypes"
      [fileType]="question.fileType || 'any'"
      (complete)="onFileUploadCompleted($event)"
      [disabled]="control.disabled"
    ></file-stack>

    <ion-text *ngFor="let error of errors" color="danger">
      <p>{{error}}</p>
    </ion-text>

    <app-file-display
      [file]="uploadedFile ? uploadedFile : submission?.answer"
      [fileType]="question.fileType || 'any'"
      [isFileComponent]="true"
      (removeFile)="removeSubmitFile($event)"
      [disabled]="control.disabled"
    ></app-file-display>
  </div>

</ng-container>

<ng-container *ngIf="doReview && question.canAnswer">
  <ng-container *ngIf="false && question.canAnswer">
    <!-- <file-stack *ngIf="!uploadedFile && !review.answer"
      [accept]="fileTypes"
      [fileType]="question.fileType || 'any'"
      (complete)="onFileUploadCompleted($event, 'answer')"
      [disabled]="control.disabled"
    ></file-stack> -->
    <!-- <app-file-display
      [file]="uploadedFile ? uploadedFile : review.answer"
      [fileType]="question.fileType || 'any'"
      [isFileComponent]="true"
      (removeFile)="removeSubmitFile($event)"
      [disabled]="control.disabled"
    ></app-file-display> -->
  </ng-container>

  <div class="feedback-field ion-padding-horizontal ion-padding-bottom" *ngIf="question.canComment && submission.answer">
    <ion-item class="feedback-title ion-no-padding" lines="none">
      <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-item>
    <ion-textarea
      class="ion-no-margin textarea"
      #commentEle
      [(ngModel)]="comment"
      (ngModelChange)="onChange(comment, 'comment')"
      placeholder="Please put your feedback here"
      [disabled]="control.disabled"></ion-textarea>
  </div>
</ng-container>
