<div *ngIf="!doAssessment && (submissionStatus === 'feedback available' || submissionStatus === 'pending review' || (submissionStatus === 'done' && reviewStatus === ''))">
  <ng-container *ngIf="submission?.answer">
    <ion-item lines="none">
      <ion-label class="white-space-normal body-2 gray-3">
        <p><ion-chip class="label orange" i18n>Learner's answer</ion-chip></p>
      </ion-label>
    </ion-item>
    <app-file-display [file]="submission.answer"
      [fileType]="question.fileType || 'any'" [isFileComponent]="true"
      [lines]="(doReview && question?.canAnswer) ? 'none': 'full'">
    </app-file-display>
  </ng-container>

  <ng-container *ngIf="review?.answer && reviewStatus === 'done'">
    <ion-item lines="none">
      <ion-label class="white-space-normal body-2 gray-3">
        <p><ion-chip class="label yellow black" i18n>Expert's answer</ion-chip></p>
      </ion-label>
    </ion-item>
    <app-file-display
      [file]="review.answer"
      [fileType]="question.fileType || 'any'"
      [isFileComponent]="true"
    ></app-file-display>
  </ng-container>

  <ng-container *ngIf="review?.comment">
    <ion-item class="feedback-title ion-no-padding" lines="none">
      <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
      <ion-label i18n>Feedback</ion-label>
    </ion-item>
    <ion-textarea class="ion-no-margin preview textarea white-space-pre"
      [autoGrow]="true"
      [value]="review.comment"
      [disabled]="true"
    ></ion-textarea>
  </ng-container>
</div>

<ng-container *ngIf="doAssessment">
  <div class="ion-padding">
    <app-file-stack *ngIf="!uploadedFile && !submission.answer"
      [accept]="fileTypes"
      [fileType]="question.fileType || 'any'"
      (uploadCompleted)="onFileUploadCompleted($event)"
      [disabled]="control.disabled"
    ></app-file-stack>

    <ion-text *ngFor="let error of errors" color="danger">
      <p aria-live="polite">{{error}}</p>
    </ion-text>

    <app-file-display
      [file]="uploadedFile ? uploadedFile : submission?.answer"
      [fileType]="question.fileType || 'any'"
      [isFileComponent]="true"
      (removeFile)="removeSubmitFile($event)"
      [disabled]="control.disabled"
    ></app-file-display>
  </div>
</ng-container>

<ng-container *ngIf="doReview">
  <ng-container *ngIf="question.canAnswer">
    <app-file-stack *ngIf="!uploadedFile && !review.answer"
      [accept]="fileTypes"
      [fileType]="question.fileType || 'any'"
      (uploadCompleted)="onFileUploadCompleted($event, 'answer')"
      [disabled]="control.disabled"
    ></app-file-stack>

    <app-file-display
      *ngIf="uploadedFile || review.answer"
      [file]="uploadedFile ? uploadedFile : review.answer"
      [fileType]="question.fileType || 'any'"
      [isFileComponent]="true"
      (removeFile)="removeSubmitFile($event)"
      [disabled]="control.disabled"
    ></app-file-display>
  </ng-container>

  <div class="feedback-field ion-padding-horizontal ion-padding-bottom" *ngIf="question?.canComment && submission?.answer">
    <ion-item class="feedback-title ion-no-padding" lines="none">
      <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
      <ion-label i18n>Feedback</ion-label>
    </ion-item>
    <ion-textarea class="ion-no-margin textarea" [autoGrow]="true" [attr.aria-label]="'expert\'s review feedback'"
      #commentEle [(ngModel)]="comment" (ngModelChange)="onChange(comment, 'comment')"
      placeholder="Please put your feedback here" [disabled]="control.disabled"></ion-textarea>
  </div>
</ng-container>
