.pop-up-content {
  background-color: #ffffff !important;
  --ion-color-base: #ffffff  !important;
  overflow-y: hidden !important;

  &.desktop-view {
    .image-content {
      margin-top: 35px;
    }
    .div-after-img {
      margin-bottom: 35px;
    }
  }

  .image-content {
    margin-top: 20px;

    .image {
      padding: 5px;
    }
  }

  .div-after-img {
    margin: 0;
    margin-bottom: 15px;
  }

  .description {
    max-height: none !important;
    -webkit-line-clamp: unset !important;
  }

}
