.pop-up-content {
  background-color: #ffffff !important;
  --ion-color-base: #ffffff  !important;
  overflow-y: hidden !important;

  .imgage-content {
    margin-top: 20px;

    .image {
      padding: 5px;
    }
  }

  .div-after-img {
    margin: 0;
    margin-bottom: 15px;
  }

}
