<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-badge color="danger" *ngIf="noOfTodoItems > 0">{{ noOfTodoItems }}</ion-badge>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="project">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="showReview" tab="review">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Review</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="showChat" tab="chat">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-badge color="danger" *ngIf="noOfChats > 0">{{ noOfChats }}</ion-badge>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

