<ion-tabs>

  <ion-tab-bar *ngIf="utils.isMobile()" slot="bottom">

    <ion-tab-button layout="icon-top" tab="overview" [class.selected]="selectedTab == 'overview'">
      <ion-icon name="home"></ion-icon>
      <ion-badge color="danger" *ngIf="noOfTodoItems > 0">{{ noOfTodoItems }}</ion-badge>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" *ngIf="showEvents" tab="events" [class.selected]="selectedTab == 'events'">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" tab="project" [class.selected]="selectedTab == 'project'">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" *ngIf="showReview" tab="reviews" [class.selected]="selectedTab == 'reviews'">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Review</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" *ngIf="showChat" tab="chat" [class.selected]="selectedTab == 'chat'">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-badge color="danger" *ngIf="noOfChats > 0">{{ noOfChats }}</ion-badge>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" tab="settings" [class.selected]="selectedTab == 'settings'">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-tab-bar *ngIf="!utils.isMobile()" slot="top">

    <ion-tab-button layout="icon-top" tab="overview" [class.selected]="selectedTab == 'overview'">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" *ngIf="showEvents" tab="events" [class.selected]="selectedTab == 'events'">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" tab="project" [class.selected]="selectedTab == 'project'">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" *ngIf="showReview" tab="reviews" [class.selected]="selectedTab == 'reviews'">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Review</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" *ngIf="showChat" tab="chat" [class.selected]="selectedTab == 'chat'">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-badge color="danger" *ngIf="noOfChats > 0">{{ noOfChats }}</ion-badge>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" tab="settings" [class.selected]="selectedTab == 'settings'">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
