.leading-icon {
  margin-right: 20px;
}
.item-content {
  width: 100%;
  p {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
  }
}
.skeleton-icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.color-medium {
  color: var(--ion-color-medium) !important;
}
.color-danger {
  color: var(--ion-color-danger) !important;
}

/******************
  Event Card
******************/
.content-expired {
  padding-right: 63px;
}
.expired-batch {
  font-size: 12px;
  position: absolute;
  top: 15%;
  right: 15px;
  color: var(--ion-color-medium);
  border-radius: 12px;
  border: 1px var(--ion-color-medium);
  border-style: solid;
  padding: 1px 10px 1px 10px;
}
// use for expired event title @extend .gray-2 not working because this is a component scss file.
.color-gray-2 {
  color: var(--practera-60-Percent-gray) !important;
}

.ion-color-medium {
  --ion-color-base: var(--practera-60-Percent-gray) !important;
}