<clickable-item *ngIf="!loading"
  [active]="active"
  [lines]="lines"
  [isCustomizedCard]="true"
  [isEventItem]="isEventItem"
  aria-label="new notification item">

  <ion-icon [name]="leadingIcon" slot="start" [color]="leadingIconColor || 'primary'" class="leading-icon" [ngClass]="{'pulsing': leadingIconPulsing}"></ion-icon>

  <div class="item-content ion-padding-vertical" [ngClass]="{'event-item': isEventItem, 'content-expired': eventExpired}">
    <div *ngIf="isEventItem" style="display: flex; flex-wrap: nowrap; flex-direction: row; align-items: center;">
      <p class="item-title subtitle-3" [ngClass]="'color-' + titleColor">{{ title }}</p>
      &nbsp; <!-- this is to add some space between two elements -->
      <span style="white-space: nowrap;" class="item-title subtitle-3" [ngClass]="'color-' + titleColor"> {{ eventDayCount }}</span>
    </div>
    <p *ngIf="!isEventItem" class="item-title subtitle-3" [ngClass]="'color-' + titleColor">{{ title }}</p>
    <p *ngIf="subtitle1" class="item-subtitle-1 caption gray-2" [ngClass]="'color-' + subtitle1Color">{{ subtitle1 }}</p>
    <p *ngIf="subtitle2" class="item-subtitle-2 caption gray-2">{{ subtitle2 }}</p>
  </div>

  <ion-text *ngIf="endingText" class="item-ending-text caption gray-2" slot="end">{{ endingText }}</ion-text>

  <ion-icon *ngIf="endingIcon" [name]="endingIcon" slot="end" [color]="endingIconColor || 'primary'"></ion-icon>

  <div *ngIf="isEventItem">
    <div *ngIf="eventExpired" class="expired-batch gray-2">Expired</div>
    <!-- Show fully booked label if event is not expired -->
    <div *ngIf="eventFullyBooked && !eventExpired" class="expired-batch gray-2">Fully Booked</div>
    <!-- Show video conference label if event is not expired and not fully booked -->
    <div *ngIf="eventVideoConference && !eventExpired && !eventFullyBooked" class="video-conference-batch ion-text-capitalize">{{ eventVideoConference.provider }}</div>
  </div>

</clickable-item>

<ion-item *ngIf="loading" [lines]="lines">
  <ion-avatar class="skeleton-icon leading-icon">
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-avatar>
  <div class="item-content ion-padding-vertical">
    <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
    <p><ion-skeleton-text animated></ion-skeleton-text></p>
  </div>
</ion-item>
