ion-icon {
  margin-right: 10px;
  font-size: 24px;
}
.close-icon {
  font-size: x-large;
}
h1 {
  margin: 0;
}

.zoom-meeting {
  img {
    width: 24px !important;
    height: 24px !important;
    margin-right: 10px;
  }
  .item-content {
    width: 100%;
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    p:nth-child(1) {
      margin-bottom: 0 !important;
      margin-top: 12px !important;
      color: var(--practera-event-zoom-color);
    }
    p:nth-child(2) {
      margin-top: 0 !important;
      margin-bottom: 12px !important;
    }
  }
}

ion-button.ion-focused {
  border: 1px solid black;
  border-radius: 8px;
  // box-shadow: 0 0px 11px 6px #0ff;
}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
