<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'profileImage'">
    <p class="upload-icon" (click)="uploadFile()"><ion-icon name="camera-outline"></ion-icon></p>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <div class="drop-zone" appDragAndDrop (fileDropped)="onFileDrop($event)" acceptFileType="{{ fileType }}">
      <p><ion-icon slot="start" name="cloud-upload"></ion-icon> Drag and drop file here or
        <ion-button size="small" class="upload-button" shape="round" (click)="uploadFile()" [disabled]="disabled">
          UPLOAD FILE
        </ion-button>
      </p>
    </div>
    <div class="upload-progress">
        <ion-progress-bar color="primary" value="0.5" mode="ios"></ion-progress-bar>
    </div>
  </ng-container>
</ng-container>
