<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'profileImage'">
    <p class="upload-icon" (click)="uploadFile()"><ion-icon name="camera-outline"></ion-icon></p>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <div class="drop-zone" appDragAndDrop (fileDropped)="onFileDrop($event)">
      <!-- <input type="file" (change)="dragAndDropUpload($event.target.files)" > -->
      <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
      <p>Drag and drop file here</p>
      <p>or</p>
      <ion-button size="small" class="upload-button" shape="round" fill="solid" expand="full" (click)="uploadFile()" [disabled]="disabled">
        <ion-icon slot="start" name="cloud-upload-outline"></ion-icon> UPLOAD FILE
      </ion-button>
    </div>
    <p></p>
  </ng-container>
</ng-container>
