.upload-icon {
    cursor: pointer;
    border-radius: 50%; 
    overflow: hidden; 
    width: 32px; 
    height: 32px; 
    text-align: center; 
    background-color: var(--ion-color-primary);
    color: white;
    ion-icon {
      font-size: 24px;
      margin-top: 10%;
    }
  }