.todo-card {
  border: .5px solid #d8dbeb;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #fff;
  min-height: 58px;
}
.ending-arrow {
  margin-left: 5px;
  margin-right: -6px;
  font-size: 1.2em;
}
.time-stamp {
  right: 30px;
  top: 20px;
  font-size: 13px;
  position: absolute;
  top: 18px;
  font-size: 12px;
}
