<ion-card color="primary-contrast" class="todo-card practera-card">
  <clickable-item lines="none">

    <ng-container *ngIf="todoItem.type; else noOrLoading">
      <ng-container [ngSwitch]="todoItem.type">
        <ion-icon *ngSwitchCase="'feedback_available'" name="information-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-icon *ngSwitchCase="'review_submission'" name="information-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-icon *ngSwitchCase="'chat'" name="chatboxes" slot="start" color="primary"></ion-icon>
        <ion-icon *ngSwitchCase="'event'" name="calendar" slot="start" color="primary"></ion-icon>
        <ion-icon *ngSwitchCase="'assessment_submission_reminder'" name="clipboard" slot="start" color="primary"></ion-icon>
      </ng-container>

      <div class="icon-item">
        <h4 class="todo-card-title">{{todoItem.name}}</h4>
        <ion-text color="medium">
          <p class="todo-card-subtitle">{{todoItem.description}}</p>
        </ion-text>
      </div>
      <ion-text color="medium" class="time-stamp" slot="end">{{todoItem.time}}</ion-text>
    </ng-container>

    <ng-template #noOrLoading>
      <ng-container *ngIf="loading; else noItems">
        <ion-icon name="hourglass" slot="start" color="primary"></ion-icon>
        <div>
          <ion-text color="medium">Loading</ion-text>
          <ion-spinner name="dots" class="vertical-middle"></ion-spinner>
        </div>
      </ng-container>

      <ng-template #noItems>
        <ion-icon name="notifications" slot="start" color="primary"></ion-icon>
        <div>
          <ion-text color="medium">You have no new notifications.</ion-text>
        </div>
      </ng-template>
    </ng-template>

  </clickable-item>
</ion-card>
