.todo-card {
  ion-icon {
    margin-right: 16px;
  }

  .icon-item {
    .todo-card-title, .todo-card-subtitle {
      font-weight: normal;
    }
  }

  border: .5px solid #d8dbeb;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #fff;
  min-height: 58px;
}

.time-stamp {
  font-size: 12px;
}
