<ng-container *ngIf="file">
  <ng-container [ngSwitch]="fileType">

    <ng-container *ngSwitchCase="'image'">
      <app-img [imgSrc]="file.url" alt="filestack image"></app-img>
      <ng-container *ngIf="isFileComponent">
        <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'video'">
      <video controls preload #videoEle>
        <ng-container *ngIf="file.transcoded">
          <source [src]="file.transcoded + '.mp4#t=0.5'" type="video/mp4">
          <source [src]="file.transcoded + '.webm'" type="video/webm">
          <source [src]="file.transcoded + '.ts'">
        </ng-container>
        <source [src]="file.url">
        {{ file.url }}
      </video>
      <ng-container *ngIf="isFileComponent">
          <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'any'">
      <div *ngIf="!(virusDetection && virusDetection.infected); else virusDetected">
        <ng-container *ngIf="isFileComponent; else onlyfilename">
            <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
        </ng-container>
        <ng-template #onlyfilename>
          <app-list-item
            [title]="file.filename"
            leadingIcon="document"
            [lines]="lines"
            [endingActionBtnIcons]="['download', 'search']"
            (actionBtnClick)="actionBtnClick(file, $event)"
          ></app-list-item>
        </ng-template>
      </div>
      <ng-template #virusDetected>
        <ion-item lines="none" color="transparent">
          <ion-icon name="alert" color="danger" slot="start"></ion-icon>
          <ion-label class="warning">
            The file you have uploaded contains a virus and is potentially harmful. Please contact your program coordinator
          </ion-label>
        </ion-item>
      </ng-template>
    </ng-container>

  </ng-container>
</ng-container>

<ng-template #fileDetails>
  <app-list-item
    [title]="file.filename"
    leadingIcon="document"
    [lines]="lines"
    [endingActionBtnIcons]="endingActionBtnIcons"
    (actionBtnClick)="actionBtnClick(file, $event)"
  ></app-list-item>
</ng-template>
