<ng-container *ngIf="file">
  <ng-container [ngSwitch]="fileType">

    <ng-container *ngSwitchCase="'image'">
      <app-img [imgSrc]="file.url" alt="filestack image"></app-img>
      <ng-container *ngIf="isFileComponent">
        <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'video'">
      <video controls preload #videoEle>
        <ng-container *ngIf="file.transcoded">
          <source [src]="file.transcoded + '.mp4#t=0.5'" type="video/mp4">
          <source [src]="file.transcoded + '.webm'" type="video/webm">
          <source [src]="file.transcoded + '.ts'">
        </ng-container>
        <source [src]="file.url">
        {{ file.url }}
      </video>
      <ng-container *ngIf="isFileComponent">
          <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'any'">
      <div *ngIf="!(virusDetection && virusDetection.infected); else virusDetected">
        <ng-container *ngIf="isFileComponent; else onlyfilename">
            <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
        </ng-container>
        <ng-template #onlyfilename>
          <a [href]="file.url" target="_blank" class="subtitle-1">
            <ion-icon name="document"></ion-icon>&nbsp;{{ file.filename }}
          </a>
          <ion-icon *ngIf="file.url.length > 0" name="search" (click)="previewFile(file)" color="primary" class="ion-padding-left ion-float-right"></ion-icon>
        </ng-template>
      </div>
      <ng-template #virusDetected>
        <ion-item lines="none" color="transparent">
          <ion-icon name="alert" color="danger" slot="start"></ion-icon>
          <ion-label class="warning">
            The file you have uploaded contains a virus and is potentially harmful. Please contact your program coordinator
          </ion-label>
        </ion-item>
      </ng-template>
    </ng-container>

  </ng-container>
</ng-container>

<ng-template #fileDetails>
  <ion-item class="ion-no-padding ion-no-margin">
    <ion-grid class="ion-padding">
      <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">
        <ion-col class="ion-text-center radius-backdrop">
          <ion-icon name="download-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col size="7" class="file-name-container">
          <ng-container *ngIf="fileType === 'any'; else otherTypes">
            <a [href]="file.url" target="_blank" class="subtitle-1">
              {{ file.filename }}
            </a>
          </ng-container>
          <ng-template #otherTypes>
            <p class="black subtitle-1"> {{ file.filename }} </p>
          </ng-template>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ng-container *ngIf="fileType === 'any'">
            <ion-icon name="search-outline" color="primary" (click)="previewFile(file)"></ion-icon>
          </ng-container>
          <ion-icon *ngIf="removeFile.observers.length > 0 && !disabled" name="trash-outline" color="primary" (click)="removeUploadedFile()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ng-template>
