video {
  width: 100%
}

.warning {
  font-weight: 400;
  font-size: 16px;
  white-space: normal;
}

.file-details {
  --ion-grid-column-padding: 0;
  --ion-grid-padding: 0;
  margin-top: 12px;
  ion-icon {
    font-size: 24px;
  }

  .action-buttons-container {
    text-align: center;
    ion-icon {
      cursor: pointer;
    }
  }

}

.file-name-container {
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
