<ion-segment (ionChange)="switchStatus()" value="pending">
  <ion-segment-button value="pending" mode="ios">
    <ion-label i18n>Pending</ion-label>
  </ion-segment-button>
  <ion-segment-button value="completed" mode="ios">
    <ion-label i18n>Completed</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-list *ngIf="reviews">
  <ng-container *ngFor="let review of reviews">
    <app-list-item
      class="focusable"
      *ngIf="review.isDone === showDone"
      [title]="review.name"
      [subtitle1]="review.submitterName"
      subtitle1Color="grey-75"
      [subtitle2]="review.teamName"
      subtitle2Color="grey-75"
      leadingIcon="eye"
      [active]="currentReview && currentReview.submissionId === review.submissionId"
      lines="full"
      (click)="goto(review)"
      (keydown)="goto(review, $event)"
      [endingText]="review.date"
      endingTextColor="grey-75"
      tabindex="0"
      role="button"
    ></app-list-item>
  </ng-container>
</ion-list>

<ion-list *ngIf="reviews === null">
  <app-list-item [loading]="true"></app-list-item>
  <app-list-item [loading]="true"></app-list-item>
</ion-list>

<div *ngIf="noReviews" class="ion-text-center no-review">
  <ion-icon class="large-icon" color="primary" name="chatbox-ellipses-outline"></ion-icon>
  <p class="body-1" i18n>You have no {{ noReviews }} review yet!</p>
  <ion-text class="subtitle-2" color="grey-75" i18n>Reviews show up here, so you can easily view them here later.</ion-text>
</div>
