.large-icon {
  font-size: 80px;
}
.no-review {
  padding: 10px 15%;
}

ion-segment {
  --background: var(--ion-color-light);
  padding: 10px;
  ion-segment-button.ion-focused {
    border: 1px solid var(--ion-color-primary);
  }
}
.focusable:focus {
  border: 1px solid var(--ion-color-primary);
  display: block;
}
