<ion-segment (ionChange)="switchStatus($event)" [value]="selectedGroup">
  <ion-segment-button value="pending" mode="ios">
    <ion-label>Pending</ion-label>
  </ion-segment-button>
  <ion-segment-button value="completed" mode="ios">
    <ion-label>Completed</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-list *ngIf="filteredReviews">
  <ng-container *ngFor="let review of filteredReviews">
    <app-list-item
      [title]="review.name"
      [subtitle1]="review.submitterName"
      subtitle1Color="grey-75"
      [subtitle2]="review.teamName"
      subtitle2Color="grey-75"
      leadingIcon="eye"
      [active]="currentReview && currentReview.submissionId === review.submissionId"
      lines="full"
      (click)="goto(review)"
      [endingText]="review.date"
      endingTextColor="grey-75"
    ></app-list-item>
  </ng-container>
</ion-list>

<ion-list *ngIf="reviews === null">
  <app-list-item [loading]="true"></app-list-item>
  <app-list-item [loading]="true"></app-list-item>
</ion-list>

<div *ngIf="noReviews" class="ion-text-center no-review">
  <ion-icon class="large-icon" color="primary" name="chatbox-ellipses-outline"></ion-icon>
  <p class="body-1">You have no {{ noReviews }} review yet!</p>
  <ion-text class="subtitle-2" color="grey-75">Reviews show up here, so you can easily view them here later.</ion-text>
</div>
