<ion-content>
  <ion-segment (ionChange)="statusUpdate($event)" value="pending">
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ng-container *ngFor="let item of (reviews$ | async) as reviews">
      <ion-item button *ngIf="item.status === status" (click)="read(item)">
        <ion-icon [name]="item.icon" slot="start" size="large"></ion-icon>
        <ion-label>
          <h2>{{ item.title }}</h2>
          <p>{{ item.submitter }}</p>
          <p>{{ item.team }}</p>
        </ion-label>
        <ion-note slot="end">{{ item.date }}</ion-note>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-card *ngIf="loadingReviews; else reviewsTmpl" class="practera-card">
    <ion-list>
      <app-list-item [loading]="true"></app-list-item>
      <app-list-item [loading]="true" lines="none"></app-list-item>
    </ion-list>
  </ion-card>

  <ng-template #reviewsTmpl>
    <ng-container *ngIf="!noReviewsToDo() && !noReviewsDone()">
      <ion-card class="practera-card">
        <ion-list>
          <ng-container *ngFor="let review of reviews; let i = index">
            <app-list-item *ngIf="review.isDone == showDone" leadingIcon="clipboard-outline" [title]="review.name"
              [subtitle1]="'submitted by ' + review.submitterName" [subtitle2]="review.teamName"
              [endingText]="review.date" [active]="submissionId === review.submissionId"
              [lines]="i == reviews.length - 1 ? 'none' : ''"
              (click)="gotoReview(review.contextId, review.assessmentId, review.submissionId)"></app-list-item>
          </ng-container>
        </ion-list>
      </ion-card>
    </ng-container>

  </ng-template>
  <ion-text>
    <pre>{{ review$ | async | json }}</pre>
  </ion-text>
</ion-content>
