.text-right {
  text-align: right;
}
.icon-info {
  font-size: 20px;
}
.review-submitter {
  p {
    color: var( --practera-review-title);
    padding-left: 10px;
    font-size: 14px;
    padding-top: 43px;
    font-weight: 500;
  }
}
