<ion-header>
  <ion-toolbar color="light">
    <ion-icon name="arrow-back" (click)="back()" color="primary" slot="start" margin-start></ion-icon>
    <ion-title text-center>Assessment</ion-title>
    <ion-title *ngIf="saving" text-center class="subTitle">{{savingMessage}}</ion-title>
    <ion-button disabled="saving" class="text-button" color="primary" slot="end" fill="clear" size="small">Save</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding color="light" text-center>
  <h1>{{ assessment.name }}</h1>
  <ion-text color="medium" text-left>
    <app-description [content]="assessment.description"></app-description>
  </ion-text>
  <div class="review-submitter" *ngIf="assessment.isForTeam" text-left>
    <p class="title">
      Submitted by {{ submission.submitterName }}
    </p>
  </div>

  <form [formGroup]="questionsForm">
    <ng-container *ngIf="loadingAssessment">
      <ion-spinner></ion-spinner>
    </ng-container>
    <ng-container *ngFor="let group of assessment.groups">
      <h3>{{ group.name }}</h3>
      <ion-text color="medium" text-left>
        <app-description [content]="group.description"></app-description>
      </ion-text>
      <ng-container *ngFor="let question of group.questions">
        <ion-card class="practera-card" text-left>
          <ion-card-header class="q-title">
            {{ question.name }}
            <ion-text color="danger" *ngIf="question.isRequired">*</ion-text>
            <ion-icon *ngIf="question.info" color="primary" class="icon-info vertical-middle" (click)="showQuestionInfo(question.info)" name="information-circle-outline"></ion-icon>
            <ion-text color="medium" class="paragraph" text-left>
              <app-description [content]="question.description"></app-description>
            </ion-text>
          </ion-card-header>
          <div text-center margin-bottom *ngIf="loadingSubmission; else submissionTpl">
            <ion-spinner></ion-spinner>
          </div>
          <ng-template #submissionTpl>
            <ion-card-content [ngSwitch]="question.type" padding-horizontal class="q-content" color="light" margin-top>
              <p><i *ngIf="!doAssessment &&
                (
                  (!question.reviewerOnly && !submission.answers[question.id]) ||
                  (!doReview && question.reviewerOnly && !review.answers[question.id])
                )"
                >No Answer Submitted</i></p>

              <app-text
                *ngSwitchCase="'text'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit($event)"
              ></app-text>

              <app-oneof
                *ngSwitchCase="'oneof'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit($event)"
              ></app-oneof>

              <app-multiple
                *ngSwitchCase="'multiple'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit($event)"
              ></app-multiple>

              <app-file
                *ngSwitchCase="'file'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit($event)"
              ></app-file>

              <app-team-member-selector
                *ngSwitchCase="'team member selector'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit($event)"
              ></app-team-member-selector>

            </ion-card-content>
          </ng-template>
        </ion-card>
      </ng-container>
    </ng-container>

    <ion-button *ngIf="doAssessment || doReview" [disabled]="submitting" (click)="submit(false)" shape="round" expand="full">
      <ng-container *ngIf="!submitting">Submit</ng-container>
      <ng-container *ngIf="submitting">Submitting...</ng-container>
    </ion-button>

    <div *ngIf="action === 'assessment' && submission.status == 'published'" class="text-right">
      <span class="vertical-middle">Mark feedback as read</span>
      <ng-container *ngIf="!loadingFeedbackReviewed; else spinnerTmpl">
        <ion-toggle [checked]="feedbackReviewed" [disabled]="feedbackReviewed" (ionChange)="reviewFeedback()" margin-start class="vertical-middle"></ion-toggle>
      </ng-container>
      <ng-template #spinnerTmpl><ion-spinner name="dots" class="vertical-middle"></ion-spinner></ng-template>

    </div>

  </form>


</ion-content>
