<ion-header mode="ios">
  <ion-toolbar color="light">
    <ion-icon name="arrow-back" (click)="back()" color="primary" slot="start" margin-start></ion-icon>
    <ion-title text-center>Assessment</ion-title>
    <ng-container *ngIf="doAssessment || doReview">
      <ion-title text-center class="subTitle">{{savingMessage}}</ion-title>
      <ion-button [disabled]="savingButtonDisabled" (click)="submit(true)" class="text-button" color="primary" slot="end" fill="clear" size="small">Save</ion-button>
    </ng-container>
  </ion-toolbar>
</ion-header>
<ion-content padding color="light" text-center>
  <h1>{{ assessment.name }}</h1>
  <ion-text color="medium" text-left>
    <app-description *ngIf="assessment.description" [content]="assessment.description"></app-description>
  </ion-text>
  <p [class]="assessment.isOverdue ? 'due-date assessment over' : 'due-date assessment'" *ngIf="doAssessment" text-center>
    {{ this.sharedService.dueDateFormatter(assessment.dueDate) }}
  </p>
  <div *ngIf="!doAssessment && submission.submitterName && !submission.isLocked" class="review-submitter" text-left>
    <p class="title">
      Submitted by {{ submission.submitterName }}
    </p>
  </div>
  <div *ngIf="submission.reviewerName" class="review-submitter" text-left>
    <p class="title">
      Reviewed by {{ submission.reviewerName }} {{review.status}}
    </p>
  </div>

  <ion-list *ngIf="submission.isLocked" class="member-detail-container no-bg" lines="none">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img alt="{{ submission.submitterName }}" [src]="submission.submitterImage ? submission.submitterImage : 'https://my.practera.com/img/user-512.png'">
      </ion-avatar>
      <ion-label>
        <h4>Locked by {{ submission.submitterName }}</h4>
        <p>Please wait until the user finishes editing</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <form [formGroup]="questionsForm">
    <ng-container *ngIf="loadingAssessment">
      <ion-spinner></ion-spinner>
    </ng-container>
    <ng-container *ngFor="let group of assessment.groups">
      <h2>{{ group.name }}</h2>
      <ion-text color="medium" text-left>
        <app-description class="g-description" *ngIf="group.description" [content]="group.description"></app-description>
      </ion-text>
      <ng-container *ngFor="let question of group.questions">
        <ion-card class="practera-card" text-left>
          <ion-card-header class="q-title">
            {{ question.name }}
            <ion-text class="required-indicator" color="danger" *ngIf="question.isRequired">*</ion-text>
            <ion-icon *ngIf="question.info" color="primary" class="icon-info vertical-middle" (click)="showQuestionInfo(question.info)" name="information-circle-outline"></ion-icon>
            <ion-text color="medium" class="paragraph" text-left>
              <app-description class="q-description" *ngIf="question.description" [content]="question.description"></app-description>
            </ion-text>
          </ion-card-header>
          <div text-center margin-bottom *ngIf="loadingSubmission; else submissionTpl">
            <ion-spinner></ion-spinner>
          </div>
          <ng-template #submissionTpl>
            <ion-card-content [ngSwitch]="question.type" padding-horizontal class="q-content" color="light" margin-top>
              <p><i *ngIf="!doAssessment &&
                (
                  (!question.reviewerOnly && !submission.answers[question.id]) ||
                  (!doReview && question.reviewerOnly && !review.answers[question.id])
                )"
                >No Answer Submitted</i></p>

              <app-text
                *ngSwitchCase="'text'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [reviewStatus]="review.status"
                [submissionStatus]= "submission.status"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit(true)"
              ></app-text>

              <app-oneof
                *ngSwitchCase="'oneof'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [reviewStatus]="review.status"
                [submissionStatus]= "submission.status"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit(true)"
              ></app-oneof>

              <app-multiple
                *ngSwitchCase="'multiple'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [reviewStatus]="review.status"
                [submissionStatus]= "submission.status"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit(true)"
              ></app-multiple>

              <app-file
                *ngSwitchCase="'file'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [reviewStatus]="review.status"
                [submissionStatus]= "submission.status"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit(true)"
              ></app-file>

              <app-team-member-selector
                *ngSwitchCase="'team member selector'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="doReview"
                [submission]="(submission.answers && submission.answers[question.id]) ? submission.answers[question.id] : {}"
                [review]="(review.answers && review.answers[question.id]) ? review.answers[question.id] : {}"
                [reviewStatus]="review.status"
                [submissionStatus]= "submission.status"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm.controls['q-' + question.id]"
                (saveProgress)="submit(true)"
              ></app-team-member-selector>

            </ion-card-content>
          </ng-template>
        </ion-card>
      </ng-container>
    </ng-container>

    <ion-button
      id="btn-submit"
      *ngIf="doAssessment || doReview"
      [disabled]="submitting || questionsForm.invalid"
      (click)="submit(false)"
      shape="round"
      expand="full">
      <ng-container *ngIf="!submitting">Submit</ng-container>
      <ng-container *ngIf="submitting">{{ submitting }}</ng-container>
    </ion-button>

  </form>
</ion-content>

<ion-footer color="light"
  *ngIf="action === 'assessment' && (loadingSubmission ||
  ['pending review', 'done', 'pending approval', 'published'].indexOf(submission.status) !== -1)">
  <ion-toolbar>
    <ion-spinner style="width: 100%;"
      *ngIf="loadingSubmission || (loadingFeedbackReviewed && submission.status == 'published')"
      name="dots"
      class="vertical-middle text-center"
    ></ion-spinner>
    <ion-button *ngIf="!loadingMarkedDone && !loadingFeedbackReviewed && submission.status == 'published' && !feedbackReviewed"
      (click)="markReviewFeedbackAsRead()"
      shape="round"
      expand="full">
      {{markingAsReview}}
    </ion-button>
    <ion-button *ngIf="['pending review', 'done', 'pending approval'].indexOf(submission.status) !== -1 || (feedbackReviewed && submission.status == 'published')"
      (click)="redirectToNextMilestoneTask({ continue: true })"
      [disabled]="isRedirectingToNextMilestoneTask"
      shape="round"
      expand="full">
      {{ isRedirectingToNextMilestoneTask ? 'Loading next task...' : 'Continue' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
