.text-right {
  text-align: right;
}
.icon-info {
  font-size: 20px;
}
.review-submitter {
  p {
    color: var( --practera-review-title);
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.subTitle {
  font-size: small;
  color: var(--ion-color-medium-shade);
  &.title-ios {
    margin-top: 30px;
    height: 16px;
  }
}
.text-button {
  text-transform: capitalize;
}

ion-toolbar {
  min-height: 56px;
}

.member-detail-container {
  margin-bottom: 0px;
  margin-top: 15px;
  ion-item {
    height: 64px;
    --background: transparent;
    --padding-start: 0px;
  }
  ion-avatar {
    height: 48px;
    width: 48px;
  }
  ion-label {
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      color: var(--ion-color-medium-shade);
    }
  }
}
