.toggle-mark {
  font-size: small;
}
.file-name-view {
  span {
    font-size: 0.7em;
  }
}
.icon-backward {
  font-size: 20px !important;
}

.margin-right {
  margin-right: 10px;
}
.topic-icons {
  ion-icon {
    font-size: 20px;
  }
}
