.toggle-mark {
  font-size: small;
}
.file-name-view {
  p {
    margin: 0;
    font-size: 14px;
  }
}
.icon-backward {
  font-size: 20px !important;
}

.margin-right {
  margin-right: 10px;
}
.supporting-files {
  font-size: 14px;
  line-height: 20px;
  ion-icon {
    font-size: 20px;
  }
}
.practera-card {
  margin: 18px 0;
}

.plyr--video, .plyr__poster {
  background: transparent !important;
  background-color: transparent !important;
}

.hover-pointer {
  cursor: pointer;
}
.footer-action {
  height: 40px;
  margin: 10px 20px;
}
