<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="back()" color="primary" slot="start" margin-start></ion-icon>
    <ion-title text-center>Topic</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 text-center>{{topic.title}}</h3>

  <div *ngIf="topic.videolink && topic.videolink !=='magiclink'" class="text-center">
    <iframe [src]="topic.videolink" width="95%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</ion-content>