<style>
#mainContainer, body, ion-content {
  background-color: #000 !important;
  color: #fff ;
  --ion-color-primary: #fff;
  --ion-color-primary-contrast: #000;
}
</style>

<ion-content color="white" text-center>
  <div class="div-logo"><img width=60% src="/assets/img/uber.jpg" />
  </div>
  <div class="div-after-logo">
    <form (ngSubmit)="login()" [formGroup]="loginForm" (keyup.enter)="login()">
      <ion-list margin>
        <ion-item>
          <ion-input name="email" formControlName="email" required autocomplete="on" inputmode="email" type="email" placeholder="Email" ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input name="password" formControlName="password" autocomplete="on" inputmode="password" required type="password" placeholder="Password" ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button shape="round" color="primary" [disabled]="!loginForm.valid || isLoggingIn" type="submit">
        <ng-container *ngIf="!isLoggingIn">LOGIN</ng-container>
        <ng-container *ngIf="isLoggingIn">LOGGING IN...</ng-container>
      </ion-button>
    </form>
  </div>
  <div class="text-split">
    <a routerLink="/forgot_password">Problem signing in?</a>
  </div>
  <div  class="text-split">
  <a href='https://marketplace.practera.com/collections/free-practera-experience-trials/products/free-trial-a-day-in-the-life-of-a-technology-product-manager-at-yestech'>Sign up for a Free Trial Now!</a>
  </div>
  <div>
    <a>Powered by</a><img src="/assets/img/practera_logo_white.svg" height="55" class="img-inline">
  </div>
</ion-content>
