<ion-content color="light" text-center>
  <div class="div-logo">
    <img src="./assets/logo.svg" width="60%">
  </div>
  <ion-list margin-horizontal>
    <ion-item>
      <ion-input name="email" [(ngModel)]="email" required type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" [(ngModel)]="password" required type="password" placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>
  <button class="btn-login" (click)="login()"><img src="./assets/login-button.svg" width="100%"></button>
  <div style="margin:40px 0;">
    <a (click)="forgotPassword()">Problem signing in?</a>
  </div>
  <div>
    <a>Powered by</a><img src="./assets/logo.svg" height="25" style="margin-left: 10px;vertical-align: middle;">
  </div>
</ion-content>