<ion-content color="light" class="ion-text-center" *ngIf="verifySuccess">
  <div class="div-logo">
    <app-branding-logo></app-branding-logo>
  </div>
  <div class="div-after-logo">
    <div class="text-split">
      <p><b>Reset your password</b></p>
      <p>Please enter a new password for your account.</p>
    </div>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
      <ion-input name="username" formControlName="email" type="email"></ion-input>
      <ion-list>
        <ion-item>
          <ion-input
            name="password"
            autocomplete="new-password"
            inputmode="password"
            formControlName="password"
            required
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password" ></ion-input>
          <ion-button (click)="showPassword = !showPassword" fill="clear">
            <ion-icon slot="end" [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-input
            name="confirmPassword"
            autocomplete="new-password"
            inputmode="password"
            formControlName="confirmPassword"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Verify"
            [class.invalid-field]="resetPasswordForm.hasError('notMatching') && resetPasswordForm.controls.confirmPassword.value"></ion-input>
        </ion-item>
      </ion-list>
      <ion-text color="danger" class="ion-margin-top" *ngIf="resetPasswordForm.hasError('notMatching') && resetPasswordForm.controls.confirmPassword.value">
        Password do not match
      </ion-text>
      <br/>
      <ion-button shape="round" color="primary" [disabled]="!resetPasswordForm.valid || isResetting" type="submit">
        <ng-container *ngIf="!isResetting">CHANGE PASSWORD</ng-container>
        <ng-container *ngIf="isResetting">RESETTING...</ng-container>
      </ion-button>
    </form>
    <div class="text-split">
      <span><ion-text class="ion-margin-end"> Remembered it?</ion-text></span>
      <a routerLink="/login">Login here</a>
    </div>
    <div>
      <a>Powered by</a><img src="/assets/logo.svg" height="25" class="img-inline">
    </div>
  </div>
</ion-content>
