<ion-content color="light" text-center *ngIf="verifySuccess">
  <div class="div-logo">
    <img src="/assets/logo.svg" width="60%">
  </div>
  <div class="div-after-logo">
    <div class="text-split">
      <span><ion-text margin-end><b>Reset your password</b></ion-text></span>            
    </div>
    <div class="text-split">
      <span><ion-text margin-end>Please enter a new password for your account.</ion-text></span>
    </div>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
      <ion-list margin>       
        <ion-item>
          <ion-input name="password" formControlName="password" required type="password" placeholder="Password" [disabled]="isResetting"></ion-input>
        </ion-item>
         <ion-item>
          <ion-input name="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Verify" [disabled]="isResetting"></ion-input>          
          <!-- <div style=“color: red; padding-top: 5px” *ngIf="resetPasswordForm.hasError('notMatching')"> </div> -->
        </ion-item>
      </ion-list>
      <ion-button shape="round" color="primary" [disabled]="!resetPasswordForm.valid || isResetting" type="submit">
        <ng-container *ngIf="!isResetting">CHANGE PASSWORD</ng-container>
        <ng-container *ngIf="isResetting">RESETTING...</ng-container>
      </ion-button>
    </form>
  </div>
  <div class="text-split">
      <span><ion-text margin-end> Remembered it?</ion-text></span>
      <a routerLink="/login">Login here</a>
  </div>
  <div>
    <a>Powered by</a><img src="/assets/logo.svg" height="25" class="img-inline">
  </div>
</ion-content>