ion-grid.desktop-view {
  padding: 0px;
  overflow: hidden;
  height: 100%;
  ion-row {
    height: 100%;
    ion-col {
      overflow-y: auto;
      height: 100%;
    }
  }
}
ion-col, ion-row, ion-grid, ion-content {
  background: var(--ion-color-light) !important;
}

.home-component {
  margin-left: calc(calc(1 / var(--ion-grid-columns, 12)) * 100%);
  max-width: 720px !important;
}

@media screen and (max-width: 1440px) {
  .home-component {
    margin-left: 0 !important;
  }
}
