ion-grid.desktop-view {
  padding: 0px;
  overflow: hidden;
  height: 100%;
  ion-row {
    height: 100%;
    ion-col {
      overflow-y: scroll;
      height: 100%;
    }
  }
}
ion-col {
  background: var(--ion-color-light) !important;
}
