.label {
  border-radius: 8px;
  padding: 2px 10px;
  text-transform: capitalize;
}

.bg-color-danger {
  color: white;
  background: var(--ion-color-danger) !important;
}
.bg-color-warning {
  background: var(--ion-color-warning) !important;
}
.bg-color-success {
  color: white;
  background: var(--ion-color-success) !important;
}
.bg-color-dark-blue {
  color: white;
  background: var(--practera-dark-blue-100) !important;
}
