.preference-cat-item {
    background: var(--ion-color-light) !important;
    font-weight: 500;
}
.preference-header-item {
    font-weight: 900;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
