<ion-header class="ion-no-border header-border" aria-label="events">
  <h1 class="for-accessibility">Events</h1>
  <ion-toolbar>
    <ion-title class="headline-4 grey-75">Events</ion-title>
    <ion-buttons slot="end">
      <app-personalised-header></app-personalised-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{
  'scrollable-desktop': !utils.isMobile()
}">
  <ng-container *ngIf="!utils.isMobile(); else mobileview">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" size-md="5">
          <h2 class="for-accessibility">Events list by category</h2>
          <app-event-list
            #eventList
            [activityId]="activityId"
            [eventId]="eventId"
            [multiDayId]="multiDayId"
            (navigate)="goto($event)"
          ></app-event-list>
        </ion-col>
        <ion-col size="12" size-md="7" class="border-left">
          <h2 class="for-accessibility">Event details</h2>
          <app-event-detail
            tabindex="0"
            id="eventDetail"
            #eventDetail
            *ngIf="!assessmentId && currentEvent"
            [event]="currentEvent"
            (checkin)="checkin($event)"
          ></app-event-detail>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>

<ng-template #mobileview>
  <app-event-list #eventList [activityId]="activityId"></app-event-list>
</ng-template>
