
#calendar-icon {
  font-size: 200px;
  margin-top: 20%;
}

ion-grid {
  height: 92.5vh;
  ion-row {
    height: 92.5vh;
  }
}
.border-left {
  border-left: 1px solid var(--practera-grey-25);
}

ion-content.scrollable-desktop {
  >main,
  ion-grid,
  ion-row,
  ion-col {
    overflow: hidden;
    height: 100%;

    ion-row {
      height: 100%;

      ion-col {
        overflow-y: auto;
        height: 100%;
      }
    }
  }
}
