@if (!doAssessment && (submissionStatus === 'feedback available' || submissionStatus === 'pending review' || (submissionStatus === 'done' && reviewStatus === ''))) {
  <div>
    @if (submission?.answer) {
      @if (!isReviewerFeedbackContext) {
        <ion-item lines="none">
          <ion-label class="white-space-normal body-2 gray-3">
            <p><ion-chip class="label orange">
              @if (viewerRole === 'learner') {
                <span i18n>Your Answer</span>
              } @else {
                <span i18n>Learner's Answer</span>
              }
            </ion-chip></p>
          </ion-label>
        </ion-item>
      }
      <app-file-display [file]="submission.answer"
        [fileType]="question.fileType || 'any'"
        [isFileComponent]="true"
        [lines]="(doReview && question?.canAnswer) ? 'none': 'full'"
        [deletable]="false"
      ></app-file-display>
    }
    @if (question.audience.includes('reviewer') && reviewStatus === 'done') {
      @if (!isReviewerFeedbackContext || !review?.answer) {
        <ion-item lines="none">
          <ion-label class="white-space-normal body-2 gray-3">
            @if (!isReviewerFeedbackContext) {
              <p><ion-chip class="label yellow black" i18n>Reviewer's Answer</ion-chip></p>
            }
          @if (!review?.answer) {
            <p class="body-2 gray-3 white-space-pre noanswer">
              No answer given to this optional question.
            </p>
          }
          </ion-label>
        </ion-item>
      }
      @if (review?.answer) {
        <app-file-display
          [file]="review?.answer"
          [fileType]="question.fileType || 'any'"
          [isFileComponent]="true"
          [deletable]="false"
        ></app-file-display>
      }
    }
    @if (review?.comment && question.canComment === true) {
      <ion-item class="feedback-title ion-no-padding" lines="none">
        <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
        <ion-label i18n>Feedback</ion-label>
      </ion-item>
      <ion-textarea class="ion-no-margin preview textarea white-space-pre"
        [autoGrow]="true"
        [value]="review.comment"
        [disabled]="true"
      ></ion-textarea>
    }
  </div>
}

@if (doAssessment) {
  <div class="ion-padding">
    @if (!uploadedFile && !submission?.answer) {
      <div class="uppy-container">
        <uppy-dashboard [uppy]="uppy" [props]="uppyProps">
        </uppy-dashboard>
      </div>
    }
    @for (error of errors; track error) {
      <ion-text color="danger">
        <p role="alert" aria-live="polite">{{error}}</p>
      </ion-text>
    }
    <app-file-display
      [file]="uploadedFile || submission?.answer"
      [fileType]="question.fileType || 'any'"
      [isFileComponent]="true"
      [disabled]="control.disabled"
      (removeFile)="removeSubmitFile($event)"
    ></app-file-display>
  </div>
}

@if (doReview) {
  @if (question.canAnswer) {
    @if (!uploadedFile && !review?.answer) {
      <div class="uppy-container ion-padding" >
        <uppy-dashboard [uppy]="uppy" [props]="uppyProps">
        </uppy-dashboard>
      </div>
    }
    @if (uploadedFile || review.answer) {
      <ion-item lines="none">
        <ion-label class="white-space-normal body-2 gray-3">
          <p><ion-chip class="label yellow black" i18n>Reviewer's answer</ion-chip></p>
        </ion-label>
      </ion-item>
      @if (uploadedFile || review?.answer) {
        <app-file-display
          [file]="uploadedFile || review?.answer"
          [fileType]="question.fileType || 'any'"
          [isFileComponent]="true"
          (removeFile)="removeSubmitFile($event)"
        ></app-file-display>
      }
    }
  }
  @if (question?.canComment && submission?.answer) {
    <div class="feedback-field ion-padding-horizontal ion-padding-bottom"
      >
      <ion-item class="feedback-title ion-no-padding" lines="none">
        <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
        <ion-label i18n>Feedback</ion-label>
      </ion-item>
      <ion-textarea class="ion-no-margin textarea" [autoGrow]="true"
        [attr.aria-label]="'expert\'s review feedback'"
        #commentEle [(ngModel)]="comment" (ngModelChange)="onChange(comment, 'comment')"
        placeholder="Please put your feedback here" [disabled]="control.disabled"
      ></ion-textarea>
    </div>
  }
}
