<ion-header mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center">Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">
  <ng-container>
   
    <ion-item class="profile-info no-bg" lines="none">
      <ion-avatar class="profile-image">
        <img *ngIf="!imageUpdating" [src]="profile.image">
        <p *ngIf="imageUpdating" class="loading-icon"><ion-spinner name="bubbles"></ion-spinner></p>
        <file-stack
          [accept]="acceptFileTypes"
          [fileType]="'image'"
          [type]="'profileImage'"
          (complete)="uploadProfileImage($event)"
        ></file-stack>
      </ion-avatar>
      <ion-label>
        <ion-label class="headline-6" *ngIf="profile.name">
          {{profile.name}}
        </ion-label>
        <ion-label class="subtitle-1 gray-2" *ngIf="profile.email">
          {{profile.email}}
        </ion-label>
      </ion-label>
    </ion-item>
    <app-contact-number-form [page]="'settings'"></app-contact-number-form>
 
  </ng-container>

</ion-content>
