<div *ngIf="!assessment" class="ion-padding-horizontal">
  <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
  <ion-skeleton-text animated ></ion-skeleton-text>
  <ion-skeleton-text animated ></ion-skeleton-text>
</div>

<!-- Manual Save -->
<div class="save-info" *ngIf="assessment && (doAssessment || isPendingReview)">
  <p class="body-2 grey-75">{{ savingMessage$ | async }}</p>
</div>

<ng-container *ngIf="action==='assessment' && submission?.status === 'feedback available'">
  <ion-list class="ion-no-margin ion-no-padding ion-padding-horizontal" *ngIf="submission.reviewerName">
    <ion-item-group>
      <ion-item-divider>
        <ion-label color="primary" i18n>Reviewer Details</ion-label>
      </ion-item-divider>
      <ion-item class="ion-no-padding">
        <ion-grid class="ion-padding-horizontal">
          <ion-row size="12" class="ion-justify-content-center ion-align-items-center">
            <ion-col size="6" class="ion-align-self-center" i18n>Expert</ion-col>
            <ion-col size="6" class="ion-align-self-center">{{ submission.reviewerName }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ng-container>

<ng-container *ngIf="action === 'review'">
  <ion-list *ngIf="submission"
  class="ion-no-margin ion-no-padding ion-padding-horizontal main-content">
    <ion-item-group>
      <ion-item-divider>
        <ion-label color="primary" i18n>Submission Details</ion-label>
      </ion-item-divider>
      <ion-item class="ion-no-padding">
        <ion-grid class="ion-padding-horizontal">
          <ion-row size="12" class="ion-justify-content-center ion-align-items-center">
            <ion-col size="6" class="ion-align-self-center" i18n>Learner</ion-col>
            <ion-col size="6" class="ion-align-self-center">{{ submission.submitterName }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item class="ion-no-padding" *ngIf="review?.teamName">
        <ion-grid class="ion-padding-horizontal">
          <ion-row size="12" class="ion-justify-content-center ion-align-items-center">
            <ion-col size="6" class="ion-align-self-center" i18n>Team</ion-col>
            <ion-col size="6" class="ion-align-self-center">{{ review.teamName }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ng-container>

<ng-container *ngIf="assessment">
  <div [ngClass]="{'ion-padding': !isMobile}"
    class="main-content" style="min-height: 100%;">
    <div [ngClass]="{'ion-padding-horizontal padding-top': isMobile}">
      <div class="headline-2 assessment-title"
        [attr.aria-describedby]="randomCode(assessment.name)"
        role="heading" aria-level="2">{{ assessment.name }}</div>

      <ion-chip [class]="'label body-3 '+ labelColor" *ngIf="label">
        <ion-label>{{ label }}</ion-label>
      </ion-chip>

      <p class="assessment subtitle-1 due-date" *ngIf="task?.dueDate" style="margin: 10px 0;">
        <strong i18n>Due Date</strong>: {{ utils.utcToLocal(task.dueDate) }}
      </p>

      <ion-text class="ion-text-left">
        <app-description *ngIf="assessment.description"
          [name]="randomCode(assessment.name)"
          [content]="assessment.description" id="asmt-des" class="body-2 black"
          [attr.aria-describedby]="randomCode(assessment.name)"
        ></app-description>
      </ion-text>

      <ion-list *ngIf="submission && submission.isLocked" class="member-detail-container no-bg" lines="none">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="submission.submitterImage ? submission.submitterImage : 'https://my.practera.com/img/user-512.png'"
              alt="submitter indicator">
          </ion-avatar>

          <ion-label>
            <p class="subtitle-1" i18n="indicator of a team member is working on the same assessment">Locked by {{ submission.submitterName }}</p>
            <p class="caption gray-2" i18n>Please wait until the user finishes editing</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <form [formGroup]="questionsForm" id="formgroup">
      <ng-container *ngFor="let group of assessment.groups">
        <div [ngClass]="{'ion-padding': isMobile}">
          <h3 [attr.aria-describedby]="randomCode(group.name)">{{ group.name }}</h3>
          <ion-text color="dark" class="ion-text-left">
            <div
              *ngIf="group.description"
              class="g-descriptiond body-2"
              [id]="randomCode(group.name)"
              [innerHtml]="group.description">
            </div>
          </ion-text>
        </div>

        <ng-container *ngFor="let question of group.questions">
          <ion-list class="ion-no-padding">
            <ion-list-header
              class="question-title headline-4"
              [attr.aria-label]="question.name"
              [attr.aria-describedby]="randomCode('reviewer-' + question.name)">
              <ion-label class="ion-margin-vertical">
                {{ question.name }}
                <span class="required-mark"
                  [ngClass]="{'contrast': isRedColor}"
                  *ngIf="question.isRequired"
                >&nbsp;*</span>
              </ion-label>

              <ion-button mode="ios"
                *ngIf="question.info"
                fill="clear"
                (click)="showQuestionInfo(question.info)"
                (keydown)="showQuestionInfo(question.info, $event)"
                class="btn-info ion-no-margin focusable"
                role="button"
                tabindex="0">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-list-header>

            <ion-item lines="none" *ngIf="question.description" class="explanation">
              <div
                *ngIf="question.description"
                class="q-description paragraph body-3 ion-text-left gray-2"
                [id]="randomCode('reviewer-' + question.name)"
                [innerHtml]="question.description">
              </div>
            </ion-item>

            <ng-container *ngIf="question" [ngSwitch]="question.type">
              <ion-item *ngIf="!doAssessment && (
                (!question.reviewerOnly && utils.isEmpty(submission?.answers[question.id]?.answer)) ||
                (question.reviewerOnly && !review?.answers[question.id] && !isPendingReview)
              )" class="no-answers item-bottom-border" lines="none">
                <ion-icon slot="start" color="orange" name="information-circle-outline" class="ion-margin-end"></ion-icon>
                <ion-label size="small" i18n>No answer for this question.</ion-label>
              </ion-item>

              <app-text *ngSwitchCase="'text'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submissionId]="submission.id"
                [reviewId]="review?.id"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                [submitActions$]="submitActions"></app-text>

              <app-oneof *ngSwitchCase="'oneof'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submissionId]="submission.id"
                [reviewId]="review?.id"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                [submitActions$]="submitActions"></app-oneof>

              <app-multiple *ngSwitchCase="'multiple'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submissionId]="submission.id"
                [reviewId]="review?.id"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                [submitActions$]="submitActions"></app-multiple>

              <app-file *ngSwitchCase="'video'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submissionId]="submission.id"
                [reviewId]="review?.id"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                [videoOnly]="true"
                [submitActions$]="submitActions"></app-file>

              <app-file *ngSwitchCase="'file'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submissionId]="submission.id"
                [reviewId]="review?.id"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                [submitActions$]="submitActions"></app-file>

              <app-team-member-selector *ngSwitchCase="'team member selector'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submissionId]="submission.id"
                [reviewId]="review?.id"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                [submitActions$]="submitActions"></app-team-member-selector>

              <app-multi-team-member-selector *ngSwitchCase="'multi team member selector'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submissionId]="submission.id"
                [reviewId]="review?.id"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                [submitActions$]="submitActions"></app-multi-team-member-selector>

              <div *ngSwitchDefault>
                <p class="ion-padding-horizontal" style="color:red;" i18n>Unsupported question type: {{ question.type }}</p>
              </div>
            </ng-container>
          </ion-list>
        </ng-container>
      </ng-container>
    </form>
  </div>

  <ng-container *ngIf="preventSubmission === false; else blocked">
    <app-bottom-action-bar
      *ngIf="!(action === 'review'
      && submission?.status === 'feedback available'
      && review?.status === 'done')"
      [text]="btnText"
      [disabled$]="btnDisabled$"
      (handleClick)="continueToNextTask()"
    ></app-bottom-action-bar>
  </ng-container>

  <ng-template #blocked>
    <app-bottom-action-bar buttonType="blocked-role"></app-bottom-action-bar>
  </ng-template>

  <div class="not-team ion-padding ion-text-center" *ngIf="isNotInATeam">
    <p class="black subtitle-1" i18n>Currently you are not in a team, please reach out to your Administrator or Coordinator to
      proceed with next steps.</p>
  </div>
</ng-container>
