<div *ngIf="!assessment" class="ion-padding-horizontal">
  <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
  <ion-skeleton-text animated ></ion-skeleton-text>
  <ion-skeleton-text animated ></ion-skeleton-text>
</div>
<ng-container *ngIf="action==='assessment' && submission?.status === 'feedback available'">
  <ion-list class="ion-no-margin ion-no-padding ion-padding-horizontal" *ngIf="submission.reviewerName">
    <ion-item-group>
      <ion-item-divider>
        <ion-label color="primary">Reviewer Details</ion-label>
      </ion-item-divider>
      <ion-item class="ion-no-padding">
        <ion-grid class="ion-padding-horizontal">
          <ion-row size="12" class="ion-justify-content-center ion-align-items-center">
            <ion-col size="6" class="ion-align-self-center">Expert</ion-col>
            <ion-col size="6" class="ion-align-self-center">{{ submission.reviewerName }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ng-container>

<ng-container *ngIf="action === 'review'">
  <ion-list class="ion-no-margin ion-no-padding ion-padding-horizontal" *ngIf="submission">
    <ion-item-group>
      <ion-item-divider>
        <ion-label color="primary">Submission Details</ion-label>
      </ion-item-divider>
      <ion-item class="ion-no-padding">
        <ion-grid class="ion-padding-horizontal">
          <ion-row size="12" class="ion-justify-content-center ion-align-items-center">
            <ion-col size="6" class="ion-align-self-center">Learner</ion-col>
            <ion-col size="6" class="ion-align-self-center">{{ submission.submitterName }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-grid class="ion-padding-horizontal">
          <ion-row size="12" class="ion-justify-content-center ion-align-items-center">
            <ion-col size="6" class="ion-align-self-center">Team</ion-col>
            <ion-col size="6" class="ion-align-self-center"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ng-container>

<ng-container *ngIf="assessment">
  <div class="ion-padding">
    <h1 class="headline-4" [attr.aria-describedby]="randomCode(assessment.name)" role="title" tabindex="0">{{ assessment.name }}</h1>

    <ion-chip [class]="'label '+ labelColor" *ngIf="label">
      <ion-label>{{ label }}</ion-label>
    </ion-chip>

    <p class="due-date assessment subtitle-1 gray-2" *ngIf="assessment.dueDate">
      Due date: {{ assessment.dueDate | date : 'd MMMM y' }}
    </p>

    <ion-text class="ion-text-left">
      <app-description [name]="randomCode(assessment.name)" *ngIf="assessment.description"
        [content]="assessment.description" id="asmt-des" class="body-1 black"></app-description>
    </ion-text>

    <p class="due-date assessment subtitle-1 gray-2 ion-text-center" [ngClass]="{'over': assessment.isOverdue}"
      *ngIf="doAssessment">
      {{ utils.dueDateFormatter(assessment.dueDate) }}
    </p>


    <ion-list *ngIf="submission && submission.isLocked" class="member-detail-container no-bg" lines="none">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="submission.submitterImage ? submission.submitterImage : 'https://my.practera.com/img/user-512.png'"
            alt="submitter indicator">
        </ion-avatar>

        <ion-label>
          <p class="subtitle-1">Locked by {{ submission.submitterName }}</p>
          <p class="caption gray-2">Please wait until the user finishes editing</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <form [formGroup]="questionsForm" id="formgroup">
      <ng-container *ngFor="let group of assessment.groups">
        <h3 [attr.aria-describedby]="randomCode(group.name)">{{ group.name }}</h3>
        <ion-text color="dark" class="ion-text-left">
          <app-description [name]="randomCode(group.name)" class="g-description" *ngIf="group.description"
            [content]="group.description"></app-description>
        </ion-text>

        <ng-container *ngFor="let question of group.questions">
          <ion-list class="ion-no-padding">
            <ion-list-header class="question-title ion-no-padding"
              [attr.aria-label]="question.name"
              [attr.aria-describedby]="randomCode('reviewer-' + question.name)">
              <div class="ion-padding">
                {{ question.name }}
                <ion-text class="required-indicator ion-no-padding ion-no-margin" color="danger" *ngIf="question.isRequired">&nbsp;*</ion-text>
              </div>

              <ion-icon *ngIf="question.info"
                class="icon-info vertical-middle"
                (click)="showQuestionInfo(question.info)" name="information-circle-outline"
              ></ion-icon>
            </ion-list-header>

            <ion-item lines="none" *ngIf="question.description" class="explanation">
              <app-description
                [name]="randomCode('reviewer-' + question.name)"
                class="q-description paragraph ion-text-left gray-2"
                *ngIf="question.description"
                [content]="question.description"
              ></app-description>
            </ion-item>

            <ng-container *ngIf="question" [ngSwitch]="question.type">
              <ion-item *ngIf="!doAssessment && (
                (!question.reviewerOnly && utils.isEmpty(submission?.answers[question.id]?.answer)) ||
                (question.reviewerOnly && !review?.answers[question.id] && !isPendingReview)
              )" class="no-answers item-bottom-border ion-padding-bottom" lines="none">
                <ion-icon slot="start" color="danger" name="warning-outline"></ion-icon>
                <ion-label size="small">No answers were submitted.</ion-label>
              </ion-item>

              <app-text *ngSwitchCase="'text'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                (saveProgress)="btnSaveClicked()"></app-text>

              <app-oneof *ngSwitchCase="'oneof'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                (saveProgress)="btnSaveClicked()"></app-oneof>

              <app-multiple *ngSwitchCase="'multiple'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                (saveProgress)="btnSaveClicked()"></app-multiple>

              <app-file *ngSwitchCase="'file'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                (saveProgress)="btnSaveClicked()"></app-file>

              <app-team-member-selector *ngSwitchCase="'team member selector'"
                [question]="question"
                [doAssessment]="doAssessment"
                [doReview]="isPendingReview"
                [submission]="submission?.answers[question.id] || {}"
                [review]="review?.answers[question.id] || {}"
                [reviewStatus]="review ? review.status : ''"
                [submissionStatus]="submission ? submission.status : ''"
                [formControlName]="'q-' + question.id"
                [control]="questionsForm?.controls['q-' + question.id]"
                (saveProgress)="btnSaveClicked()"></app-team-member-selector>

              <div *ngSwitchDefault>
                <p class="ion-padding-horizontal" style="color:red;">Unsupported question type: {{ question.type }}</p>
              </div>
            </ng-container>
          </ion-list>
        </ng-container>
      </ng-container>
    </form>
  </div>

  <div class="ion-text-center">
    <ion-button [disabled]="btnDisabled" color="secondary" (click)="btnClicked()" shape="round">{{ btnText }}</ion-button>
  </div>

  <div class="not-team ion-padding ion-text-center" *ngIf="isNotInATeam">
    <p class="black subtitle-1">Currently you are not in a team, please reach out to your Administrator or Coordinator to
      proceed with next steps.</p>
  </div>
</ng-container>

