.padding-top {
  padding-top: 18px;
}
.question-title {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}
.btn-info {
  --color: var(--ion-color-primary-contrast);
  margin: auto;
}

.text-right {
  text-align: right;
}
.icon-backward {
  font-size: 20px !important;
}

.review-submitter {
  p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.sub-title {
  &.title-ios {
    margin-top: 30px;
    height: 16px;
  }
}
.text-button {
  text-transform: capitalize;
}

ion-header ion-toolbar {
  min-height: 56px;
  .saving-msg {
    margin-top: 30px;
    margin-left: 60px;
  }
}

ion-item {
  &.explanation {
    --background: var(--practera-light-grey-50);
  }

  .q-description {
    margin: 10px 0;
  }

  &.no-answers {
    --background: var(--practera-light-grey-50);
    color: var(--ion-text-color);

    ion-label {
      font-size: smaller;
    }
  }

  &.item-bottom-border {
    border-bottom: 1px solid var(--border-color);

    .item-lines- {
      border-bottom: none;
    }
  }
}

.member-detail-container {
  margin-bottom: 0px;
  margin-top: 15px;
  ion-item {
    height: 64px;
    --background: transparent;
    --padding-start: 0px;
  }
  ion-avatar {
    height: 48px;
    width: 48px;
  }
  ion-label {
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      color: var(--ion-color-medium-shade);
    }
  }
}
ion-footer {
  .footer-text {
    margin: 20px;
    text-transform: capitalize;
  }
  .footer-action {
    height: 40px;
    margin: 10px 20px;
  }
}

.audience-mentor-question-card {
  border: 2px solid var(--practera-review-border-color);
  ion-card-subtitle {
    text-transform: none !important;
  }
  ion-card-content {
    margin-top: 0 !important;
    padding-top: 16px !important;
  }
}
.question-card {
  ion-card-header {
    padding-bottom: 14px;
    border-bottom: 1px solid var(--ion-color-light-shade);
  }
}

.not-team {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: auto;
  height: 100%;
}

.assessment-title {
  margin-bottom: 10px;
}

// styles use for due dates and pulsing animation
.due-date {
  margin-bottom: 0;
  color: var(--practera-grey-75);

  // use in assessment page to show due dates
  &.assessment {
    ion-icon {
      vertical-align: bottom;
    }
  }

  // use to show overdue dates
  &.over {
    color: var(--practera-ovderdue-color) !important;
  }
}

.save-info {
  padding: 6px 20px;
  border-bottom: 1px solid;
  border-bottom-color: var(--practera-grey-25);
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  p, ion-button {
    margin: 0;
  }
  ion-button {
    max-height: 36px;

    &:focus {
      border: 1px solid var(--ion-color-primary);
      display: block;
    }
  }

}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.tick-container {
  position: absolute;
  bottom: 1px;
  right: 1px;
  z-index: 1;
}

// start --- highlight unanswered compulsory questions
.blink > * {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  0%,
  100% {
    background-color: var(--ion-color-primary);
  }

  50% {
    background-color: rgba(255, 255, 0, 0.3);
  }
}
// end --- highlight unanswered compulsory questions
