<ion-header class="ion-no-border header-border">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <app-personalised-header></app-personalised-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: inherit;">
    <ion-row>

      <ion-col size="12" size-md="4" class="ion-no-padding">
        <ng-container *ngIf="(experience$ | async ) as experience">
          <img [src]="experience.leadImage" />
          <ion-progress-bar *ngIf="experienceProgress >= 0" color="primary" [value]="experienceProgress / 100"></ion-progress-bar>
          <div class="exp-content">
            <h1 class="headline-2">{{ experience.name }}</h1>
            <ion-text class="subtitle-3" color="medium">
              <ng-container *ngIf="(activityCount$ | async) as count; else loadingProgress">{{ count }} Activities</ng-container>
              <span style="margin: 0 10px">|</span>
              <ng-container *ngIf="experienceProgress >= 0; else loadingProgress">{{ experienceProgress }}% Progress</ng-container>
              <ng-template #loadingProgress>
                <ion-skeleton-text animated style="width: 50px; display: inline;"></ion-skeleton-text>
              </ng-template>
            </ion-text>
            <p *ngIf="!isMobile" class="body-2" [innerHTML]="experience.description"></p>
            <app-description *ngIf="isMobile" [content]="experience.description"></app-description>
          </div>
        </ng-container>
      </ion-col>

      <ion-col size="12" size-md="8" class="border-left">
        <ion-segment (ionChange)="switchContent($event)" [value]="display">
          <ion-segment-button value="activities" mode="ios">
            <ion-label>Activities</ion-label>
          </ion-segment-button>
          <ion-segment-button value="badges" mode="ios">
            <ion-label>Badges</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ng-container *ngIf="display === 'activities'">
          <ng-container *ngIf="!milestones">
            <ion-item><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></ion-item>
            <ion-item><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></ion-item>
          </ng-container>
          <ng-container *ngFor="let milestone of milestones">
            <ion-item class="headline-4 milestone-name" lines="none">
              {{ milestone.name }}
              <ion-icon *ngIf="milestone.isLocked" color="medium" name="lock-closed" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="milestone.description" class="body-3 milestone-des" color="light" lines="none" [innerHTML]="milestone.description"></ion-item>
            <app-list-item *ngFor="let activity of milestone.activities; let i = index"
              [title]="activity.name"
              [leadImage]="activity.leadImage"
              [lines]="i < milestone.activities.length - 1 ? 'full' : 'none'"
              (click)="gotoActivity(activity)"
              [endingIcon]="endingIcon(activity)"
              [endingIconColor]="endingIconColor(activity)"
              [endingProgress]="endingProgress(activity.progress)"
            ></app-list-item>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="display === 'badges'">
          <div *ngIf="!achievements.length" class="ion-text-center no-achievement">
            <ion-icon class="large-icon" color="primary" name="ribbon-outline"></ion-icon>
            <p class="body-1">You have no badges yet!</p>
            <ion-text class="subtitle-2" color="grey-75">Experience badge will show up here.</ion-text>
          </div>
          <app-list-item *ngFor="let achievement of achievements"
            [title]="achievement.name"
            [subtitle1]="achievement.points + ' Pts'"
            subtitle1Color="medium"
            [leadImage]="achievement.image"
            lines="full"
            (click)="achievePopup(achievement)"
            [endingIcon]="achievement.isEarned ? 'checkmark-circle' : 'lock-closed'"
            [endingIconColor]="achievement.isEarned ? 'success' : 'medium'"
          ></app-list-item>
        </ng-container>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
