img {
  width: 100%;
}
ion-segment {
  --background: var(--ion-color-light);
  padding: 10px;
}
.milestone-name {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-tint);
}
.large-icon {
  font-size: 80px;
}
.no-achievement {
  padding: 30px 15%;
}