ion-segment-button.ion-focused {
  border: 1px solid var(--ion-color-primary);
}
img {
  width: 100%;
}
ion-segment {
  --background: var(--ion-color-light);
  padding: 10px;
  z-index: 1;
}
.milestone-name {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-tint);
}
.large-icon {
  font-size: 80px;
}
.no-achievement {
  padding: 30px 15%;
}

.activity-col {
  border-left: 1px solid var(--practera-grey-25);
  padding: 0 18px;

  ion-segment {
    border-radius: 0;
  }

  &.mobile {
    border-left: none;
    padding: 0;
  }

}

ion-content.scrollable-desktop {
  > main, ion-grid,
  ion-row,
  ion-col {
    overflow: hidden;
    height: 100%;

    ion-row {
      height: 100%;

      ion-col {
        overflow-y: auto;
        height: 100%;
      }
    }
  }
}

.exp-content {
  padding: 0 18px;
}

.total-points {
  ion-label {
    margin: 17px 0px;
  }
}

.focusable:focus {
  border: 1px solid var(--ion-color-primary);
  display: block;
}

.ontrack-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.ontrack-title {
  flex: 0 1 auto;
  margin-top: 10px;
  align-items: center;

  ion-icon {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
