img {
  width: 100%;
}
ion-segment {
  --background: var(--ion-color-light);
  padding: 10px;
  z-index: 1;
}
.milestone-name {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-tint);
}
.large-icon {
  font-size: 80px;
}
.no-achievement {
  padding: 30px 15%;
}

.border-left {
  border-left: 1px solid var(--practera-grey-25);
}

ion-content.scrollable-desktop {

  >ion-grid,
  ion-row,
  ion-col {
    overflow: hidden;
    height: 100%;

    ion-row {
      height: 100%;

      ion-col {
        overflow-y: auto;
        height: 100%;
      }
    }
  }
}
