<ion-header class="ion-no-border header-border" aria-label="home">
  <h1 class="for-accessibility" i18n>Home</h1>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" aria-label="back to experience list">
        <ion-icon slot="icon-only" color="grey-75" name="arrow-back-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding headline-4 grey-75" i18n>Home</ion-title>
    <ion-buttons slot="end">
      <app-personalised-header></app-personalised-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'scrollable-desktop': !isMobile}">
  <main aria-labelledby="homecontent">
    <h1 id="homecontent" class="for-accessibility" i18n>Home content</h1>
    <ion-grid style="padding: inherit;">
      <ion-row>
        <ion-col size="12" size-md="4" class="ion-no-padding">
          <h2 class="for-accessibility" i18n>Experience Details</h2>
          <ng-container *ngIf="experience">
            <img [src]="experience.leadImage" [alt]="experience.name" />
            <ion-progress-bar
              *ngIf="experienceProgress >= 0"
              color="primary"
              [value]="experienceProgress / 100"
              aria-hidden="true"></ion-progress-bar>

            <div class="exp-content">
              <h1 class="headline-2">{{ experience.name }}</h1>
              <ion-text class="subtitle-3" color="grey-75">
                <ng-container *ngIf="(activityCount$ | async) as count; else loadingProgress" i18n>{{ count }} Activities</ng-container>
                <span style="margin: 0 10px">|</span>
                <ng-container *ngIf="experienceProgress >= 0; else loadingProgress" i18n>{{ experienceProgress }}% Progress</ng-container>
              </ion-text>

              <ng-container #experienceDescription *ngIf="experience?.description">
                <p *ngIf="!isMobile && experience.description" class="body-2" [innerHTML]="experience.description"></p>
                <app-description *ngIf="isMobile && experience.description" [content]="experience.description"></app-description>
              </ng-container>
            </div>
          </ng-container>
        </ion-col>

        <ion-col size="12" size-md="8" class="activity-col" [ngClass]="{'mobile': isMobile}">
          <h2 class="for-accessibility" i18n>Activities</h2>
          <ion-segment (ionChange)="switchContent($event)" [value]="display">
            <ion-segment-button value="activities" mode="ios">
              <ion-label i18n>Activities</ion-label>
            </ion-segment-button>
            <ion-segment-button value="badges" mode="ios">
              <ion-label i18n>{ getIsPointsConfigured, select, true {Badges & Points} false {Badges} }</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ng-container *ngIf="display === 'activities'; then activityList; else badgePoints"></ng-container>
        </ion-col>

      </ion-row>
    </ion-grid>

  </main>
</ion-content>

<ng-template #loadingProgress>
  <ion-skeleton-text animated style="width: 50px; display: inline;"></ion-skeleton-text>
</ng-template>

<ng-template #activityList>
  <h3 class="for-accessibility" i18n>Activity list</h3>
  <ng-container *ngIf="!milestones">
    <ion-item>
      <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
    </ion-item>
  </ng-container>

  <ng-container *ngFor="let milestone of milestones">
    <ion-item class="headline-4 milestone-name" lines="none"
      aria-describedby="milestone-description">
      {{ milestone.name }}
      <ion-icon *ngIf="milestone.isLocked" color="medium" name="lock-closed" slot="end" aria-label="milestone locked"></ion-icon>
    </ion-item>

    <ion-item id="milestone-description"
      *ngIf="milestone?.description"
      class="body-3"
      lines="none"
      color="light">
      <app-description [content]="milestone.description"></app-description>
    </ion-item>

    <app-list-item
      *ngFor="let activity of milestone.activities; let i = index"
      [title]="activity.name"
      [leadImage]="activity.leadImage"
      [lines]="i < milestone.activities.length - 1 ? 'full' : 'none'"
      (click)="gotoActivity(activity)"
      (keydown)="gotoActivity(activity, $event)"
      [endingIcon]="endingIcon(activity)"
      [endingIconColor]="endingIconColor(activity)"
      [endingProgress]="endingProgress(activity)"
      class="focusable"
      tabindex="0"
      role="button">
    </app-list-item>
  </ng-container>
</ng-template>

<ng-template #badgePoints>
  <h3 class="for-accessibility" i18n>Badges awarded</h3>
  <div *ngIf="achievements.length === 0" class="ion-text-center no-achievement">
    <h1 class="for-accessibility" [attr.aria-describedby]="'nobadges'"></h1>
    <ion-icon class="large-icon" color="primary" name="ribbon-outline" alt="empty badge indicator"></ion-icon>
    <p id="nobadges" class="body-1" aria-live="polite" i18n>You have no badges yet!</p>
    <ion-text class="subtitle-2" color="grey-75" aria-live="polite" i18n>Experience badge will show up here.</ion-text>
  </div>
  <ion-item *ngIf="getIsPointsConfigured && achievements.length" lines="full" class="total-points">
    <ion-label class="headline-4" i18n>
      Total Points Earned: {{getEarnedPoints}}
    </ion-label>
  </ion-item>

  <app-list-item *ngFor="let achievement of achievements"
    [title]="achievement.name"
    [subtitle1]="achievement.points ? achievement.points + ' Pts' : ''" subtitle1Color="medium"
    [leadImage]="achievement.image" lines="full"
    (click)="achievePopup(achievement)"
    [leadImageClass] = "!achievement.isEarned ? 'black-white-image' : ''"
    (keydown)="achievePopup(achievement, $event)"
    [endingIcon]="achievement.isEarned ? 'checkmark-circle' : 'lock-closed'"
    [endingIconColor]="achievement.isEarned ? 'success' : 'medium'" tabindex="0"
    i18n-subtitle1></app-list-item>
</ng-template>
