ion-icon {
  margin-right: 10px;
}
.div-activity-name {
  color: var(--ion-color-medium);
}
.close-icon {
  font-size: x-large;
}
.div-btn {
  margin: 20px 30px;
}
h1 {
  margin: 0;
}
.expired-text {
  color: var(--ion-color-medium);
  font-size: 14px;
}
.header-ios ion-toolbar {
  --border-width: 0;
}
