<ion-header mode="ios">
  <ion-toolbar [ngClass]="{'ion-toolbar-absolute': !utils.isMobile()}">
    <ion-icon *ngIf="utils.isMobile()" name="close-circle-outline" class="close-icon" (click)="close()" color="primary" slot="end"></ion-icon>
    <ion-title text-center [ngClass]="{
      'title-large': utils.isMobile(),
      'title-small': !utils.isMobile()
    }">Event</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" text-center [ngClass]="{ 'ion-content-absolute': !utils.isMobile() }">
  <div class="div-btn">
    <h1>{{ event.name }}</h1>
    <div class="div-activity-name">{{ event.activityName }}</div>
    <app-description *ngIf="event.description" [content]="event.description"></app-description>
  </div>
  <h3 *ngIf="event.isPast && !event.isBooked" class="expired-text">Event Expired</h3>

  <ion-list>
    <ion-item>
      <ion-icon class="leading-icon" name="calendar" color="primary"></ion-icon>
      <div id="date">{{ utils.utcToLocal(event.startTime, 'date') }}</div>
    </ion-item>
    <ion-item>
      <ion-icon class="leading-icon" name="time" color="primary"></ion-icon>
      <div id="time">{{ utils.utcToLocal(event.startTime, 'time') }} - {{ utils.utcToLocal(event.endTime, 'time') }}</div>
    </ion-item>
    <ion-item>
      <ion-icon class="leading-icon" name="pin" color="primary"></ion-icon>
      <div id="location">{{ event.location }}</div>
    </ion-item>
    <ion-item lines="none">
      <ion-icon class="leading-icon" name="contacts" color="primary"></ion-icon>
      <div id="capacity">{{ event.remainingCapacity }} Seats Available Out of {{ event.capacity }}</div>
    </ion-item>
  </ion-list>

  <div class="ion-margin-top ion-text-center" *ngIf="buttonText()">
    <ion-button
      class="btn-cta"
      (click)="confirmed()"
      [disabled]="(event.isPast && !event.isBooked) || ctaIsActing"
      shape="round"
      [color]="event.isPast && !event.isBooked ? 'medium' : 'primary'">
      {{ buttonText() }}
    </ion-button>
  </div>

</ion-content>
