<ion-header mode="ios">
  <ion-toolbar color="light">
    <ion-title>Debugging</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-list>
    <ion-item [routerLink]="['phaser']">
      <ion-label>Phaser</ion-label>
    </ion-item>
    <ion-item [routerLink]="['device-info']">
      <ion-label>Device Info</ion-label>
    </ion-item>
    <ion-item [routerLink]="['animated-tick']">
      <ion-label>Animated Tick</ion-label>
    </ion-item>
    <ion-item [routerLink]="['animated-unlocking']">
      <ion-label>Animated Unlocking</ion-label>
    </ion-item>
    <ion-item [routerLink]="['animation-drawing']">
      <ion-label>Draw Animation</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
