form ion-button {
  margin-bottom: 16px;
}

.question-title {
  align-items: center;
  font-size: inherit;
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

ion-item {
  &.item-bottom-border {
    border-bottom: 1px solid var(--border-color);

    .item-lines- {
      border-bottom: none;
    }
  }
}
