<ion-header class=" ion-no-border"
  aria-label="Pulse check">
  <ion-toolbar>
    <ion-title class="ion-text-center"
      i18n="user feedback form">Pulse Check</ion-title>
    <ion-buttons slot="end"
      *ngIf="closable === true">
      <ion-button (click)="dismiss({ from: 'ui' })"
        aria-label="Close pulse check" i18n-aria-label>
        <ion-icon name="close" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    <ng-container [ngSwitch]="pulseCheckType">
      <p class="body-1" *ngSwitchCase="'skills'" i18n>
        Select the skill level that best describes you right now.
      </p>
      <p class="body-1" *ngSwitchCase="'onTrack'" i18n>
        Please help us improve your experience.<br>
        We want to know how you are doing.
      </p>
      <p class="body-1" *ngSwitchCase="'both'" i18n>
        Please help us improve your experience.<br>
        We want to know how you are doing and how confident you feel about your skills.
      </p>
      <p class="body-1" *ngSwitchDefault i18n>
        Please help us improve your experience.<br>
        We want to know how you are doing.
      </p>
    </ng-container>
  </div>

  <form (ngSubmit)="submit()"
    [formGroup]="fastFeedbackForm">
    <div *ngIf="showPagination"
      class="progress-indicator ion-text-center ion-margin-bottom">
      <span>Questions {{ currentPageRange.start }}-{{ currentPageRange.end }} of {{ currentPageRange.total }}</span>
      <ion-progress-bar [value]="(currentPage + 1) / totalPages"></ion-progress-bar>
    </div>

    <div class="questions-container">
      <ion-card *ngFor="let question of currentPageQuestions"
        class="ion-text-left ion-no-margin ion-margin-bottom ion-padding question-card"
        [ngClass]="{'ion-padding-horizontal': !isMobile }">
        <fieldset [attr.aria-labelledby]="'fast-feedback-question-' + question.id">
          <legend class="for-accessibility" [id]="'fast-feedback-question-' + question.id">{{ question.name }}</legend>
          <ion-list-header class="question-title">
            <ion-label class="ion-margin-end">
              <h2 [innerHTML]="question.name" [id]="'fast-feedback-question-title-' + question.id"></h2>
              <p><i [innerHTML]="question.description"></i></p>
            </ion-label>
            <ion-text class="required-mark"
              [ngClass]="{'contrast': isRedColor}"
              *ngIf="question.isRequired" aria-label="required">*</ion-text>
          </ion-list-header>

          <ion-radio-group
            [formControlName]="question.id"
            role="radiogroup"
            [attr.aria-labelledby]="'fast-feedback-question-' + question.id"
            class="ion-padding-start ion-padding-end ion-padding-bottom">
          <ion-item class="item-bottom-border choice-item"
            *ngFor="let choice of question.choices"
            lines="none"
            [ngClass]="{'mobile-choice': isMobile}">
            <ion-radio [value]="choice.id"
              [attr.aria-label]="choice.name"
              labelPlacement="end"
              slot="start"
              mode="md">
              <div class="choice-title-container">
                <span [innerHTML]="choice.name"></span>
              </div>
              <p *ngIf="choice.description"
                [id]="'fast-feedback-choice-description-' + question.id + '-' + choice.id"
                [hidden]="!isChoiceDescriptionExpanded(question.id, choice.id)"
                class="choice-description body-3 ion-margin-top"
                [innerHTML]="choice.description"></p>
            </ion-radio>
            <ion-button *ngIf="choice.description"
              type="button"
              slot="end"
              fill="clear"
              size="small"
              class="description-toggle-btn"
              (click)="toggleChoiceDescription($event, question.id, choice.id)"
              [attr.aria-expanded]="isChoiceDescriptionExpanded(question.id, choice.id)"
              [attr.aria-controls]="'fast-feedback-choice-description-' + question.id + '-' + choice.id"
              [attr.aria-label]="(isChoiceDescriptionExpanded(question.id, choice.id) ? 'Hide details for ' : 'Show details for ') + choice.name"
              i18n-aria-label>
              <ion-icon
                [name]="isChoiceDescriptionExpanded(question.id, choice.id) ? 'chevron-up' : 'information-circle-outline'"
                slot="icon-only"
                aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-radio-group>
        </fieldset>
      </ion-card>

      <div *ngIf="showPagination"
        class="navigation-buttons ion-margin-top">
        <ion-row>
          <ion-col size="6"
            class="ion-text-left">
            <ion-button fill="outline"
              [disabled]="currentPage === 0"
              (click)="previousPage()"
              mode="ios">
              <ion-icon name="arrow-back-outline"
                slot="start"></ion-icon>
              Previous
            </ion-button>
          </ion-col>
          <ion-col size="6"
            class="ion-text-right">
            <ion-button fill="outline"
              *ngIf="currentPage < totalPages - 1"
              [disabled]="!isCurrentPageValid()"
              (click)="nextPage()"
              mode="ios">
              Next
              <ion-icon name="arrow-forward-outline"
                slot="end"></ion-icon>
            </ion-button>
            <ion-button mode="ios"
              type="submit"
              shape="round"
              class="submit-button"
              *ngIf="currentPage === totalPages - 1"
              [disabled]="fastFeedbackForm.invalid || loading">
              <ng-container *ngIf="!loading"
                i18n>Submit</ng-container>
              <ng-container *ngIf="loading && !submissionCompleted">
                <ion-spinner name="dots" role="status"></ion-spinner>
              </ng-container>
              <ng-container *ngIf="loading && submissionCompleted">
                <ion-icon src="./assets/checkmark.svg"></ion-icon>
              </ng-container>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="!showPagination"
        class="ion-text-center ion-margin-top">
        <ion-button mode="ios"
          type="submit"
          shape="round"
          class="submit-button"
          [disabled]="fastFeedbackForm.invalid || loading">
          <ng-container *ngIf="!loading"
            i18n>Submit</ng-container>
          <ng-container *ngIf="loading && !submissionCompleted">
            <ion-spinner name="dots" role="status"></ion-spinner>
          </ng-container>
          <ng-container *ngIf="loading && submissionCompleted">
            <ion-icon src="./assets/checkmark.svg"></ion-icon>
          </ng-container>
        </ion-button>
      </div>

      <div *ngIf="showPagination"
        class="dot-indicators ion-text-center ion-margin-top">
        <ion-button *ngFor="let i of [].constructor(totalPages); let pageIndex = index"
          fill="clear"
          size="small"
          class="dot-button"
          [ngClass]="{'active': currentPage === pageIndex, 'completed': isPageCompleted(pageIndex)}"
          (click)="goToPage(pageIndex)"
          [attr.aria-label]="'Go to page ' + (pageIndex + 1) + (isPageCompleted(pageIndex) ? ', completed' : '')"
          i18n-aria-label>
          <span class="page-number">
            <ng-container *ngIf="currentPage === pageIndex">{{ pageIndex + 1 }}</ng-container>
            <ng-container *ngIf="currentPage !== pageIndex && isPageCompleted(pageIndex)">
              <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>
            </ng-container>
            <ng-container *ngIf="currentPage !== pageIndex && !isPageCompleted(pageIndex)">{{ pageIndex + 1 }}</ng-container>
          </span>
        </ion-button>
      </div>
    </div>
  </form>

</ion-content>
