<ng-container *ngIf="submission.answer">
  <app-file-display
    [file]="submission.answer"
    [fileType]="question.fileType"
  ></app-file-display>
</ng-container>

<div *ngIf="review.answer || review.comment" class="q-reviews">
  <ion-label class="q-title">Feedback</ion-label>
  <ng-container *ngIf="review.answer">
    <app-file-display
      [file]="review.answer"
      [fileType]="question.fileType"
    ></app-file-display>
  </ng-container>
  <ng-container *ngIf="review.comment">
    <p class="paragraph">{{ review.comment }}</p>
  </ng-container>
</div>

<ng-container *ngIf="doAssessment">
  <file-stack
    [accept]="fileTypes"
    [fileType]="question.fileType"
    (complete)="onFileUploadCompleted($event)"
  >
  </file-stack>
  <ion-text *ngFor="let error of errors" color="danger">
    <p>{{error}}</p>
  </ion-text>
  <app-file-display
    [file]="uploadedFile"
    [fileType]="question.fileType"
  ></app-file-display>

</ng-container>

<ng-container *ngIf="doReview">
  <ng-container *ngIf="question.canAnswer">
    <file-stack
      [accept]="fileTypes"
      [fileType]="question.fileType"
      (complete)="onFileUploadCompleted($event, 'answer')"
    >
    </file-stack>
    <app-file-display
      [file]="uploadedFile"
      [fileType]="question.fileType"
    ></app-file-display>
  </ng-container>
  <ion-textarea *ngIf="question.canComment && submission.answer" class="background-white" #commentEle margin-top rows="4" [(ngModel)]="comment" (ngModelChange)="onChange(comment, 'comment')" placeholder="Please put your feedback here"></ion-textarea>
</ng-container>
