<ion-header mode="ios" aria-label="file preview">
  <ion-toolbar>
    <ion-icon
      *ngIf="file.url"
      name="download-outline"
      (click)="download()"
      (keydown.space)="download()"
      (keydown.enter)="download()"
      color="primary"
      size="large"
      slot="end"
      class="ion-margin-start focusable"
      role="button"
      tabindex="0"
    ></ion-icon>

    <ion-icon
      name="close-circle-outline"
      (click)="close()"
      (keydown.space)="close()"
      (keydown.enter)="close()"
      color="primary"
      size="large"
      slot="end"
      class="ion-margin-start focusable"
      role="button"
      tabindex="0"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-text-center">
  <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(url)" width="100%" height="100%"></iframe>
</ion-content>
