.pop-up-content {
  background-color: transparent !important;
  --ion-color-base: transparent !important;

  .imgage-content {
    margin-top: 5px;
    margin-bottom: -45px;

    .image {
      padding: 12px;

      img {
        &.default {
          filter: invert(.5);
        }
      }
    }
  }

  .details-container {
    padding: 20px;
    border-radius: 12px;
  }

  .div-after-img {
    margin: 0;
    margin-bottom: 15px;

    .title {
      &.notify {
        font-size: 24px;
        font-weight: normal;
      }
    }

    .points {
      color: var(--ion-color-primary);
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
      margin: 0;
    }
  }

}

  .pop-up-content {
    &.desktop-view {
      .details-container {
        .div-after-img {
          .title {
            margin-top: 30px;
          }
          .points {
            margin: 10px;
          }
        }
      }
    }
  }
