<ion-content color="light" class="pop-up-content" [ngClass]="{'desktop-view': !utils.isMobile()}" text-center>

  <div class="imgage-content">
    <div class="image">
        <img alt="{{achievement.name}}" [src]="achievement.image ? achievement.image : '/assets/achievement-popup-default.svg'">
    </div>
  </div>

  <div class="details-container">
    <div class="div-after-img" *ngIf="type === 'notification'">
      <p class="title notify">Congratulations</p>
      <p class="subtitle">You have earned a new badge</p>
      <div class="description" *ngIf="achievement.name">{{achievement.name}}</div>
      <ion-text color="medium" *ngIf="achievement.description" text-center>
        <app-description *ngIf="achievement.description" [content]="achievement.description" [isInPopup]="true"></app-description>
      </ion-text>
    </div>

    <div class="div-after-img" *ngIf="type !== 'notification'">
      <p class="title" *ngIf="achievement.name">{{achievement.name}}</p>
      <p class="points" *ngIf="achievement.points && type !== 'notification'">{{achievement.points}} points!</p>
      <ion-text color="medium" *ngIf="achievement.description" text-center>
        <app-description *ngIf="achievement.description" [content]="achievement.description" [isInPopup]="true"></app-description>
      </ion-text>
    </div>

    <div class="div-after-img button-container">
      <ion-button (click)="confirmed()" shape="round" color="primary" expand="full">OK</ion-button>
    </div>
  </div>

</ion-content>
