<ng-container *ngIf="submission.answer">
  <p class="paragraph">{{ submission.answer }}</p>
</ng-container>

<div *ngIf="review.answer || review.comment" class="q-reviews">
  <ion-label class="q-title">Feedback</ion-label>
  <ng-container *ngIf="review.answer">
    <p class="paragraph">{{ review.answer }}</p>
  </ng-container>
  <ng-container *ngIf="review.comment">
    <p class="paragraph">{{ review.comment }}</p>
  </ng-container>
</div>

<ng-container *ngIf="doAssessment">
  <ion-textarea class="background-white" margin-top [(ngModel)]="answer" #answerEle rows="4" (ngModelChange)="onChange()"></ion-textarea>
  <ion-text *ngFor="let error of errors" color="danger">
    <p>{{error}}</p>
  </ion-text>
</ng-container>

<ng-container *ngIf="doReview">
  <ion-textarea *ngIf="question.canAnswer" class="background-white" margin-top rows="4" [(ngModel)]="answer" #answerEle (ngModelChange)="onChange('answer')" placeholder="Please put your answer here"></ion-textarea>
  <ion-textarea *ngIf="question.canComment && submission.answer" class="background-white" [(ngModel)]="comment" #commentEle margin-top rows="4" (ngModelChange)="onChange('comment')" placeholder="Please put your feedback here"></ion-textarea>
</ng-container>

