ion-textarea {
    padding-left: 5px;
    padding-right: 5px;
}
.audience-mentor {
  border: 2px solid var(--practera-review-border-color);
  border-bottom-left-radius : 12px;
  border-bottom-right-radius: 12px;
}
