.todo-card {
  ion-icon {
    margin-right: 16px;
  }
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #fff;
  min-height: 58px;
}

.focusable:focus {
  display: block;
  border: 1px solid;
}

