.notification-card {
  border-radius: 12px;
  border: .5px solid #d8dbeb;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  min-height: 58px;
}

.todo-card {
  h4 {
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0px;
  }
}
.notification-item {
  --border-width: 0px !important;
  .time-stamp {
    right: 20px;
    top: 20px;
    font-size: 13px;
    position: absolute;
    top: 18px;
    font-size: 12px;
  } 
}