<ion-card color="primary-contrast" class="notification-card">
  <ion-item  class="notification-item">
    <ion-icon name="text" slot="start" color="primary"></ion-icon>
      <div class="todo-card">
        <h4>{{notification.assessmentName}}</h4>
        <ion-text color="medium">
          <ng-container *ngIf="role ==='mentor'; else feedbackHint">
            <p>Please review the assessment</p>
          </ng-container>
          <ng-template #feedbackHint>
            <p>{{notification.reviewer.name}} has provided feedback</p>
          </ng-template>
        </ion-text>
      </div>
    <ion-text float-right color="medium" class="time-stamp">{{notification.time}}</ion-text> 
  </ion-item>
</ion-card>