.notification-card {
    border-radius: 12px;
    border: .5px solid #d8dbeb;
    min-height: 58px!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: medium;
    
}