<h3 class="for-accessibility" [id]="'multiple-choice-question-' + question.id">{{question.name}}</h3>
<ng-container *ngIf="isDisplayOnly">
  <ion-list class="ion-no-padding">
    <ng-container *ngFor="let choice of displayChoices; let i = index">
      <ion-item lines="none"
        [ngClass]="{'item-bottom-border': !(choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity && submission?.answer?.includes(choice.id))}">
        <ion-label class="ion-text-wrap body-2 gray-3"
          [class.reviewer-feedback-choice]="isReviewerOnlyChoiceFeedback">
          <div [class.reviewer-feedback-choice-text]="isReviewerOnlyChoiceFeedback"
            [ngClass]="{'explanation': submission?.answer?.includes(choice.id) || review?.answer?.includes(choice.id)}"
            [innerHTML]="choice.name | detectLanguage"></div>
          <ng-container *ngIf="isReviewerOnlyChoiceFeedback; else answerLabels">
            <span *ngIf="isReviewChoiceSelected(choice.id); else notSelectedByReviewer"
              class="reviewer-choice-status reviewer-choice-status-selected">
              <ion-icon name="checkmark"
                aria-hidden="true"></ion-icon>
              <span class="reviewer-choice-status-text"
                aria-hidden="true"
                i18n>Selected</span>
              <span class="for-accessibility"
                i18n>Selected by reviewer</span>
            </span>
            <ng-template #notSelectedByReviewer>
              <span class="reviewer-choice-status reviewer-choice-status-not-selected">
                <span class="reviewer-choice-status-text"
                  aria-hidden="true"
                  i18n>Not selected</span>
                <span class="for-accessibility"
                  i18n>Not selected by reviewer</span>
              </span>
            </ng-template>
          </ng-container>
          <ng-template #answerLabels>
            <ion-chip i18n
              class="label orange"
              *ngIf="submission?.answer?.includes(choice.id)"
            >Learner's Answer</ion-chip>
            <ion-chip i18n
              class="label yellow black"
              *ngIf="review?.answer?.includes(choice.id)"
            >Reviewer's Answer</ion-chip>
          </ng-template>
        </ion-label>
      </ion-item>
      <ng-container *ngIf="choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity && submission?.answer?.includes(choice.id)">
        <ion-item lines="none" class="item-bottom-border explanation-label ion-no-padding ion-no-margin">
          <ion-icon slot="start" name="information-circle"></ion-icon>
          <ion-note size="small"><span [innerHTML]="choice.explanation | detectLanguage"></span></ion-note>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <ng-container *ngIf="review?.comment && question.canComment === true">
    <ion-item class="feedback-title ion-no-padding" lines="none">
      <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
      <ion-label i18n>Feedback</ion-label>
    </ion-item>
    <ion-textarea class="ion-no-margin preview textarea white-space-pre"
      [autoGrow]="true"
      [value]="review.comment"
      [disabled]="true"
    ></ion-textarea>
  </ng-container>
</ng-container>

<ng-container *ngIf="doAssessment">
  <div>
    <fieldset [attr.aria-labelledby]="'multiple-choice-question-' + question.id">
      <legend class="for-accessibility" [id]="'multiple-choice-legend-' + question.id">{{ question.name }}</legend>
      <ion-list class="ion-no-padding"
        role="group"
        [attr.aria-labelledby]="'multiple-choice-question-' + question.id">
        <ng-container *ngFor="let choice of question.choices; let i = index">
          <ion-item [ngClass]="{'item-bottom-border': (i !== question.choices.length - 1 || !checkInnerValue(choice.id))}"
            lines='none'>
            <ion-checkbox color="success"
              [checked]="innerValue?.includes(choice.id)"
              [value]="choice.id"
              labelPlacement="end"
              justify="start"
              slot="start"
              (ionChange)="onChange(choice.id)"
              [disabled]="control.disabled"
              [attr.aria-label]="choice.name"
            >
              <span class="ion-text-wrap body-2 black"
                [innerHTML]="choice.name | detectLanguage"
                [appToggleLabel]="onLabelToggle"
                [toggleId]="choice.id"
                [toggleDisabled]="control.disabled"
                role="button"
                tabindex="0">
              </span>
            </ion-checkbox>
          </ion-item>

          <ng-container
            *ngIf="control.disabled && choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity && checkInnerValue(choice.id)">
            <ion-item lines="none" class="item-bottom-border explanation-label ion-no-padding ion-no-margin">
              <ion-icon slot="start" name="information-circle" aria-hidden="true"></ion-icon>
              <ion-note size="small"><span [innerHTML]="choice.explanation | detectLanguage"></span></ion-note>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-list>
    </fieldset>
    <ion-text *ngFor="let error of errors" color="danger">
      <p role="alert" aria-live="polite">{{error}}</p>
    </ion-text>
  </div>
</ng-container>

<ng-container *ngIf="doReview">
  <fieldset [attr.aria-labelledby]="'multiple-choice-question-' + question.id" *ngIf="question.canAnswer">
    <legend class="for-accessibility" [id]="'multiple-choice-review-legend-' + question.id">{{ question.name }}</legend>
    <ion-list class="ion-no-padding"  *ngIf="question.canAnswer"
      role="group"
      [attr.aria-labelledby]="'multiple-choice-question-' + question.id">
      <ion-list-header class="ion-no-padding ion-no-margin" *ngIf="!question.reviewerOnly">
        <ion-label class="ion-text-wrap subtitle-2 black" i18n>Your Answer is</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let choice of question.choices; let i = index"
        [ngClass]="{'item-bottom-border': i !== question.choices.length - 1}"
        lines="none">
        <ion-checkbox color="success"
          [checked]="innerValue?.answer ? innerValue.answer.includes(choice.id) : false"
          [value]="choice.id"
          justify="start"
          slot="start"
          labelPlacement="end"
          (ionChange)="onChange(choice.id, 'answer')"
          [disabled]="control.disabled"
          [attr.aria-label]="choice.name"
        >
          <div class="ion-text-wrap body-2 black">
            <span [innerHTML]="choice.name | detectLanguage"
              [appToggleLabel]="onLabelToggle"
              [toggleId]="choice.id"
              [toggleDisabled]="control.disabled"
              role="button"
              tabindex="0">
            </span>
            <p *ngIf="submission?.answer?.includes(choice.id)">
              <ion-chip class="label orange" i18n
                *ngIf="submission?.answer?.includes(choice.id)"
              >Learner's Answer</ion-chip>
            </p>
          </div>
        </ion-checkbox>
      </ion-item>
    </ion-list>
  </fieldset>

  <ion-list class="ion-no-padding ion-padding-bottom"
    *ngIf="question.canComment && submission.answer">
    <ion-list-header class="ion-no-padding" lines="none">
      <ion-label class="subtitle-2 black" i18n>Feedback</ion-label>
    </ion-list-header>
    <ion-textarea
      [autoGrow]="true"
      [attr.aria-label]="'expert\'s review feedback'"
      *ngIf="question.canComment && submission.answer"
      class="textarea"
      #commentEle
      margin-top
      rows="4"
      [(ngModel)]="comment"
      (ngModelChange)="onChange(comment, 'comment')"
      placeholder="Please put your feedback here"
      i18n-placeholder
      [disabled]="control.disabled"></ion-textarea>
  </ion-list>

</ng-container>
