<h3 class="for-accessibility" [id]="'multiple-choice-question-' + question.id">{{question.name}}</h3>
<ng-container *ngIf="isDisplayOnly">
  <ion-list class="ion-no-padding">
    <ng-container *ngFor="let choice of question.choices; let i = index">
      <ion-item lines="none"
        [ngClass]="{'item-bottom-border': !(choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity && submission?.answer?.includes(choice.id))}">
        <ion-label class="ion-text-wrap body-2 gray-3">
          <div class="answer-text" [ngClass]="{'explanation': submission?.answer?.includes(choice.id) || review?.answer?.includes(choice.id)}">{{ choice.name }}</div>
          <ion-chip
            class="label orange"
            *ngIf="submission?.answer?.includes(choice.id)"
          >Learner's answer</ion-chip>
          <ion-chip
            class="label yellow black"
            *ngIf="review?.answer?.includes(choice.id)"
          >Expert's answer</ion-chip>
        </ion-label>
      </ion-item>
      <ng-container *ngIf="choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity && submission?.answer?.includes(choice.id)">
        <ion-item lines="none" class="item-bottom-border explanation-label ion-no-padding ion-no-margin">
          <ion-icon slot="start" name="information-circle"></ion-icon>
          <ion-note size="small" [innerHTML]="choice.explanation"></ion-note>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
  <ng-container *ngIf="review?.comment">
    <p class="paragraph body-2 gray-3 white-space-pre">{{ review.comment }}</p>
  </ng-container>
</ng-container>

<ng-container *ngIf="doAssessment">
  <div>
    <ion-list class="ion-no-padding">
      <ng-container *ngFor="let choice of question.choices; let i = index">
        <ion-item [ngClass]="{'item-bottom-border': (i !== question.choices.length - 1 || !checkInnerValue(choice.id))}"
          lines='none'>
          <ion-label class="ion-text-wrap body-2 black">{{ choice.name }}</ion-label>
          <ion-checkbox color="success"
            [checked]="submission.answer ? submission.answer.includes(choice.id) : false"
            [value]="choice.id"
            slot="start"
            (ionChange)="onChange(choice.id)"
            [disabled]="control.disabled"
            [attr.aria-label]="choice.name"
          ></ion-checkbox>
        </ion-item>

        <ng-container
          *ngIf="control.disabled && choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity && checkInnerValue(choice.id)">
          <ion-item lines="none" class="item-bottom-border explanation-label ion-no-padding ion-no-margin">
            <ion-icon slot="start" name="information-circle"></ion-icon>
            <ion-note size="small" [innerHTML]="choice.explanation"></ion-note>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>
    <ion-text *ngFor="let error of errors" color="danger">
      <p aria-live="polite">{{error}}</p>
    </ion-text>
  </div>
</ng-container>

<ng-container *ngIf="doReview">
  <ion-list class="ion-no-padding" *ngIf="question.canAnswer">
    <ion-list-header class="ion-no-padding ion-no-margin" *ngIf="!question.reviewerOnly">
      <ion-label class="ion-text-wrap subtitle-2 black">Your Answer is</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let choice of question.choices; let i = index"
      [ngClass]="{'item-bottom-border': i !== question.choices.length - 1}"
      lines="none">
      <ion-label class="ion-text-wrap body-2 black">
        {{ choice.name }}
        <p *ngIf="submission?.answer?.includes(choice.id)">
          <ion-chip class="label orange" *ngIf="submission?.answer?.includes(choice.id)">Learner's answer</ion-chip>
        </p>
      </ion-label>
      <ion-checkbox color="success"
        [attr.aria-label]="choice.name"
        [checked]="review.answer ? review.answer.includes(choice.id) : false"
        [value]="choice.id"
        slot="start"
        (ionChange)="onChange(choice.id, 'answer')"
        [disabled]="control.disabled"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-textarea
    [attr.aria-label]="'expert\'s review feedback'"
    *ngIf="question.canComment && submission.answer"
    class="textarea"
    #commentEle
    margin-top
    rows="4"
    [(ngModel)]="comment"
    (ngModelChange)="onChange(comment, 'comment')"
    placeholder="Please put your feedback here"
    [disabled]="control.disabled"></ion-textarea>
</ng-container>
