<ion-header translucent="true" class="ion-no-border ion-padding-bottom">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-padding-horizontal" [size]="isMobile ? '' : 'large'">Is this feedback helpful?</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-padding-horizontal" size="small">Please rank this feedback from 1 (Not useful) to 5 (Very useful)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="review-rating ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center ion-padding-horizontal">Is this feedback helpful?</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title class="ion-text-center ion-padding-horizontal" size="small">Please rank this feedback from 1 (Not useful) to 5 (Very useful)
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding-top ion-padding-bottom">
    <div class="ion-padding-top">
      <ion-range mode="ios" min="0" max="1"
        step="0.25" snaps="true"
        [(ngModel)]="ratingData.rating"
        debounce="300">
        <ion-icon size="large" slot="start" name="sad-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="happy-outline"></ion-icon>
      </ion-range>
    </div>

    <div class="range-text ion-padding-top">
      <p>Not helpful</p>
      <p>Very helpful</p>
    </div>
  </div>

  <h2 class="subTitle">Send a quick thank you note!</h2>
  <div class="quick-tagging">
    <a class="toggle" [class.active]="ratingData.tags.includes('Thanks')" (click)="addOrRemoveTags('Thanks')">Thanks</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('Thank You')" (click)="addOrRemoveTags('Thank You')">Thank You</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('You are awesome!')" (click)="addOrRemoveTags('You are awesome!')">You are awesome!</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('Great support')" (click)="addOrRemoveTags('Great support')">Great support</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('Very helpful')" (click)="addOrRemoveTags('Very helpful')">Very helpful</a>
    <a class="toggle" [class.active]="ratingData.tags.includes('Friendly')" (click)="addOrRemoveTags('Friendly')">Friendly</a>
  </div>

  <ion-input placeholder="Add a personal thank you"
    class="comment-box ion-padding"
    [(ngModel)]="ratingData.comment"
  ></ion-input>

  <div class="div-after-logo ion-text-center ion-padding-top">
    <ion-button mode="ios"
      [disabled]="isSubmitting"
      (click)="submitReviewRating()"
      shape="round"
      class="btn-cta">
      <ng-container *ngIf="!isSubmitting">Submit Feedback</ng-container>
      <ng-container *ngIf="isSubmitting">Submitting...</ng-container>
    </ion-button>
  </div>
</ion-content>
