.review-rating {
  top: 0 !important;
  padding: 0 10px 0 10px;

  .header-detail {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;

    .title {
      margin: auto;
      padding-left: 10px;
      margin-left: 0;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .close-button {
    padding-right:10px;
    font-size: 20px;
  }

  hr.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #C7CBE1, rgba(0, 0, 0, 0));
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .subTitle {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }

  .rating-range {
    display: flex;
    justify-content: space-evenly;
    color: #666666;
    .mood {
      cursor: pointer;
      text-align: center;
      &.selected > span {
        color: var(--ion-color-primary);
      }

      p {
        margin-top: auto;
        font-weight: 400;
        font-size: 12px;
      }
    }

    .material-symbols-outlined {
      font-weight: 300;
      font-size: 32px;
    }
  }

  .quick-tagging {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    &.disabled > ion-button {
      background-color: var(--ion-color-light-tint);
    }

    ion-button.toggle {
      --border-radius: 21px;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 12px;
      margin-right: 12px;
      border-radius: 12px;

      &.active {
        --ion-color-base: var(--ion-color-secondary, var(--ion-color-primary)) !important;
        border-color: var(--ion-color-secondary);
        color: var(--ion-color-secondary);
      }
    }
  }

  .comment-box {
    font-size:14px;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    background-color: #FFFFFF;
    &[aria-disabled=true] {
      background-color: var(--ion-color-light-tint);
    }
  }

  .successful-submission {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    ion-icon {
      width: 100%;
      font-size: 8em;
      color: var(--ion-color-secondary);
    }
  }
}

@media (min-width: 576px) {
  .review-rating .quick-tagging {
    width: 70%;
  }
}
