<ng-container *ngIf="file">
  <ng-container [ngSwitch]="fileType">

    <ng-container *ngSwitchCase="'image'">
      <app-img [imgSrc]="file.url"></app-img>
    </ng-container>

    <ng-container *ngSwitchCase="'video'">
      <video controls #video preload>
        <ng-container *ngIf="file.transcoded">
          <source [src]="file.transcoded + '.mp4#t=0.5'" type="video/mp4">
          <source [src]="file.transcoded + '.webm'" type="video/webm">
          <source [src]="file.transcoded + '.ts'">
        </ng-container>
        <source [src]="file.url" [type]="file.mimetype">
        {{ file.url }}
      </video>
    </ng-container>

    <ng-container *ngSwitchCase="'any'">
      <div *ngIf="!(virusDetection && virusDetection.infected); else virusDetected">
        <a [href]="file.url" target="_blank" class="subtitle-1">
          <ion-icon name="document"></ion-icon>&nbsp;{{ file.filename }}
        </a>
        <ion-icon *ngIf="file.url.length > 0" name="search" (click)="previewFile(file)" color="primary" class="ion-padding-left ion-float-right"></ion-icon>
      </div>
      <ng-template #virusDetected>
        <ion-item lines="none" color="transparent">
          <ion-icon name="alert" color="danger" slot="start"></ion-icon>
          <ion-label class="warning">
            The file uploaded had a virus and has been quarantined
          </ion-label>
        </ion-item>
      </ng-template>
    </ng-container>

  </ng-container>
</ng-container>
