<ion-header class="ion-no-border header-border">
  <ion-toolbar>
    <ion-title class="headline-4 grey-75">Reviews</ion-title>
    <ion-buttons slot="end">
      <app-personalised-header></app-personalised-header>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="loading === true"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="5" class="border-right">
        <app-review-list
          [reviews]="reviews"
          [currentReview]="currentReview"
          [goToFirstOnSwitch]="currentReview === undefined ? true : false"
          (navigate)="goto($event)"
        ></app-review-list>
      </ion-col>

      <ion-col size="12" size-md="7">
        <app-assessment
          *ngIf="!noReview"
          [assessment]="assessment"
          [submission]="submission"
          [review]="review"
          [savingMessage$]="savingText$"
          action="review"
          (save)="saveAssessment($event)"
        ></app-assessment>

        <div *ngIf="noReview" class="ion-text-center no-review">
          <ion-icon class="large-icon" color="primary" name="clipboard-outline"></ion-icon>
          <p class="headline-2">It's empty here.</p>
          <ion-text class="subtitle-2" color="grey-75">Oops! Seems like there's nothing in this yet.</ion-text>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

