ion-item ion-label {
    opacity: 1 !important;
}

ion-item {
  --padding-start: 0;
}

.audience-mentor {
  border: 2px solid var(--ion-color-primary);
  border-bottom-left-radius : 12px;
  border-bottom-right-radius: 12px;
}
