<ion-content color="light" text-center>
  <ng-container [ngSwitch]="type">

    <ng-container *ngSwitchCase="'forgotPasswordConfirmation'">
      <div class="div-logo"></div>
      <div class="div-after-logo">
        <p>We have sent an email to "<i>{{ data.email }}</i>" with a link to log into the system - please check your inbox. </p>
        <p>If you haven't received an email in a few minutes, please make sure the email you entered is correct and check your spam folder. Thank you.</p>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'shortMessage'">
      <div class="div-logo"></div>
      <div class="div-after-logo" text-left>
        <p id="popup-message" [innerHtml]="data.message"></p>
      </div>
    </ng-container>

  </ng-container>
  <div class="div-after-logo">
    <ion-button id="btn-popup-confirm" (click)="confirmed()" shape="round" color="primary" expand="full">OK</ion-button>
  </div>

</ion-content>
