.image-content {
  margin-top: 5px;
  margin-bottom: -1em;

  .image {
    padding: 12px;

    img {
      max-width: 100px;
      &.default {
        filter: invert(.5);
      }
    }
  }
}

.details-container {
  padding: 0 20px;
  border-radius: 12px;
}

.div-after-img {
  margin: 0;
  margin-bottom: 15px;
}

.upper-space {
  position: relative;
  top: 2em;
}

.light {
  background: var(--ion-color-light, #f4f5f8);
  color: var(--ion-color-light-contrast, #000);
}

.vertical-centralized {
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: center;
}
