<ion-content color="light" class="pop-up-content" [ngClass]="{'desktop-view': !isMobile}"
  text-center
  role="dialog"
  aria-modal="true"
  aria-hidden="false"
  #achievementBadgePopup>
  <h2 class="for-accessibility">{{achievement.name}}</h2>
  <div class="image-content">
    <div class="image ion-text-center">
      <img alt="{{achievement.name}}"
        [src]="achievement.image ? achievement.image : '/assets/achievement-popup-default.svg'"
        id="achievement-image"
        tabindex="0"
        #badgeImage>
    </div>
  </div>

  <div class="details-container ion-text-center">
    <div class="div-after-img" *ngIf="type === 'notification'">
      <p class="headline-6" i18n>Congratulations</p>
      <p class="body-1" i18n>You have earned a new badge</p>
      <div class="description subtitle-1 gray-2" *ngIf="achievement.name" tabindex="0" #achievementName>{{achievement.name}}</div>
    </div>

    <div class="div-after-img" *ngIf="type !== 'notification' && hideName !== true">
      <p class="headline-6" *ngIf="achievement.name" tabindex="0" [attr.aria-label]="achievement.name" #achievementName>{{achievement.name}}</p>
      <p class="body-1" *ngIf="achievement.points && type !== 'notification'">{{achievement.points}} points!</p>
    </div>

    <ion-text color="medium" *ngIf="achievement.description" text-center>
      <app-description class="body-1 gray-2"
        [content]="achievement.description"
        [isInPopup]="true"
        (hasExpanded)="hideAchievementName($event)"
      ></app-description>
    </ion-text>
  </div>
</ion-content>

<ion-footer class="light" mode="ios">
  <div class="ion-text-center" style="padding: 0 1em;">
    <div class="div-after-img button-container">
      <ion-button mode="ios" (click)="confirmed($event)"
        shape="round" color="primary"
        expand="full" tabindex="0" id="confirm"
        [attr.aria-role]="'button'" (keydown)=confirmed($event) [attr.aria-label]="'confirm'" #dismissButton i18n>OK</ion-button>
    </div>
  </div>
</ion-footer>
