.image-content {

  .image {
    padding: 12px;

    img {
      max-width: 100px;
      border-radius: 50%;
      &.default {
        filter: invert(.5);
      }
    }
  }
}

.details-container {
  padding: 0 20px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  height: 20rem;
}

.div-after-img {
  margin: 0;
  margin-bottom: 15px;
}

.light {
  background: var(--ion-color-light, #f4f5f8);
  color: var(--ion-color-light-contrast, #000);
}

@media (min-width: 576px) {
  .details-container {
    height: 15rem;
  }
}
