<div class="video-conversion"
  (click)="showInFilestackPreview(result)"
  (keydown)="showInFilestackPreview(result, $event)"
  *ngIf="result?.status === 'completed'; else conversionPending"
  tabindex="0"
  role="button">
  <p class="label" [title]="video?.fileObject?.filename">
    {{ video?.fileObject?.filename }}
  </p>
  <div id="inner-box">
    <p>
      <ion-icon name="play-circle"></ion-icon>
    </p>
  </div>
</div>

<ng-template #conversionPending>
  <ng-container *ngIf="waitedTooLong === false; else longWait">
    <div class="waiting-mgs" i18n>
      <ion-spinner name="bubbles"></ion-spinner>please wait
    </div>
  </ng-container>
</ng-template>

<ng-template #longWait>
  <div>
    <p i18n>Waited too long?</p>
    <p i18n>Download <a target="_blank" href="{{video?.fileObject?.url}}">here</a></p>
  </div>
</ng-template>
