.waiting-mgs {
  display: flex;
  padding: 16px;
  align-items: center;
}

#inner-box {
  ion-icon {
    font-size: 5em !important;
  }
}

.send-messages {
  .message-body {
    &.video-attachment-container {
      .label {
        color: white;
      }
      #inner-box {
        p {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }
  }
}

.received-messages {
  .message-body {
    &.video-attachment-container {
      .label {
        color: var(--ion-color-primary);
      }
      #inner-box {
        p {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          color: var(--ion-color-primary);
        }
      }
    }
  }
}
