.waiting-mgs {
  display: flex;
  padding: 16px;
  align-items: center;
}

#inner-box {
  border-radius: inherit;
  min-width: inherit;
  min-height: inherit;
  padding: 0;
  width: 100%;

  & p {
    color: var(--ion-color-primary);
    margin-top: 1em;
    text-align: center;
    ion-icon {
      font-size: 5em !important;
    }
  }
}
