$message-body-size: 60%;
.message-body {
  padding: 8px 16px;
  min-width: 48px;
  max-width: $message-body-size;
  border-radius: 25px;
  width: fit-content;

  &.image {
    line-height: 0;
    cursor: pointer;

    img {
      border-radius: 25px;
    }
  }

  // consistent colour to make attachment standout
  .general-attachment {
    background: white;
    --background: white;
    cursor: pointer;
  }

  p {
    &.seen-text {
      &:nth-child(1) {
        padding: 0 !important;
        font-weight: 500;
      }
    }
  }

  p,
  .message-text {
    color: black;
    margin: 0;
    text-align: left;
    user-select: all !important;
    white-space: pre-wrap !important;
  }

  &.video-attachment-container {
    min-height: 125px;
    background: #eaeaea !important;
    line-height: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
    cursor: pointer;
    border: 1px #bbbbbb solid;
    padding-left: 10px;
    padding-right: 10px;

    #inner-box {
      border-radius: inherit;
      min-width: inherit;
      min-height: inherit;
      padding: 0;
      width: 100%;

      & p {
        color: var(--ion-color-primary);
        margin-top: 1em;
        text-align: center;

        ion-icon {
          font-size: 5em !important;
        }
      }
    }

    .video {
      padding: inherit;
      min-width: 100%;
      max-width: inherit;
      min-height: 100%;
      max-height: inherit;
      border-radius: inherit;
    }

    .label {
      padding: 0 0.5em;
      margin: 0.3em 0;
      text-shadow: 1px 1px white;
      width: 100%;
    }

    &:hover {
      background: #bbbbbb !important;
      opacity: 0.9;
      transition: 0.5s opacity, 0.5s background;
    }
  }
}
