// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {

  --ion-padding: 18px;

  --ion-item-background: #fff;

  /** primary **/
  --ion-color-primary: #2bbfd4;
  --ion-color-primary-rgb: rgb(var(--ion-color-primary));
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2bbfd4;
  --ion-color-primary-tint: #2bbfd433;
  // --ion-color-primary-light: rgba(var(--ion-color-primar), 0.5);

  /** customised colors **/
  --ion-tabbar-text-color-active: var(--ion-color-primary);

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #0cd1e833;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
	--ion-color-success: #138914;
	--ion-color-success-rgb: 19,137,20;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #117912;
	--ion-color-success-tint: #2b952c;

  /** warning **/
	--ion-color-warning: #FFBE15;
	--ion-color-warning-rgb: 255,190,21;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0a712;
	--ion-color-warning-tint: #ffc52c;

  /** danger **/
	--ion-color-danger: #E20010;
	--ion-color-danger-rgb: 226,0,16;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #c7000e;
	--ion-color-danger-tint: #e51a28;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

  /** light **/
	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

  /** Pratera New branding colors **/
  /** Practera Branding colors as Ionic theme color variables **/

  /** Arctic **/
  --practera-arctic-100: #2BC1D9;
  --practera-arctic-100-rgb: 43,193,217;
  --practera-arctic-100-contrast: #000000;
  --practera-arctic-100-contrast-rgb: 0,0,0;
  --practera-arctic-100-shade: #26aabf;
  --practera-arctic-100-tint: #40c7dd;
  --practera-arctic-100-rgba: rgba(43, 193, 217, 1);

  --practera-arctic-75: rgba(69, 161, 175, 1);
  --practera-arctic-50: rgba(130, 193, 202, 1);
  --practera-arctic-25: rgba(192, 223, 227, 1);

  /** Lime **/
  --practera-lime-100: #ADF82D;
  --practera-lime-100-rgb: 173,248,45;
  --practera-lime-100-contrast: #000000;
  --practera-lime-100-contrast-rgb: 0,0,0;
  --practera-lime-100-shade: #98da28;
  --practera-lime-100-tint: #b5f942;
  --practera-lime-100-rgba: rgba(173, 248, 45, 1);

  --practera-lime-75: rgba(195, 248, 108, 1);
  --practera-lime-50: rgba(215, 250, 155, 1);
  --practera-lime-25: rgba(234, 252, 204, 1);

  /** Violet **/
  --practera-violet-100: #6A3DE0;
  --practera-violet-100-rgb: 106,61,224;
  --practera-violet-100-contrast: #ffffff;
  --practera-violet-100-contrast-rgb: 255,255,255;
  --practera-violet-100-shade: #5d36c5;
  --practera-violet-100-tint: #7950e3;
  --practera-violet-100-rgba: rgba(106, 61, 224, 1);

  --practera-violet-75: rgba(143, 114, 229, 1);
  --practera-violet-50: rgba(181, 160, 238, 1);
  --practera-violet-25: rgba(217, 207, 246, 1);

  /** Ocean **/
  --practera-ocean-100: #008296;
  --practera-ocean-100-rgb: 0,130,150;
  --practera-ocean-100-contrast: #ffffff;
  --practera-ocean-100-contrast-rgb: 255,255,255;
  --practera-ocean-100-shade: #007284;
  --practera-ocean-100-tint: #1a8fa1;
  --practera-ocean-100-rgba: rgba(0, 130, 150, 1);

  --practera-ocean-75: rgba(69, 161, 175, 1);
  --practera-ocean-50: rgba(130, 193, 202, 1);
  --practera-ocean-25: rgba(192, 223, 227, 1);

  /** Dark blue **/
  --practera-dark-blue-100: #123B79;
  --practera-dark-blue-100-rgb: 18,59,121;
  --practera-dark-blue-100-contrast: #ffffff;
  --practera-dark-blue-100-contrast-rgb: 255,255,255;
  --practera-dark-blue-100-shade: #10346a;
  --practera-dark-blue-100-tint: #2a4f86;
  --practera-dark-blue-100-rgba: rgba(18, 59, 121, 1);

  --practera-dark-blue-75: rgba(78, 109, 153, 1);
  --practera-dark-blue-50: rgba(138, 159, 188, 1);
  --practera-dark-blue-25: rgba(195, 206, 220, 1);

  /** Grey **/
  --practera-grey-100: #333333;
	--practera-grey-100-rgb: 51,51,51;
	--practera-grey-100-contrast: #ffffff;
	--practera-grey-100-contrast-rgb: 255,255,255;
	--practera-grey-100-shade: #2d2d2d;
	--practera-grey-100-tint: #474747;
  --practera-grey-100-rgba: rgba(51, 51, 51, 1);

	--practera-grey-75: #666666;
	--practera-grey-75-rgb: 102,102,102;
	--practera-grey-75-contrast: #ffffff;
	--practera-grey-75-contrast-rgb: 255,255,255;
	--practera-grey-75-shade: #5a5a5a;
	--practera-grey-75-tint: #757575;
  --practera-grey-75-rgba: rgba(102, 102, 102, 1);

  --practera-grey-50: #999999;
	--practera-grey-50-rgb: 153,153,153;
	--practera-grey-50-contrast: #000000;
	--practera-grey-50-contrast-rgb: 0,0,0;
	--practera-grey-50-shade: #878787;
	--practera-grey-50-tint: #a3a3a3;
  --practera-grey-50-rgba: rgba(153, 153, 153, 1);

  --practera-grey-25: #CCCCCC;
	--practera-grey-25-rgb: 204,204,204;
	--practera-grey-25-contrast: #000000;
	--practera-grey-25-contrast-rgb: 0,0,0;
	--practera-grey-25-shade: #b4b4b4;
	--practera-grey-25-tint: #d1d1d1;
  --practera-grey-25-rgba: rgba(204, 204, 204, 1);

  /** Light Grey **/
	--practera-light-grey-100: #DFDFE8;
	--practera-light-grey-100-rgb: 223,223,232;
	--practera-light-grey-100-contrast: #000000;
	--practera-light-grey-100-contrast-rgb: 0,0,0;
	--practera-light-grey-100-shade: #c4c4cc;
	--practera-light-grey-100-tint: #e2e2ea;
  --practera-light-grey-100-rgba: rgba(223, 223, 232, 1);

  --practera-light-grey-75: #E7E7EE;
	--practera-light-grey-75-rgb: 231,231,238;
	--practera-light-grey-75-contrast: #000000;
	--practera-light-grey-75-contrast-rgb: 0,0,0;
	--practera-light-grey-75-shade: #cbcbd1;
	--practera-light-grey-75-tint: #e9e9f0;
  --practera-light-grey-75-rgba: rgba(231, 231, 238, 1);

	--practera-light-grey-50: #EFEFF4;
	--practera-light-grey-50-rgb: 239,239,244;
	--practera-light-grey-50-contrast: #000000;
	--practera-light-grey-50-contrast-rgb: 0,0,0;
	--practera-light-grey-50-shade: #d2d2d7;
	--practera-light-grey-50-tint: #f1f1f5;
  --practera-light-grey-50-rgba: rgba(239, 239, 244, 1);

	--practera-light-grey-25: #F7F7F9;
	--practera-light-grey-25-rgb: 247,247,249;
	--practera-light-grey-25-contrast: #000000;
	--practera-light-grey-25-contrast-rgb: 0,0,0;
	--practera-light-grey-25-shade: #d9d9db;
	--practera-light-grey-25-tint: #f8f8fa;
  --practera-light-grey-25-rgba: rgba(247, 247, 249, 1);

  /** Colors for chat **/
  --practera-chat-color-time-text-color:#AFB5D2;
  --practera-chat-footer-text-color:rgba(0, 0, 0, 0.822);
  --practera-chat-footer-border-color:rgba(34, 36, 40, 0.82);

  /** Colors for review **/
  --practera-card-border-color:#CCCCCC;
  --practera-review-title: #AFB5D2;
  --practera-button-review-bg: #e9e5e9;

  /** Customized color**/
  --practera-label-color: rgba(128,137,178,1);
  --practera-input-number-color: #EEEEEE;
  --practera-card-background-image: url('/assets/waves-light.png');

  /** colors for due dates */
  --practera-ovderdue-color: #FF4081;

  /** colors of card message (event-list) **/
  --practera-color-card-border: #ABAEBB;
  --practera-color-card-text-dark: #565B70;
  --practera-color-card-text-light: #A4A8B7;

  --practera-color-subtitle: #818496;

  /** practera gray colors **/
  --practera-surface-light: #FAFAFC;
  --practera-surface: #F5F6FA;
  --practera-15-percent-gray: rgba(0, 0, 0, 0.15);
  --practera-30-percent-gray: rgba(0, 0, 0, 0.3);
  --practera-40-percent-gray: rgba(0, 0, 0, 0.4);
  --practera-60-percent-gray: rgba(0, 0, 0, 0.6);
  --practera-80-percent-gray: rgba(0, 0, 0, 0.8);

  /** Event Video Conference **/
  --practera-event-zoom-color: #2196F3;

  /** Review Page **/
  --practera-review-border-color: #008296;

}
