<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item-group>
      <ion-item-divider lines="none">
        <ion-label color="primary">Your Details</ion-label>
      </ion-item-divider>
      <ion-item>
        <div class="avatar-and-profile">
          <ion-avatar>
            <img *ngIf="!imageUpdating" [src]="profile.image" alt="Profile Image">
          </ion-avatar>

          <file-stack [accept]="acceptFileTypes" [fileType]="'image'" [type]="'profileImage'"
            (complete)="uploadProfileImage($event)"></file-stack>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input slot="end" [placeholder]="profile.name" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input slot="end" [placeholder]="profile.email" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-note class="helper">If you need to update your name or email please contact the experience administrator.</ion-note>
      </ion-item-divider>
      <ion-item *ngIf="profile.contactNumber">
        <ion-label>Mobile Number</ion-label>
        <ion-input slot="end" [placeholder]="profile.contactNumber"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-note class="helper">Your mobile number is important to get SMS notifications.</ion-note>
      </ion-item-divider>
      <ion-item>
        <div class="xc">
          <ion-button fill="outline" expand="block">Update Profile</ion-button>
        </div>
        </ion-item>
      <ion-item-divider>
        <ion-label color="primary">Support</ion-label>
      </ion-item-divider>
      <ion-item detail="true" button (click)="mailTo($event)" (keydown)="mailTo($event)">Contact support</ion-item>
      <ion-item detail="true" button (click)="openLink($event)" (keydown)="openLink($event)">Terms and Conditions</ion-item>
    </ion-item-group>
    <ion-item lines="none">
      <div class="xc">
        <ion-button size="large"
          fill="outline"
          expand="block"
          (click)="logout($event)"
          (keydown)="logout($event)"
        >Log Out</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>



