<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="mode == 'modal'">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>

    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item-group>
      <ion-item-divider lines="none">
        <ion-label color="primary">Your Details</ion-label>
      </ion-item-divider>
      <ion-item>
        <div class="avatar-and-profile">
          <ion-avatar>
            <img *ngIf="!imageUpdating" [src]="profile.image" alt="Profile Image">
            <p *ngIf="imageUpdating" class="loading-icon">
              <ion-spinner name="bubbles"></ion-spinner>
            </p>
          </ion-avatar>

          <file-stack
            [accept]="acceptFileTypes"
            [fileType]="'image'"
            [type]="'profileImage'"
            (complete)="uploadProfileImage($event)"
          ></file-stack>

        </div>
      </ion-item>
      <ion-item>
        <ion-label style="font-weight: bolder;opacity: 1;">Name</ion-label>
        <ion-label>{{profile.name}}</ion-label>
      </ion-item>
      <ion-item id="user-email">
        <ion-label style="font-weight: bolder;opacity: 1;">Email</ion-label>
        <ion-label>{{profile.email}}</ion-label>
      </ion-item>

      <ion-popover trigger="user-email" side="bottom" alignment="end">
        <ng-template>
          <ion-content>{{profile.email}}</ion-content>
        </ng-template>
      </ion-popover>
      <ion-item-divider [ngClass]="{'ion-no-padding': isMobile}">
        <ion-note class="helper">If you need to update your name or email please contact the experience administrator.</ion-note>
      </ion-item-divider>
      <app-contact-number-form [page]="'settings'"></app-contact-number-form>
      <ion-item-divider>
        <ion-label color="primary">Support</ion-label>
      </ion-item-divider>
      <ion-item detail="true" button (click)="mailTo($event)" (keydown)="mailTo($event)">Contact support</ion-item>
      <ion-item detail="true" button (click)="openLink($event)" (keydown)="openLink($event)">Terms and Conditions</ion-item>
    </ion-item-group>
    <ion-item lines="none">
      <div class="xc">
        <ion-button size="large"
          fill="outline"
          expand="block"
          (click)="logout($event)"
          (keydown)="logout($event)"
        >Log Out</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>



