.avatar-and-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  ion-avatar {
    margin-right: 0.5em;
  }
  ion-button {
    margin-left: 0.5em;
  }
}

ion-text {
  background: var(--practera-light-grey-50);
}

ion-label.bolder {
  opacity: 1 !important;
  font-weight: bolder !important;
}
