<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none" [style]="{'padding': '0px'}">
    <ion-item-group>
      <ion-item-divider lines="none">
        <ion-label color="primary">Your Details</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-avatar>
          <img *ngIf="!imageUpdating" [src]="profile.image" alt="Profile Image">
        </ion-avatar>
        <ion-button fill="outline" >
          Upload Profile Image
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input placeholder="John Doe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input placeholder="john@doe.university.com"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-note>If you need to update your name or email please contact the experience administrator.</ion-note>
      </ion-item-divider>
      <ion-item>
        <ion-label>Mobile Number</ion-label>
        <ion-input placeholder="john@doe.university.com"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-note>Your mobile number is important to get SMS notifications.</ion-note>
      </ion-item-divider>
      <ion-item>
        <ion-button fill="outline">Update Profile</ion-button>
      </ion-item>
      <ion-item-divider>
        <ion-label color="primary">Support</ion-label>
      </ion-item-divider>
      <ion-item detail="true">Contact support</ion-item>
      <ion-item detail="true">Terms and Conditions</ion-item>
    </ion-item-group>
    <ion-item lines="none">
      <ion-button fill="outline">Log Out</ion-button>
    </ion-item>
  </ion-list>
</ion-content>



