ion-avatar {
  width: 32px;
  height: 32px;
  margin: 0px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  .avatar-btn {
    height: 100%;
    &.no-hover-effect {
      --background-hover: none;
    }
  }
  .notify-btn {
    height: 34px;
    width: 34px;
    margin: 0px 12px 0px 0px;
    --padding-top: 1px;
    --padding-end: 1px;
    --padding-bottom: 1px;
    --padding-start: 1px;

    .hint {
      background-color: red;
      position: absolute;
      right: -1.5px;
      border-radius: 100%;
      padding: 2px 4px;
      /* overflow: visible; */
      font-size: 0.7em;
      display: flex;
      align-items: center;
    }
  }
  ion-icon {
    font-size: 32px;
  }
  .support-btn {
    height: 26px;
    margin: 0px 12px 0px 0px;
    --color: var(--practera-dark-blue-100);
    --background: var(--practera-orange-50);
    font-size: 12px !important;
    --border-radius: 22px;
    &.mobile {
      --background: transparent;
      --padding-start: 0 !important;
      --padding-end: 0 !important;
    }
  }
}
