<div class="buttons">
  <ion-button (click)="notifications()" class="notify-btn">
    <ion-icon name="notifications"></ion-icon>
    <ion-badge class="hint" color="danger" *ngIf="notiCount > 0">{{notiCount}}</ion-badge>
  </ion-button>
  <ion-button class="avatar-btn"
    (click)="settings()"
    [ngClass]="{'no-hover-effect': user?.image}"
  >
    <ion-avatar class="ion-margin-horizontal" *ngIf="user?.image">
      <img [src]="user?.image" alt="Profile Image">
    </ion-avatar>

    <ion-icon
      *ngIf="!user?.image"
      slot="icon-only"
      name="person-circle"
    ></ion-icon>
  </ion-button>
</div>
