<div class="buttons">
  <ion-button (click)="notifications()" class="notify-btn">
    <ion-icon name="notifications" alt="notification"></ion-icon>
    <ion-badge class="hint" color="danger" *ngIf="notiCount > 0">{{notiCount}}</ion-badge>
  </ion-button>
  <ion-button class="avatar-btn"
    aria-label="access to settings view"
    (click)="settings()"
    [ngClass]="{'no-hover-effect': user?.image}"
  >
    <ion-avatar class="ion-margin-horizontal"
      *ngIf="user?.image"
      aria-hidden="true">
      <img [src]="user?.image" alt="user profile">
    </ion-avatar>

    <ion-icon
      aria-hidden="true"
      *ngIf="!user?.image"
      slot="icon-only"
      name="person-circle"
    ></ion-icon>
  </ion-button>
</div>
