.card {
  margin-top: 20px;
  max-height: 120px;
  height: 120px;
  background-size: cover;
  width: 100%;
  .activity-name {
    font-size: 18px;
    font-weight: 500;
  }
  &:last-child {
    margin-bottom: 5px;
  }
}
.locked-card {
  background: var(--ion-color-medium);
  opacity: 0.3;
}
.image-card {
  background-position: center; 
  background-color: transparent; 
  background-image: var(--practera-card-background-image);
}
.review {
  h2 {
    font-size: 14px;
  }
  ion-text {
    float: right;
    top: 61px;
    font-size: 12px;
    position: absolute;
    right: 22px;
  }
  .check-mark {
    float: right;
    font-size: 20px;
    padding-right: 6px;
    position: relative;
    top: -16px;
  } 
}