<ion-card 
*ngIf="activity; else reviewCard"
color="primary"
class="card practera-card"
[ngClass]="{
   'locked-card' : activity.is_locked,
   'image-card'  : activity.lead_image
}"
>         
<ion-card-content [ngClass]="{'feedback-card': activity.hasFeedback }" >
  <h4 color="primary-contrast">Activity</h4>
  <h2 color="primary-contrast" class="activity-name">{{activity.name}}</h2>
  <div class="feedback-label" *ngIf="activity.hasFeedback">
    <p>Feedback Available</p>
  </div>
  </ion-card-content>
</ion-card>
<ng-template #reviewCard>
  <ion-card
  color="primary"
  class="card practera-card"
  *ngIf="review.isDone && !toggle"
  >
    <ion-card-content class="review">
      <h4 color="primary-contrast" class="activity-name">{{review.name}}</h4>
      <h2 color="primary-contrast" padding-top>{{review.submitterName}}</h2>
      <h2 *ngIf="review.isInTeam" >
        {{review.teamName}}
      </h2>
      <ion-text>{{review.submittedAssessmnetDate}}</ion-text>
      </ion-card-content>  
  </ion-card>
  
    <ion-card
    color="primary"
    class="card practera-card"
    *ngIf="!review.isDone && toggle"
    >
    <ion-card-content class="review">
      <h4 color="primary-contrast" class="activity-name">{{review.name}}</h4>
      <ion-icon name="checkmark-circle" class="check-mark"></ion-icon>
      <h2 color="primary-contrast" padding-top>{{review.submitterName}}</h2>
      <h2 *ngIf="review.isInTeam" >
        {{review.teamName}}
      </h2>
      <ion-text>{{review.submittedReviewDate}}</ion-text>
      </ion-card-content>  
      </ion-card>
</ng-template>