.project-toolbar {
  --border-width: 0px !important;
}
.milestone-bar {
  list-style: none;
  width: 100%;
  margin: 0px;
  
  .bubbles-top {
    width: calc(100%/ 5);
    padding-top: 5px;
    --inner-border-width: 0px !important; 
    &:last-child {
      --border-width: 0px !important;
    }
  }
  ion-icon {
    color: var(--ion-color-medium);
  }
}
.bar-subheader {
  background: var(--ion-color-light);
  border-bottom: 0.5px solid var( --ion-color-light-shade);
  
}
.project-list {
  background: transparent; 
  .project-card {
    width: 100%;
    p {
      color: var(--practera-milestone-name-font-color);
      text-transform: capitalize;
      margin-top: 5px;
      margin-bottom: 10px;
      font-weight: 400;
      height: 39.67px;
      font-size: 16px;
    }
  }
} 