<ion-header mode="ios">
  <ion-toolbar class="project-toolbar" color="light">
    <ion-title center padding-horizontal>{{programName}}</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <ion-grid class="milestone-bar">
    <ion-row>
      <ion-col class="bubbles-top"
        (click)="scrollTo('milestone-' + milestone.id, i)"
        *ngFor="let milestone of milestones; let i = index">
        <div [class.active]="activeMilestone[i]">
          <ng-container *ngIf="!milestone.isLocked; else milestoneLocked">
            <ion-icon *ngIf="milestone.progress >= 1; else circleProgress" name="checkmark-circle" class="icon-done" color="primary"></ion-icon>
          </ng-container>
          <ng-template #circleProgress>
            <app-circle-progress [data]="{percent: milestone.progress * 100, radius: 4}"></app-circle-progress>
          </ng-template>
          <ng-template #milestoneLocked>
            <ion-icon name="lock" color="medium" class="icon-lock"></ion-icon>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-content color="light" [scrollEvents]="true" (ionScroll)="trackScrolling($event)" #contentRef>
  <ion-list class="project-list">
    <ion-item *ngIf="loadingMilestone" color="light">
    </ion-item>

    <ion-item *ngFor="let milestone of milestones" color="light" #milestoneRef>
      <div color="light" class="project-card" id="milestone-{{milestone.id}}">
        <ng-container *ngIf="milestone.dummy; else actualMilestoneTpl">
          <ng-container *ngTemplateOutlet="loadingMilestoneTpl"></ng-container>
        </ng-container>

        <ng-template #actualMilestoneTpl>
          <div class="milestone" padding>
            <ion-icon *ngIf="milestone.isLocked" name="lock" color="medium" class="icon-lock"></ion-icon>
            <ion-text class="project-title">{{ milestone.name }}</ion-text>

            <div class="milestone-description">
              <app-description *ngIf="milestone.description" [content]="milestone.description"></app-description>
            </div>

            <div *ngIf="milestone.Activity" class="milestone-activities">
              <ion-list class="activity-list" color="light">

                <ion-item class="activity-item" *ngFor="let activity of milestone.Activity" color="light">
                  <ng-container *ngIf="activity && activity.dummy; else actualTpl">
                    <div class='row-cards'>
                      <app-circle-progress></app-circle-progress>
                    </div>
                    <app-activity-card class="activity-card" [activity]="false" [loading]="true"></app-activity-card>
                  </ng-container>

                  <ng-template #actualTpl>
                    <div class="row-cards" *ngIf="!activity.isLocked; else activityLocked">
                      <app-circle-progress [data]='{ percent: activity.progress * 100 }'></app-circle-progress>
                    </div>
                    <ng-template #activityLocked>
                      <ion-icon name="lock" color="medium" class="icon-lock"></ion-icon>
                    </ng-template>
                    <app-activity-card id="activity-card-{{activity.id}}" [activity]="activity"
                      (click)="!activity.isLocked && goToActivity(activity.id)"
                      class="activity-card"
                    ></app-activity-card>
                  </ng-template>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ng-template>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #loadingMilestoneTpl>
  <div color="light" class="project-card">
    <div class="milestone" padding >
      <ion-text class="project-title"></ion-text>
      <div class="milestone-description"></div>
      <ion-list class="activity-list" color="light">
        <ion-item class="activity-item" color="light">
          <ng-container *ngTemplateOutlet="activityList"></ng-container>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ng-template>

<ng-template #activityList>
  <div class='row-cards'>
    <app-circle-progress></app-circle-progress>
  </div>
  <app-activity-card class="activity-card" [activity]="false" [loading]="true"></app-activity-card>
</ng-template>
