<ion-header>
  <ion-toolbar class="project-toolbar">
    <ion-title center>Program Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="milestone-bar">
  <ion-row >
    <ion-col class="bubbles-top" *ngFor="let level of levels">
      <div class="touch-area" id="touch-{{level.id}}" (click)="scrollTo(level, index)" [ngClass]="active">
      <div *ngIf="!level.is_locked" >
        <ion-icon *ngIf="level.progress >= 1" name="checkmark-circle" class="icon-done" ></ion-icon>
        <!--{{level.progress}}-->
        <circle-progress *ngIf="level.progress < 1"
          [percent]="level.progress * 100"
          [backgroundStrokeWidth]= "0"
          [radius]= "5"
          [space]= "-20"
          [maxPercent]= 100
          [backgroundColor]= "'#eaeaea'"
          [backgroundStroke]= "'#004987'"
          [backgroundStrokeWidth]= "0"
          [outerStrokeColor]= "'#2bbfd4'"
          [outerStrokeWidth]= "10"
          [showTitle]= false
          [showSubtitle]= false
          [showUnits]= false
          [showInnerStroke]= false
          [startFromZero]= false
          >
          </circle-progress >
      </div>
      <ion-icon *ngIf="level.is_locked" name="lock" color="medium" class="icon-lock"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
    

<ion-content color="light" (ionScroll)="scroll($event)"   [scrollEvents]="true">
 <ion-list class="project-list" >
    <div #milestones >
      <ion-item *ngFor="let level of levels" >
        <div color="light" class="project-card">
          <div class="milestone" padding >
            <ion-text color="medium">MILESTONE</ion-text>
            <p class="project-title">{{level.name}}</p>
            <div class="milestone-description" [innerHtml]="level.description"></div>
            <div *ngIf="level.Activity">
              <ion-list class="activity-list">
                <ion-item class="activity-item" *ngFor="let activity of level.Activity">
                  <ng-container *ngIf="!activity.is_hidden">
                    <div *ngIf="!activity.is_locked">
                      <!-- remove comment when milestone done -->
                      <ion-icon *ngIf="activity.progress >= 1" name="checkmark-circle" class="icon-done" margin-end></ion-icon>
        
                      <circle-progress margin-end *ngIf="activity.progress < 1"
                      [percent]="activity.progress * 100"
                      [backgroundStrokeWidth]= "0"
                      [radius]= "5"
                      [space]= "-20"
                      [maxPercent]= 100
                      [backgroundColor]= "'#eaeaea'"
                      [backgroundStroke]= "'#004987'"
                      [backgroundStrokeWidth]= "0"
                      [outerStrokeColor]= "'#2bbfd4'"
                      [outerStrokeWidth]= "10"
                      [showTitle]= false
                      [showSubtitle]= false
                      [showUnits]= false
                      [showInnerStroke]= false
                      [startFromZero]= false 
                      ></circle-progress>
                    </div>
                    <ion-icon *ngIf="activity.is_locked" name="lock" color="medium" class="icon-lock"></ion-icon>
                    <ion-card *ngIf="!activity.lead_image"
                               color="primary"
                               class="card practera-card"
                               [ngClass]="activity.is_locked ? 'locked-card': ''"
                               (click)="goto(activity.id)"
                               >
                      <ion-card-content [ngClass]="{'feedback-card': activity.hasFeedback }">
                        <h4 color="primary-contrast">Activity</h4>
                        <h2 color="primary-contrast" class="activity-name">{{activity.name}}</h2>
                        <div class="feedback-label" *ngIf="activity.hasFeedback">
                          <p>Feedback Available</p>
                        </div>
                      </ion-card-content>
                    </ion-card>
                    <ion-card *ngIf="activity.lead_image"
                                color="primary"
                                class="card practera-card image-card"
                                [ngClass]="activity.is_locked ? 'locked-card': ''"
                                (click)="goto(activity.id)"
                                >         
                      <ion-card-content [ngClass]="{'feedback-card': activity.hasFeedback }">
                        <h4 color="primary-contrast">Activity</h4>
                        <h2 color="primary-contrast" class="activity-name">{{activity.name}}</h2>
                        <div class="feedback-label" *ngIf="activity.hasFeedback">
                          <p>Feedback Available</p>
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </ng-container>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
