.project-toolbar {
  --border-width: 0px !important;
}
.milestone-bar {
  list-style: none;
  margin: 0px;
  background: var(--ion-color-light);
  border-bottom: 0.5px solid var( --ion-color-light-shade);
  top: 44px;
  height: 54px;

  .bubbles-top {
    padding-top: 3px;
    text-align: center;
    ion-icon {
      padding-top: 5px;
    }
    .icon-lock, .icon-done {
      font-size: 32px;
    }
  }

  .active {
    background-color: lightgrey;
    border-radius: 50%;
    width: 42px;
    height: 2.6em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    line-height: 0.5em;
    padding-top: 2px;
    .icon-lock, .icon-done {
      margin-top: -2px;
    }
  }
}

.project-list {
  .project-item {
    --inner-padding-start:0px;
    --ion-safe-area-right: 0px;
    --inner-padding-end: 16px;
  }
  .project-card {
    width: 100%;
    .milestone {
      padding-top: 16px;
      .milestone-lock {
        font-size: 32px;
        margin-right: 12px;
        margin-bottom: -5px;
      }

      &.lock {
        padding-bottom: 16px;
      }
    }
    .milestone-description {
      color: var(--practera-label-color);
      line-height: 20px;
      font-size: 14px;
      p {
        background-color: black;
      }
    }
    transition: border 0.5s, border-radius 0.5s;
    &.highlighted {
      border: 1px solid var(--ion-color-primary);
      border-radius: 1em;
    }
  }
  :last-child {
    --inner-border-width: 0px !important;
  }
  background: var(--ion-color-light) !important;
}
.project-title {
  color: var(--practera-label-color);
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  height: 39.67px;

  &.no-desc {
    margin-bottom: 14px;
  }
}
.activity-list {
  background: transparent;
  margin-bottom: 0px;

  .icon-done {
    margin-right: 18px;
    font-size: 32px;
  }
  .icon-lock {
    margin-right: 18px;
    font-size: 32px;
    margin-left: -3px;
  }
  .progress-icon {
    margin-left: -3px;
  }
  .row-cards {
    margin-top: -18px;
    min-width: 53px !important;
  }
}
.activity-item {
  --border-width: 0px !important;
  --inner-border-width: 0px !important;
  --padding-start: 0px;
  --ion-safe-area-left: 0px;
  --padding-end:0px;
  --inner-padding-start:0px;
  --ion-safe-area-right: 0px;
  --inner-padding-end: 0px;
}
.icon-done {
  font-size: 33px;
  margin-left: 0px;
}

.activity-card {
  width: 100%;
}

ion-spinner {
  display: block;
  margin: auto;
}
