.project-toolbar {
  --border-width: 0px !important;
}
.milestone-bar {
  list-style: none;
  margin: 0px;
  background: var(--ion-color-light);
  border-bottom: 0.5px solid var( --ion-color-light-shade);
  top: 44px;
  height: 54px;
  
  .bubbles-top {
    padding-top: 5px;
    text-align: center;
    ion-icon {
      padding-top: 5px;
    }
    .icon-lock {
      font-size: 24px;
    }
  }
  
}

.project-list {
  background: transparent; 
  .project-card {
    width: 100%;
    .milestone-description {
      color: var(--practera-milestone-name-font-color);
      overflow: hidden;
      line-height: 20px;
      max-height: 100px;
      font-size: 14px;
    }
  }
} 
.project-title {
  color: var(--practera-milestone-name-font-color);
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  height: 39.67px;
  font-size: 16px;
}
.activity-list {
  background: transparent;
  width: 110%;
  margin-left: -29px;
  .icon-lock {
    margin-right: 18px;
    font-size: 32px;

  }
}
.activity-item {
  --border-width: 0px !important;
  --inner-border-width: 0px !important;
}
.icon-done {
  color: var(--ion-color-primary);
  font-size: 33px;
  margin-left: 0px;
}


.card {
  margin-top: 10px;
  max-height: 120px;
  height: 120px;
  background-size: cover;
  width: 100%;
  .activity-name {
    font-size: 20px;
    font-weight: 500;
  }
  &:last-child {
    margin-bottom: 5px;
  }
}


.locked-card {
  background: var(--ion-color-medium);
  opacity: 0.3;
}
.image-card {
  background-position: center; 
  background-color: transparent; 
  background-image: url('img/lead_image.jpg'),linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.2) ) !important;
}