.list-terms {
  text-align: left;
  background: transparent;
  margin: auto;
  margin-top: 16px;
  max-width: 480px;
  ion-checkbox {
    vertical-align: middle;
    margin-right: 16px;
  }
  a {
    cursor: pointer;
  }
}
