<ion-content color="light" text-center>
  <h2>Registration</h2>
  <div class="div-logo registration">
    <img src="/assets/logo.svg" width="60%">
  </div>
  <div class="div-after-logo">
    <ng-container *ngIf="!hide_password">
      <h4>Your Login Email Address</h4>
      <p>{{user.email}}</p>
    </ng-container>
    <ng-container *ngIf="hide_password">
      <h4>Your Mobile Number</h4>
      <p>{{user.contact}}</p>
    </ng-container>
    <form [formGroup]="registerationForm">
      <ion-list margin>
        <ion-item *ngIf="!hide_password">
          <ion-input name="passowrd" [(ngModel)]="password" formControlName="password"
            required type="password" placeholder="Set up Practera password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!hide_password">
          <ion-input name="confirmPassword" [(ngModel)]="confirmPassword" formControlName="confirmPassword"
            required type="password" placeholder="Confirm password"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox color="primary" slot="start" [(ngModel)]="isAgreed" [ngModelOptions]="{standalone: true}" name="isAgreed"></ion-checkbox>
          <ion-label class="terms-and-conditions">I agree to the Terms & Conditions</ion-label>
        </ion-item>
      </ion-list>
      <p><a (click)="openLink()">Terms & Conditions</a></p>
      <ion-text *ngFor="let error of errors" color="danger">
        <p>{{error}}</p>
      </ion-text>
      <ion-button shape="round" expand="block" (click)="register()" color="primary">REGISTER</ion-button>
    </form>

  </div>
</ion-content>