
.card {
  
  margin-top: 20px;
  // max-height: 100%;
  // height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: transparent;
  .path-name {
    font-size: 18px;
    font-weight: bold;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  .path-list {
    background: transparent;
    margin-top: 40px;
    margin-left: 0px;
    padding-bottom: 0px;
 
    ion-icon.icon-done, ion-icon.icon-lock {
      font-size: 2em;
      margin-left: 4px;
      margin-right: 20px;
      width: 35px;
    }

  
   
    circle-progress {
        margin-right: 0px !important;
    }

    .path-way {
      // height: 100%;
      // padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: .9em;
    }

    .item {
      --border-width: 0px !important;
      --inner-border-width: 0px !important;
    }
 
  }

}
.locked-card {
  background-color: var(--ion-color-medium);
}
.default-image-card {
  background-image: var(--practera-card-background-image);
  background-color: var(--ion-color-primary);
}
.locked-card.default-image-card  {
  background-blend-mode: color-burn;
}

.loading-card {
  background-color: #ddd !important;
}

// ion-card {
  // background-color: #000 !important;
  // color: #fff ;
  // --ion-color-primary: #000;
  // --ion-color-primary-contrast: #fff;
//}

.default-image-card {
    background-color: transparent !important;
}
