<ion-split-pane *ngIf="!utils.isMobile()" contentId="main" when="xs">
  <app-chat-list
    #chatList
    style="display: flex"
    [currentChat]="getCurrentChat()"
    (navigate)="goto($event)"
    (chatListReady)="selectFirstChat($event)">
  </app-chat-list>
  <ion-content color="light" id="main">
    <app-chat-room #chatRoom *ngIf="teamId"
      [teamId]="teamId"
      [teamMemberId]="teamMemberId"
      [participantsOnly]="participantsOnly"
      [chatName]="chatName"></app-chat-room>
  </ion-content>
</ion-split-pane>

<ion-content *ngIf="utils.isMobile()">
  <app-chat-list #chatList></app-chat-list>
</ion-content>
