<ion-split-pane *ngIf="!utils.isMobile()" contentId="main-content" when="xs">
  <app-chat #chatList [currentChat]="getCurrentChat()" (navigate)="goto($event)"></app-chat>
  <ion-content color="light" id="main-content">
    <app-chat-room #chatRoom *ngIf="teamId" [teamId]="teamId" [teamMemberId]="teamMemberId" [participantsOnly]="participantsOnly" [chatName]="chatName"></app-chat-room>
  </ion-content>
</ion-split-pane>

<ion-content *ngIf="utils.isMobile()">
  <app-chat #chatList></app-chat>
</ion-content>