<ion-header>
  <ion-toolbar>
    <ion-title>devtool</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/v3">Go /</ion-button>
  <ion-button (click)="login()">Login</ion-button>
  <ion-button (click)="pulsecheck()">Pulse check</ion-button>
  <ion-button (click)="reviewrating()">Rating</ion-button>

  <ion-text *ngIf="doneLogin">
    <p>{{ user | json }}</p>
  </ion-text>

  <h4>Developer purpose only - Colors Example</h4>
  <p>Branding Colors</p>
  <ion-button color="arctic">Arctic</ion-button>
  <ion-button color="lime">Lime</ion-button>
  <ion-button color="violet">Violet</ion-button>
  <ion-button color="ocean">Ocean</ion-button>
  <ion-button color="dark-blue">Dark Blue</ion-button>
  <p>Grey Colors</p>
  <ion-button color="grey-100">Grey 100</ion-button>
  <ion-button color="grey-75">Grey 75</ion-button>
  <ion-button color="grey-50">Grey 50</ion-button>
  <ion-button color="grey-25">Grey 25</ion-button>
  <p>Light Grey Colors</p>
  <ion-button color="light-grey-100">Light Grey 100</ion-button>
  <ion-button color="light-grey-75">Light Grey 75</ion-button>
  <ion-button color="light-grey-50">Light Grey 50</ion-button>
  <ion-button color="light-grey-25">Light Grey 25</ion-button>

  <br>
  <br>
  <h3>Auth Urls</h3>
  <ion-button routerLink="/auth/login">login</ion-button>
  <ion-button routerLink="/auth/forgot_password">forgot password</ion-button>
  <ion-button routerLink="/auth/reset_password/key/email">reset password</ion-button>
  <ion-button routerLink="/auth/secure/authToken">direct login page</ion-button>
  <ion-button routerLink="/auth/global_login/apikey">global login page</ion-button>
  <br>
  <h4> we have 2 different UIs for registration page</h4>
  <h5>This is same page. but showing different UI based on user.</h5>
  <p>One for normal registration - regitration page for leanners and experts</p>
  <ion-button routerLink="/auth/registration/email/key">registration</ion-button>
  <br>
  <p>Registration page for unRegistered users who accessing app through direct links</p>
  <ion-button routerLink="/auth/registration/email/unRegister">registration</ion-button>
  <br>

</ion-content>
