<ion-header>
  <ion-toolbar>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding color="light">
  <ng-container class="top-round-btns">
  </ng-container>
  <div *ngIf="!reviews.length; else reviewsCard" class="no-review-show" padding>
    <div class="empty-status" >
      <h2 text-center>You have no new submissions to review</h2>
    </div>
  </div>
  <ng-template #reviewsCard>
    <ng-container *ngFor="let review of reviews">
       <app-activity-card [activity]="review"></app-activity-card>
    </ng-container>
  </ng-template>

</ion-content>