<ion-header mode="ios">
  <ion-toolbar color="light">
    <ion-title role="heading" aria-level="1" center>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <div class="btn-filter" text-center>
    <ion-button
      class="btn-left-half"
      [ngClass]="{'btn-activated': !showDone}"
      (click)="showDone = false"
      >
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      To do
    </ion-button>
    <ion-button
      class="btn-right-half"
      [ngClass]="{'btn-activated': showDone}"
      (click)="showDone = true">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      Done
    </ion-button>
  </div>
  <div text-center *ngIf="loadingReviews; else reviewsTmpl">
    <ion-spinner></ion-spinner>
  </div>
  <ng-template #reviewsTmpl>

    <div *ngIf="noReviewsToDo()" class="no-review-show" padding text-center>
      <div class="empty-status background-white">
        <h2 text-center>You have no new submissions to review</h2>
      </div>
    </div>
    <div *ngIf="noReviewsDone()" class="no-review-show" padding text-center>
      <div class="empty-status background-white">
        <h2 text-center>You have not reviewed any submissions</h2>
      </div>
    </div>
    <ng-container *ngIf="!noReviewsToDo() && !noReviewsDone()">
      <ng-container *ngFor="let review of reviews">
        <ion-card
          color="primary"
          class="card practera-card"
          *ngIf="review.isDone == showDone"
          (click)="gotoReview(review.contextId, review.assessmentId, review.submissionId)"
        >
          <ion-card-content class="review">
            <h2>{{review.name}}</h2>
            <ion-icon *ngIf="review.isDone" name="checkmark-circle" class="check-mark"></ion-icon>
            <h3 padding-top>{{review.submitterName}}</h3>
            <h3 *ngIf="review.teamName">{{review.teamName}}</h3>
            <ion-text>{{review.date}}</ion-text>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>

  </ng-template>
</ion-content>
