.card {
  margin-top: 20px;
  max-height: 120px;
  height: 120px;
  background-size: cover;
  width: 100%;
  .activity-name {
    font-size: 18px;
    font-weight: 500;
  }
  &:last-child {
    margin-bottom: 5px;
  }
}
.locked-card {
  background: var(--ion-color-medium);
  opacity: 0.3;
}
.image-card {
  background-position: center;
  background-image: var(--practera-card-background-image);
}
