.card {
  margin-top: 20px;
  max-height: 120px;
  height: 120px;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: transparent;
  .activity-name {
    font-size: 18px;
    font-weight: bold;
  }
  &:last-child {
    margin-bottom: 5px;
  }
}
.locked-card {
  background-color: var(--ion-color-medium);
}
.default-image-card {
  background-image: var(--practera-card-background-image);
  background-color: var(--ion-color-primary);
}
.locked-card.default-image-card  {
  background-blend-mode: color-burn;
}
