<ion-card
  color="primary"
  class="card practera-card"
  [ngClass]="{
    'locked-card': activity.isLocked,
    'default-image-card': !activity.leadImage,
    'highlighted': activity.highlighted
  }"
  [ngStyle]="{'background-image': backgroundImageStyle }"
>
  <ion-card-content [ngClass]="{'feedback-card': activity.hasFeedback }">
    <h4 color="primary-contrast">Activity</h4>
    <h2 color="primary-contrast" class="activity-name">{{activity.name}}</h2>
  </ion-card-content>
  <ion-card-content *ngIf="loading">
    <h4 color="primary-contrast"></h4>
    <h2 color="primary-contrast" class="activity-name">
      <ion-spinner name="dots" class="vertical-middle"></ion-spinner>
    </h2>
  </ion-card-content>
</ion-card>
