.card {
  margin-top: 16px;
  margin-bottom: 16px;
  max-height: 120px;
  height: 120px;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: transparent;
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.21);
  .activity-name {
    font-size: 18px;
    font-weight: bold;
  }
  ion-card-content {
    max-height: 120px;
    height: 120px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.skeleton-card {
  background-color: white;
  box-shadow: none;
}
.locked-card {
  background-color: var(--ion-color-medium);
}
.default-image-card {
  background-image: var(--practera-card-background-image);
  background-color: var(--ion-color-primary);
}
.locked-card.default-image-card  {
  background-blend-mode: color-burn;
}
.highlighted {
  -webkit-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 var(--ion-color-primary);
    }
    100% {
      box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0, 1), 0 2px 0 var(--ion-color-primary);
    }
}
