<ion-card
  color="primary"
  class="card practera-card"
  [ngClass]="{
    'locked-card': activity.isLocked,
    'default-image-card': !activity.leadImage
  }"
  [ngStyle]="{'background-image': backgroundImageStyle }"
>
  <ion-card-content>
    <p color="primary-contrast" class="caption">Activity</p>
    <p color="primary-contrast" class="activity-name headline-6">{{activity.name}}</p>
  </ion-card-content>
  <ion-card-content *ngIf="loading">
    <p color="primary-contrast" class="caption"></p>
    <p color="primary-contrast" class="activity-name headline-6">
      <ion-spinner name="dots" class="vertical-middle"></ion-spinner>
    </p>
  </ion-card-content>
</ion-card>
