<div class="wrapper">
  <ng-container [ngSwitch]="buttonType">
    <ion-text *ngSwitchCase="'blocked-role'" color="grey-50">
      <p>Team assessment submissions restricted to participants only.</p>
    </ion-text>
    <ng-container *ngSwitchDefault>
      <ion-button
        mode="ios"
        [disabled]="disabled$ | async"
        [color]="color"
        (click)="onClick($event)"
      >{{ text }}</ion-button>
      <ion-button *ngIf="showResubmit === true"
        [disabled]="disabled$ | async"
        mode="ios"
        [color]="color"
        (click)="onResubmit($event)"
      >Resubmit</ion-button>
    </ng-container>

  </ng-container>
</div>
