<ion-header class="ion-no-border" aria-label="notifications">
  <h1 class="for-accessibility">Notifications</h1>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (keydown)="dismiss($event)" (click)="dismiss()" *ngIf="mode === 'modal'">
        <ion-icon slot="icon-only" color="grey-75" name="arrow-back-outline"></ion-icon>
      </ion-button>

      <ion-button (keydown)="goBack($event)" (click)="goBack()" *ngIf="!mode">
        <ion-icon slot="icon-only" color="grey-75" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="headline-4 grey-75">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <main aria-labelledby="notifications">
    <h1 id="notifications" class="for-accessibility">Notifications list</h1>
    <ng-container *ngIf="isMobile; else notificationsDesktop">
      <ng-container *ngIf="loadingTodoItems; else doneLoading">
        <div class="margin-left-right ion-padding-bottom">
          <app-todo-card [loading]="true" [todoItem]="{}"></app-todo-card>
        </div>
      </ng-container>

      <ng-template #doneLoading>
        <div @newLoaded *ngIf="(eventReminders || []).concat(todoItems) as notices">
          <ng-container *ngIf="notices.length > 0; else noNotices">
            <app-todo-card *ngFor="let notice of notices"
              [todoItem]="notice" [ngStyle]="{width: '100%'}"
              (keydown)="clickTodoItem(notice, $event)"
              (click)="clickTodoItem(notice)"
            ></app-todo-card>
          </ng-container>

          <ng-template #noNotices>
            <div class="margin-left-right ion-padding-bottom">
              <ng-container *ngTemplateOutlet="noItemsTpl"></ng-container>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </ng-container>
  </main>
</ion-content>

<ng-template #notificationsDesktop>
  <ion-list lines="full">
    <ng-container *ngIf="loadingTodoItems; else todoItemsTpl">
      <app-todo-card class="ion-padding-bottom" [loading]="true" [todoItem]="{}"></app-todo-card>
    </ng-container>
  </ion-list>
</ng-template>

<ng-template #todoItemsTpl>
  <div *ngFor="let event of eventReminders" @newLoaded>
    <app-todo-card [todoItem]="{
      name: event.name,
      description: '',
      type: 'event',
      time: timeFormatter(event.startTime)
    }"
    (keydown)="showEventDetail(event, $event)"
    (click)="showEventDetail(event)"></app-todo-card>
  </div>

  <ng-container *ngIf="todoItems.length; else noItemsTpl">
    <div *ngFor="let todoItem of todoItems" @newLoaded>
      <app-todo-card
        [todoItem]="todoItem"
        (keydown)="clickTodoItem(todoItem, $event)"
        (click)="clickTodoItem(todoItem)"
      ></app-todo-card>
    </div>
  </ng-container>

</ng-template>

<ng-template #noItemsTpl>
  <app-todo-card *ngIf="!eventReminders.length" [todoItem]="{}"></app-todo-card>
</ng-template>
