.div-logo {
  margin-top: 10vh;
  margin-bottom: 7vh;
}
.div-after-logo {
  margin: 0 30px 50px;
}
.img-inline {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: auto !important; 
}
.text-split {
  margin-top: 40px;
  margin-bottom: 40px;
}
.clearfix {
  clear: both;
}
// used for todo-card, activity-card, tasks list, program switcher page, setting page
.practera-card {
  border-radius: 12px;
  margin-left: 0;
  margin-right: 0;
}
.background-white {
  background: white;
}
.q-title {
  font-size: 16px;
  font-weight: bold;
  // border-bottom: 1px solid var(--ion-color-light);
}