// used in login, forgot password, regestration page
.div-logo {
  margin-top: 10vh;
  margin-bottom: 7vh;

  &.registration {
    margin-top: 7vh;
  }

}
.div-after-logo {
  margin: 0 30px 50px;
}
.img-inline {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: auto !important; 
}
.vertical-middle {
  vertical-align: middle;
}
.text-split {
  margin-top: 40px;
  margin-bottom: 40px;
}
.clearfix {
  clear: both;
}

// used for todo-card, activity-card, tasks list, program switcher page, setting page
.practera-card {
  border-radius: 12px;
  margin: 30px 0;
}
// used for todo-card & tasks list
.icon-item {
  h4 {
    font-size: 16px;
    text-overflow: ellipsis;
    margin-bottom: 0px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    margin-top: 0px;
  }
}

.feedback-card {
  position: relative;

  .feedback-label {
    padding: 3px 16px 3px 16px;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0 4px 24px 4px rgba(18, 23, 81, 0.1);
    bottom: -28px;

    p {
      font-size: 14px;
      font-weight: normal;
      color: var(--ion-color-primary);;
      text-shadow: none;
      height: 20px;
      margin-top: 0px;
    }
  }
}


.background-white {
  background: white;
}

// question name
.q-title {
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding-bottom: 0;
}
// question content
.q-content {
  padding-top: 0;
}
// the div block for review
.q-reviews {
  border: 2px solid var(--ion-color-warning);
  padding: 5px 10px 10px;
  margin-top: 10px;
  border-radius: 12px;
}

.paragraph {
  white-space: pre-wrap;
}

.time-stamp {
  right: 20px;
  top: 20px;
  font-size: 13px;
  position: absolute;
  top: 18px;
  font-size: 12px;
} 

.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}
.card {
  margin-top: 20px;
  max-height: 120px;
  height: 120px;
  background-size: cover;
  width: 100%;
  .activity-name {
    font-size: 18px;
    font-weight: 500;
  }
  &:last-child {
    margin-bottom: 5px;
  }
}
.locked-card {
  background: var(--ion-color-medium);
  opacity: 0.3;
}
.image-card {
  background-position: center; 
  background-color: transparent; 
  background-image: var(--practera-card-background-image);
}
.review {
  h2 {
    font-size: 14px;
  }
  ion-text {
    float: right;
    top: 61px;
    font-size: 12px;
    position: absolute;
    right: 22px;
  }
  .check-mark {
    float: right;
    font-size: 20px;
    padding-right: 6px;
    position: relative;
    top: -16px;
  } 
}
