.div-logo {
  margin-top: 10vh;
  margin-bottom: 7vh;
}
.div-after-logo {
  margin: 0 30px 50px;
}
.img-inline {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: auto !important; 
}
.text-split {
  margin-top: 40px;
  margin-bottom: 40px;
}
.clearfix {
  clear: both;
}