body {
  background-color: #c7cbe1;
}

#mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// used in login, forgot password, regestration page
.div-logo {
  margin-top: 10vh;
  margin-bottom: 7vh;

  &.registration {
    margin-top: 7vh;
  }

}

.div-after-logo {
  margin: 0 30px 50px;
}

.img-inline {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: auto !important;
}

.vertical-middle {
  vertical-align: middle;
}

.text-split {
  margin-top: 40px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

// used for todo-card, activity-card, tasks list, program switcher page, setting page
.practera-card {
  border-radius: 12px;
  margin: 30px 0;
}

// used for todo-card & tasks list
.icon-item {
  width: 100%;

  h4 {
    font-size: 14px;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    max-width: 80%;
  }

  p {
    font-size: 12px;
    font-weight: 500;
    text-overflow: ellipsis;
    margin-top: 0px;
    overflow: hidden;
    max-height: 16px;
    -webkit-line-clamp: 1;
    line-height: 16px;
  }
}

.feedback-card {
  position: relative;

  .feedback-label {
    padding: 3px 16px 3px 16px;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0 4px 24px 4px rgba(18, 23, 81, 0.1);
    bottom: -28px;

    p {
      font-size: 14px;
      font-weight: normal;
      color: var(--ion-color-primary);
      text-shadow: none;
      height: 20px;
      margin-top: 0px;
    }
  }
}

.background-white {
  background: white;
}

.width-100 {
  width: 100%;
}

// question name
.q-title {
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding-bottom: 0;
}

// question content
.q-content {
  padding-top: 0;
}

// the div block for review
.q-reviews {
  border: 2px solid var(--ion-color-warning);
  padding: 5px 10px 10px;
  margin-top: 10px;
  border-radius: 12px;
}

.paragraph {
  white-space: pre-wrap;
}

.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

// change white-space to normal - use in choices.
.white-space-normal {
  white-space: normal !important;
}

// remove background
.no-bg {
  background-color: transparent !important;
}

.achievement-popup {
  .modal-wrapper {
    --height: 80%;
    --width: 70%;
    --border-radius: 12%;
    --background: transparent;
    --box-shadow: none;
  }
}

.lock-assessment-popup {
  .modal-wrapper {
    --height: 40%;
    --width: 70%;
    --background: transparent;
    --box-shadow: none;
    --border-radius: 12px;
    max-height: 266px;
    min-height: 266px;
    .inner-scroll, .scroll-y, .overscroll {
      --overflow: hidden;
    }
  }
}

@media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
  .intercom-namespace .intercom-launcher-badge-frame {
    transform: translateX(15px);
    top: 0px !important;
  }

  .intercom-namespace .intercom-launcher-discovery-frame,
  .intercom-namespace .intercom-launcher-frame {
    transform: scale(.7) translateX(30px);
    top: 0px !important;
    right: 0px !important;
  }
}

.event-detail-popup {
  .modal-wrapper {
    --height: 100%;
    --width: 100%;
    --border-radius: 12px;
    --box-shadow: none;
  }
}

/******************
  Filter buttons
  Currently used on reviews & events page
******************/
.btn-filter {
  ion-button {
    margin: 0;
    color: var(--ion-color-primary);
    --background: white;
  }
  .btn-activated{
    color: white;
    --background: var(--ion-color-primary);
  }
  .btn-left-half {
    --border-radius: 50px 0 0 50px;
  }
  .btn-middle {
    --border-radius: 0;
    margin: 0 2px;
  }
  .btn-right-half {
    --border-radius: 0 50px 50px 0;
  }
}

// styles use for due dates and pulsing animation
.due-date {
  margin-bottom: 0;
  color: var(--ion-color-primary);
  font-size: 12px !important;
  font-weight: bold !important;
  // use in assessment page to show due dates
  &.assessment {
    font-size: 16px !important;
    ion-icon {
      vertical-align: bottom;
    }
  }
  // use to show overdue dates
  &.over {
    color: var(--practera-ovderdue-color);
  }
}

.pulsing {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
    box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
      box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
      box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
  }
}
