// used for desktop view
.ion-toolbar-absolute {
  height: 60px;
}
.ion-content-absolute {
  position: absolute;
  top: 60px;
  z-index: 20;
  height: calc(100% - 60px);
}
.ion-content-absolute-with-footer {
  position: absolute;
  top: 60px;
  z-index: 20;
  height: calc(100% - 120px);
}
.ion-footer-absolute {
  position: absolute;
  height: 60px;
  bottom: 0;
  z-index: 30;
}

// used for mobile view
.ion-content-mobile {
  --padding-bottom: 60px;
}

.list-md {
  padding: 0;
}
.float-right {
  float: right;
}
// used in login, forgot password, regestration page
.div-logo {
  margin: 10vh auto 7vh;
  max-width: 320px;

  &.registration {
    margin-top: 7vh;
  }
}

.div-after-logo {
  margin: 0 30px 50px;
  ion-list {
    max-width: 480px;
    margin: auto;
    border-radius: 8px;
    ion-button {
      margin: auto;
      ion-icon {
        margin: 0;
      }
    }
  }
  p {
    max-width: 480px;
    margin: auto auto 16px auto;
  }
  ion-button {
    max-width: 256px;
    margin: 16px auto;
  }
}

.img-inline {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: auto !important;
}

.vertical-middle {
  vertical-align: middle;
}

.text-split {
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}

.clearfix {
  clear: both;
}

// used for todo-card, activity-card, tasks list, program switcher page, setting page, topic page
.practera-card {
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
}


/******************
  list empty message
******************/
.list-empty-message {
  text-align: center;
  padding: 0 12px 18px;
  border: 1px solid var(--practera-color-card-border);
  box-shadow: none;
  p {
    margin: 20px 0 8px;
  }
}

/******************
  ion-button
******************/
ion-button.practera-btn {
  --border-radius: 8px;
  --box-shadow: none;
  text-transform: uppercase;
  &.mobile-btn {
    height: 32px;
    width: 94px;
  }
}
@media (max-width: 768px) {
  ion-button.btn-cta {
    width: 311px;
  }
}
@media (min-width: 768px) {
  ion-button.btn-cta {
    width: 420px;
  }
}

ion-skeleton-text {
  border-radius: 16px;
}

.no-box-shadow {
  --box-shadow: none;
  box-shadow: none;
}

// used for todo-card & tasks list
.icon-item {
  width: 100%;

  h4 {
    text-overflow: ellipsis;
    margin-bottom: 0px;
    max-width: 80%;
  }

  p {
    text-overflow: ellipsis;
    margin-top: 0px;
    overflow: hidden;
    -webkit-line-clamp: 1;
  }
}

.background-white {
  background: white;
  --background: white;
}

.width-100 {
  width: 100%;
}

// question name
.q-title {
  display: block;
  padding-bottom: 0;
}

// question content
.q-content {
  padding-top: 0;
}

// the div block for review
.q-reviews {
  border: 2px solid var(--ion-color-warning);
  padding: 5px 10px 10px;
  margin-top: 10px;
  border-radius: 12px;
}

.paragraph {
  white-space: pre-wrap;
}

.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

// change white-space to normal - use in choices.
.white-space-normal {
  white-space: normal !important;
}

// remove background
.no-bg {
  background-color: transparent !important;
  --background: transparent !important;
}

/*******************
  Practera popup styles
*******************/

.practera-popup {
  .modal-wrapper {
    --max-width: 280px;
    --min-width: 280px;
    --min-height: 280px;
    --max-height: 480px;
    --width: 280px;
    --border-radius: 12px;
    --background: transparent;
    --box-shadow: none;
    margin-top: 20px;
    margin-bottom: 20px;
    .inner-scroll, .scroll-y, .overscroll {
      --overflow: hidden;
    }
    .pop-up-content {
      border-radius: 12px !important;

      .image-content {
        text-align: -webkit-center;

        .image {
          background-color: #ffffff !important;
          width: -webkit-fit-content;
          border-radius: 50%;

          img {
            border-radius: 50%;
            width: 56px;
            height: 56px;
          }
        }
      }

      .details-container {
        background-color: #ffffff !important;
        padding: 20px;
      }

      .div-after-img {
        text-align: -webkit-center;
        margin: 0 15px 30px;
        ion-button {
          max-width: 312px;
          margin-left: auto;
          margin-right: auto;
        }
        &.button-container {
          
          margin: 0 15px 4px;
        }
        .description {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          max-height: 50px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical !important;
          text-align: -webkit-center;
        }
      }

    }
  }
  &.desktop-view {
    .modal-wrapper {
      --width: inherit;
      --height: inherit;
      --max-width: inherit;
      --max-height: inherit;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &.activity-complete-popup {
    .modal-wrapper {
      --height: auto;
      --width: auto;
      min-height: 200px;
    }
  }
  &.mobile-view {
    .modal-wrapper {
      position: fixed;
      bottom: 0;
      max-width: none;
      width: 100%;
      border-radius: 0;
      margin: 0;
    }
  }

  &.lock-assessment-popup{
    .modal-wrapper {
      --height: 280px;
    }
  }
}


@media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
  .intercom-namespace .intercom-launcher-badge-frame {
    transform: translateX(15px);
    top: 0px !important;
  }

  .intercom-namespace .intercom-launcher-discovery-frame,
  .intercom-namespace .intercom-launcher-frame {
    transform: scale(.7) translateX(30px);
    top: 0px !important;
    right: 0px !important;
  }
}

.event-detail-popup {
  .modal-wrapper {
    --height: 100%;
    --width: 100%;
    --border-radius: 12px;
    --box-shadow: none;
  }
}

/******************
  Filter buttons
  Currently used on reviews & events page
******************/
.btn-filter {
  ion-button {
    margin: 0;
    color: var(--ion-color-primary);
    --background: white;
    --box-shadow: none;
    height: 32px;
  }
  .btn-activated{
    color: white;
    --background: var(--ion-color-primary);
  }
  .btn-left-half {
    --border-radius: 24px 0 0 24px;
  }
  .btn-middle {
    --border-radius: 0;
    margin: 0 2px;
  }
  .btn-right-half {
    --border-radius: 0 24px 24px 0;
  }
}

// styles use for due dates and pulsing animation
.due-date {
  margin-bottom: 0;
  color: var(--ion-color-primary);
  // use in assessment page to show due dates
  &.assessment {
    ion-icon {
      vertical-align: bottom;
    }
  }
  // use to show overdue dates
  &.over {
    color: var(--practera-ovderdue-color) !important;
  }
}

.pulsing {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
    box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
    box-shadow: 0 0 0 15px rgba(var(--ion-color-primary-rgb), 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
    box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
  }
}
// styles for custom toast
.practera-toast {
  --background: var(--ion-color-primary);;
  --color:white;
  --border-radius: 12px;
  --box-shadow: 0 4px 16px rgba(0,0,0,.12);
}

/******************
  experience card
  used in switcher-program.html and settings.html
******************/
.experience-card {
  margin: 12px 0;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
  ion-icon {
    font-size: 24px !important;
    color: var(--ion-color-medium);
  }
  ion-card-content {
    max-height: 64px;
    min-height: 64px;
    height: 64px;
    padding: 0;
  }
  .image-container {
    position: relative;
    padding-bottom: 56.2%;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.switcher-card-item {
  --min-height: 64px;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
}
/******************
for videos in topics
*******************/
.topic-custome-player {
  margin: auto;
  &.desktop-view {
    max-width: 710px;
    max-height: 400px;
  }
}

.topic-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.desktop-view {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 710px;
    max-height: 400px;
    transform: translate(-50%, -50%);
  }
}
