<ng-container *ngIf="submission.answer">
  <ion-list>
    <ion-radio-group [value]="submission.answer">
      <ion-item *ngFor="let teamMember of question.teamMembers" color="light">
        <ion-label>{{ teamMember.userName }}</ion-label>
        <ion-radio [value]="teamMember.key" disabled mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ng-container>

<div *ngIf="review.answer || review.comment" class="q-reviews">
  <ion-label class="q-title">Feedback</ion-label>
  <ng-container *ngIf="review.answer">
    <ion-list>
      <ion-radio-group [value]="review.answer">
        <ng-container *ngFor="let teamMember of question.teamMembers">
          <ng-container *ngIf="teamMember.key === review.answer">
            <ion-item color="light">
              <ion-label>{{ teamMember.userName }}</ion-label>
              <ion-radio [value]="teamMember.key" disabled mode="md"></ion-radio>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-radio-group>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="review.comment">
    <p class="paragraph">{{ review.comment }}</p>
  </ng-container>
</div>

<ng-container *ngIf="doAssessment">
  <ion-list>
    <ion-radio-group #answerEle (ionChange)="onChange(answerEle.value)">
      <ion-item *ngFor="let teamMember of question.teamMembers">
        <ion-label>{{ teamMember.userName }}</ion-label>
        <ion-radio [value]="teamMember.key" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ng-container>

<ng-container *ngIf="doReview">
  <ion-list *ngIf="question.canAnswer">
    <ion-radio-group #answerEle (ionChange)="onChange(answerEle.value, 'answer')">
      <ion-list-header>
        <ion-label>Your Answer is</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let teamMember of question.teamMembers">
        <ion-label>{{ teamMember.userName }}</ion-label>
        <ion-radio [value]="teamMember.key" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-textarea *ngIf="question.canComment" class="background-white" #commentEle margin-top rows="4" [(ngModel)]="comment" (ngModelChange)="onChange(comment, 'comment')" placeholder="Please put your feedback here"></ion-textarea>
</ng-container>

