.total-points {
    .trophy {
        .circle-background {
            width: 72px;
            height: 72px;
            margin: auto;
            ion-avatar {
                width: 72px;
                height: 72px;
            }
        }
    }
    .points {
        text-align: left;
        padding-left: 0 !important;
        p:nth-child(1) {
            margin-bottom: 0 !important;
        }
        p:nth-child(2) {
            margin: 0 !important;
        }
    }

    &.desktop {
        justify-content: center !important;
        .points {
            text-align: center;
        }
    }
}

.badge-col {
    padding: 3px;
}

.badge-container {
    max-width: 992px;
    margin: auto;
    .badge-col {
        max-width: 224px !important;
        margin-left: 12px;
        margin-right: 12px;
        padding: 0;
    }
}

@media screen and (max-width: 1023px) {
    .badge-container {
        .badge-col {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding: 5px;
        }
    }
}

hr {
    border: 0;
    height: 1px;
    background: #ABAEBB;
}
.title-container {
    text-align: left;
    max-width: 955px !important;
}