<ion-header mode="ios">
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="back()" color="primary" slot="start" margin-start></ion-icon>
    <ion-title class="ion-text-center headline-6">Badges</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-text-center">
  <ng-container *ngIf="loadingAchievements">
    <ion-spinner></ion-spinner>
  </ng-container>
  <ion-grid *ngIf="this.achievementService.getIsPointsConfigured() && !loadingAchievements">
    <ion-row class="total-points">
      <ion-col class="trophy" size="3">
        <div class="circle-background">
          <ion-avatar>
            <img [src]="userInfo.image">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col class="points ion-align-items-start">
        <h4 class="headline-5">Total Points : {{ this.achievementService.getEarnedPoints() }}</h4>
        <h5 class="subtitle-2 gray-3">{{userInfo.name}}</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr *ngIf="this.achievementService.getIsPointsConfigured()">
  <ion-grid>
    <ion-row>
      <ion-col class="title-container">
        <p class="subtitle-2 gray-2">My Badges</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        *ngFor="let achievement of achievements; let i = index;"
        size-xs="4"
        size-sm="3"
        size-md="2"
        margin-bottom
      >
        <achievement-badge
          [achievement]="achievement"
          [showName]=true
        ></achievement-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
