.total-points {
    .trophy {
        .circle-background {
            width: 72px;
            height: 72px;
            ion-avatar {
                width: 72px;
                height: 72px;
            }
            
            // background-color: white;
            // border-radius: 50%;
            // -webkit-box-shadow: 10px 10px 98px -7px rgba(0,0,0,0.35);
            // -moz-box-shadow: 10px 10px 98px -7px rgba(0,0,0,0.35);
            // box-shadow: 10px 10px 98px -7px rgba(0,0,0,0.35);

            // ion-icon {
            //     margin-top: 7.5px;
            //     font-size: 45px;
            //     color: var(--ion-color-primary);
            // }
        }
    }
    .points {
        text-align: left;
        padding-left: 0 !important;
        h4 {
            margin-bottom: 0 !important;
        }
        h5 {
            margin: 0 !important;
        }
    }
}
hr {
    border: 0;
    height: 1px;
    background: #ABAEBB;
}
.title-container {
    text-align: left;
}