.total-points {
    .trophy {
        .circle-background {
            width: 72px;
            height: 72px;
            ion-avatar {
                width: 72px;
                height: 72px;
            }
        }
    }
    .points {
        text-align: left;
        padding-left: 0 !important;
        h4 {
            margin-bottom: 0 !important;
        }
        h5 {
            margin: 0 !important;
        }
    }

    &.desktop {
        justify-content: center !important;
        .trophy {
            .circle-background {
                margin: auto;
            }
        }
        .points {
            text-align: center;
        }
    }
}
.badge-container {
    justify-content: center !important;
}
hr {
    border: 0;
    height: 1px;
    background: #ABAEBB;
}
.title-container {
    text-align: left;
}