.modal-wrapper {
  --max-height: 300px;
}

.pop-up-content {
  background-color: transparent !important;
  --ion-color-base: transparent !important;

  .image-content {
    margin-top: 5px;
    margin-bottom: -45px;

    .image {
      padding: 12px;

      img {
        &.default {
          filter: invert(.5);
        }
      }
    }
  }

  .details-container {
    padding: 20px;
    border-radius: 12px;
  }

  .div-after-img {
    margin: 0;
    margin-bottom: 15px;
  }

}

.pop-up-content {
  &.desktop-view {
    .details-container {
      .div-after-img {
        .title {
          margin-top: 30px;
        }
        .points {
          margin: 10px;
        }
      }
    }
  }
}
.permission-icon {
  margin:40px auto ;
  width: 100px !important;
  height: 100px !important;

}
.pop-text {
  font-weight: bolder !important;
}
.pn-title {
  margin-top: 25px;
  font-size: 16px;
}