.badge {
  img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
  }
  ion-icon {
    position: absolute;
    font-size: 24px;
    vertical-align: top !important;
  }
}
.badge-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.badge-point {
  background-color: var(--ion-color-primary);
  border-radius: 15px;
  color: white;
  padding: 0px 8px;
  margin-left: 3px;
  height: 24px;
  max-height: 24px;
  min-height: 24px;
  max-width: 100px;
  margin: auto;
  margin-top: 10px;
  &.desktop {
    max-width: 200px;
  }
}
.badge-point-unearned {
  background-color: var(--ion-color-medium) !important;
}
.black-white-image {
  filter: grayscale(100%);
}
