
.badge {
  img {
    border-radius: 50%;
    width: 48px;
  }
  ion-icon {
  position: absolute;
  left: 67px;
  font-size: x-large;
}
}
.badge-point {
  background-color: var(--ion-color-primary);
  border-radius: 8px;
  color: white;
  max-width: 80px;
  padding: 0px 8px;
  margin-left: 3px;
  font-size: small;
}
.black-white-image {
  filter: grayscale(100%);
}
