.todo-list {
  background: transparent !important;
}
.achievement {
  margin-bottom: 10px;
  a {
    position: absolute;
    right: 26px;
  }
}
.dashboard-achievement {

  .achievement-row {
    margin: auto;
    text-align: center;
    ion-col {
      margin: auto
    }
  }
}
