<ion-content padding color="light">
  <h1 text-center>{{ programName }}</h1>
  <div text-center padding >
    <ng-container *ngIf="loadingProgress; else progress">
      <ion-spinner></ion-spinner>
    </ng-container>
    <ng-template #progress>
      <circle-progress 
        [percent]="progress"
        [radius]= "70"
        [subtitle]="COMPLETE"
        [titleFontSize]= "32"
        [subtitleFontSize]= "18"
        [outerStrokeWidth]= "12"
        [animation]= true
        [animationDuration]= "1000"
        [backgroundPadding]= -10
        [maxPercent]= 100
        [innerStrokeWidth]= 0
        [showInnerStroke]= false
        [startFromZero]= false
        [outerStrokeLinecap]= "round"
        >
      </circle-progress>
    </ng-template>
  </div>

  <ion-label color="medium">Things to do</ion-label>
  <ion-list class="todo-list">

    <ng-container *ngIf="loadingTodoItems; else todoItems">
      <ion-spinner></ion-spinner>
    </ng-container>

    <ng-template #todoItems>
      <ng-container *ngIf="todoItems.length; else noItems">
        <div *ngFor="let todoItem of todoItems">
          <app-todo-card [todoItem]="todoItem" (click)="goTo(todoItem)"></app-todo-card>
        </div>
      </ng-container>

      <ng-template #noItems>
        <app-todo-card [todoItem]="false"></app-todo-card>
      </ng-template>
    </ng-template>

  </ion-list>

  <ion-label color="medium">Current Activity</ion-label>
  <ng-container *ngIf="loadingActivity; else activity">
    <br><ion-spinner></ion-spinner>
  </ng-container>
  <ng-template #activity>
    <app-activity-card [activity]="activity" (click)="!activity.is_locked && goToActivity(activity.id)"></app-activity-card>
  </ng-template>

</ion-content>
