
.progress-container {
    height: 25vh;
    max-height: 25vh;
    text-align: center;
    padding: 20px;
    align-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    margin-top: 2em;
    margin-bottom:4em;
}
