<ion-content padding color="light">
  <h1 text-center>{{Program.Name}}</h1>
  <div text-center padding >
    <circle-progress 
      [percent]="progress"
      [radius]= "70"
      [subtitle]="COMPLETE"
      [titleFontSize]= "32"
      [subtitleFontSize]= "18"
      [outerStrokeWidth]= "12"
      [animation]= true
      [outerStrokeColor]= "'#2bbfd4'"
      [outerStrokeLinecap]= "circle"
      [animationDuration]= "1000"
      [backgroundPadding]= -10
      [maxPercent]= 100
      [innerStrokeWidth]= 0
      [showInnerStroke]= false
      [startFromZero]= false
      >
    </circle-progress>
  </div>     
  <ion-label color="medium">Thins to do </ion-label>
  <ion-card *ngIf="!todo; else notificationList" class="notification-card">
      <ion-item class="activated">
          <ion-icon name="notifications" slot="start" color="primary"></ion-icon>
          <ion-label  color="medium">You have no new notifications.</ion-label>
      </ion-item>
  </ion-card>
  <ng-template #notificationList>
    <ion-list class="notification-list">
      <div *ngFor="let notification of notifications">
        <app-todo-notification-card [notification] = notification></app-todo-notification-card>
      </div>  
    </ion-list>
  </ng-template>  

  <ion-label color="medium">Current Activity</ion-label>
  <app-activity-card [activity] = "activity"></app-activity-card>
</ion-content>
