.info-page {
  --overflow: hidden;
  overflow-y: hidden;

  .scroll-y {
    overflow-y: hidden;
  }
}

ion-grid {
  height: -webkit-fill-available;
  ion-row {
    height: -webkit-fill-available;
  }
}

ion-col#chatroom {
  display: block;
}
