.info-page {
  --overflow: hidden;
  overflow-y: hidden;

  .scroll-y {
    overflow-y: hidden;
  }
}

ion-grid {
  height: 100% !important;
  ion-row {
    height: 100% !important;
  }
}

.border-left {
  border-left: 1px solid var(--practera-grey-25);
}

ion-col#chatroom {
  display: block;
}
