.item-filter {
  --padding-start: 0;
  --inner-padding-end: 0;
}
.event-group {
  --color: var(--ion-color-primary);
  --background: var(--ion-color-primary-tint);
}

ion-segment {
  --background: var(--ion-color-light);
  padding: 10px;
  z-index: 1;
}