<ion-content class="ion-text-center" [ngClass]="{
  'ion-content-mobile': utils.isMobile()
}" appFloat>

  <div class="btn-filter">
    <h3 class="for-accessibility">Event categories</h3>
    <ion-segment (ionChange)="switchEvents($event)" [value]="activated">
      <ion-segment-button value="browse" mode="ios" aria-label="browse new event">
        <ion-label>Browse</ion-label>
      </ion-segment-button>
      <ion-segment-button value="booked" mode="ios" aria-label="booked event">
        <ion-label>Booked</ion-label>
      </ion-segment-button>
      <ion-segment-button value="attended" mode="ios" aria-label="attended event">
        <ion-label>Attended</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-item lines="none" color="light" class="ion-margin-top item-filter" *ngIf="hasActivitySession">
    <ion-label id="activity-filter" class="subtitle-1" [ngClass]="!events.length ? 'gray-0' : 'gray-2'">Filter by Activity</ion-label>
    <ion-select
      multiple="true"
      aria-labelledby="activity-filter"
      [value]="selectedActivities"
      (ionChange)="onSelect(filterEle.value)"
      #filterEle>
      <ion-select-option *ngFor="let activity of activities" [value]="activity.id" selected>{{ activity.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngIf="loadingEvents">
    <p><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
    <ion-list>
      <app-list-item [loading]="true" lines="full"></app-list-item>
      <app-list-item [loading]="true" lines="full"></app-list-item>
    </ion-list>
  </ng-container>

  <ng-container *ngFor="let eventObj of events">
    <ion-list class="ion-no-padding">
      <ion-item class="headline-4 event-group" lines="none">{{ eventObj.date }}</ion-item>
      <!-- @TODO add isVideoConference by checking event zoom object -->
      <app-list-item class="focusable"
        *ngFor="let event of eventObj.events; let i = index"
        leadingIcon="calendar-outline"
        [isEventItem]="true"
        [leadingIconColor]="eventService.isNotActionable(event) ? 'medium' : 'primary'"
        [title]="event.name"
        [titleColor]="eventService.isNotActionable(event) ? 'grey-100' : ''"
        [subtitle1]="event.activityName"
        [subtitle2]="eventService.timeDisplayed(event)"
        [eventVideoConference]="event.videoConference"
        [eventExpired]="event.isPast && !event.isBooked"
        [eventFullyBooked]="event.remainingCapacity === 0"
        [active]="event.isMultiDay ? (event.multiDayInfo.id === multiDayId) : (eventId === event.id)"
        lines="full"
        (click)="goto(event)"
        (keydown.enter)="goto(event)"
        (keydown.space)="goto(event)"
        tabindex="0"
        [eventDayCount]="event.isMultiDay ? event.multiDayInfo.dayCount : null"
      ></app-list-item>
    </ion-list>
  </ng-container>

  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadMoreEvents($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more events...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="!events.length && !loadingEvents">
    <ion-card class="practera-card list-empty-message">
      <ng-container [ngSwitch]="activated">
        <ng-container *ngSwitchCase="'browse'">
          <p aria-live="polite" class="subtitle-1 gray-3">There's no new event.</p>
          <span class="gray-1 body-2">Go to the booked tab to see the events you've booked.</span>
        </ng-container>
        <ng-container *ngSwitchCase="'booked'">
          <p aria-live="polite" class="subtitle-1 gray-3">You have no booked events.</p>
          <span class="gray-1 body-2">Go to the browse tab and book an event to see it here.</span>
        </ng-container>
        <ng-container *ngSwitchCase="'attended'">
          <p aria-live="polite" class="subtitle-1 gray-3">You have not attended any events.</p>
          <span class="gray-1 body-2">You can see all your past events in this tab.</span>
        </ng-container>
      </ng-container>
    </ion-card>
  </div>

</ion-content>
