<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126749324348-9oqj6icnq136a4m34t2o05immu887445.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126749324348-9oqj6icnq136a4m34t2o05immu887445</string>
	<key>API_KEY</key>
	<string>AIzaSyAv4p2cfj4LA372zSGS4eJqM5K7Qvhc1O8</string>
	<key>GCM_SENDER_ID</key>
	<string>126749324348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practera.appv2</string>
	<key>PROJECT_ID</key>
	<string>test-web-161515</string>
	<key>STORAGE_BUCKET</key>
	<string>test-web-161515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126749324348:ios:4a176f5f4e262741aeff39</string>
	<key>DATABASE_URL</key>
	<string>https://test-web-161515.firebaseio.com</string>
</dict>
</plist>