<ng-container *ngIf="!doAssessment && !doReview && submissionStatus !== 'in progress' && reviewStatus !== 'in progress'">
  <ion-list class="ion-no-padding">
    <ion-radio-group [value]="submission?.answer || review?.answer">
      <ng-container *ngFor="let choice of question.choices; let i = index">
        <ion-item [ngClass]="{'item-bottom-border': !choice?.explanation }" lines="none">
          <ion-label class="ion-text-wrap body-2 gray-3">
            {{ choice.name }}
            <p *ngIf="submission?.answer === choice.id || review?.answer === choice.id">
              <ion-chip class="label orange" *ngIf="submission?.answer === choice.id">Learner's answer</ion-chip>
              <ion-chip class="label yellow" *ngIf="review?.answer === choice.id">Expert's answer</ion-chip>
            </p>
          </ion-label>
        </ion-item>
        <ng-container *ngIf="choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity">
          <div class="item-bottom-border explanation ion-padding-horizontal">
            <p class="subtitle-2 title">Explanation</p>
            <p class="body-2 gray-3" [innerHtml]="choice.explanation"></p>
          </div>
        </ng-container>
      </ng-container>
    </ion-radio-group>
  </ion-list>
  <ng-container *ngIf="review.comment">
    <p class="paragraph body-2 gray-3">{{ review.comment }}</p>
  </ng-container>
</ng-container>

<ng-container *ngIf="doAssessment">
  <div class="ion-no-padding">
    <ion-list class="ion-no-padding">
      <ion-radio-group [value]="submission.answer" #answerEle (ionChange)="onChange(answerEle.value)">
        <ng-container *ngFor="let choice of question.choices; let i = index">
          <ion-item lines="none"
            [ngClass]="{'item-bottom-border': i !== question.choices.length - 1 || !checkInnerValue(choice.id)}">
            <ion-label class="body-2 black">{{ choice.name }}</ion-label>
            <ion-radio color="success"
              [value]="choice.id"
              [disabled]="control.disabled"
              slot="start"
              mode="md"
            ></ion-radio>
          </ion-item>
          <ng-container
          *ngIf="control.disabled && choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity && checkInnerValue(choice.id)">
            <div class="item-bottom-border explanation ion-padding-horizontal" [ngClass]="{ 'explanation-container': i !== question.choices.length - 1}">
              <p class="subtitle-2 title">Explanation</p>
              <p class="body-2 gray-3" [innerHtml]="choice.explanation"></p>
            </div>
          </ng-container>
        </ng-container>
      </ion-radio-group>
    </ion-list>
  </div>
</ng-container>

<ng-container *ngIf="doReview">
  <div class="ion-no-padding">
    <ion-list class="ion-no-padding" *ngIf="question.canAnswer">
      <ion-radio-group #answerEle [value]="review.answer" (ionChange)="onChange(answerEle.value, 'answer')">
        <ion-list-header class="ion-no-padding" *ngIf="!question.reviewerOnly">
          <ion-label class="subtitle-2 black">Your Answer is</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let choice of question.choices; let i = index"
          lines="none"
          [ngClass]="{'item-bottom-border': i !== question.choices.length - 1}">
          <ion-label class="body-2 black">
            {{ choice.name }}
            <p *ngIf="submission?.answer === choice.id || review?.answer === choice.id">
              <ion-chip class="label orange" *ngIf="submission?.answer === choice.id">Learner's answer</ion-chip>
            </p>
          </ion-label>
          <ion-radio color="success"
            [value]="choice.id"
            [disabled]="control.disabled"
            slot="start"
            mode="md"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-textarea
      *ngIf="question.canComment && submission.answer"
      class="textarea"
      #commentEle
      [(ngModel)]="comment"
      rows="4"
      (ngModelChange)="onChange(comment, 'comment')"
      placeholder="Please put your feedback here"
      [disabled]="control.disabled"></ion-textarea>
  </div>
</ng-container>
