ion-radio-group ion-item ion-label {
    opacity: 1 !important;
}

.item-bottom-border {
  border-bottom: 1px solid var(--practera-15-percent-gray);

  .item-lines- {
    border-bottom: none;
  }
}

.item-inner {
  border-bottom: none;
}

.audience-mentor {
  border: 2px solid var(--practera-review-border-color);
  border-bottom-left-radius : 12px;
  border-bottom-right-radius: 12px;
}

ion-textarea {
  padding-left: 5px;
  padding-right: 5px;
}

.explanation {
  &.explanation-container {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--practera-15-percent-gray);
  }

  .title {
    color: var(--ion-color-primary);
  }
}
