<h3 class="for-accessibility" [id]="'oneof-question-' + question.id">{{question.name}}</h3>

@if (isDisplayOnly) {
  <ion-list class="ion-no-padding">
    <ion-radio-group [value]="submission?.answer || review?.answer">
      @for (choice of displayChoices; track choice) {
        <ion-item [ngClass]="{'item-bottom-border': !(choice?.explanation?.changingThisBreaksApplicationSecurity && submission?.answer === choice.id)}" lines="none">
          <ion-label class="ion-text-wrap body-2 gray-3"
            [class.reviewer-feedback-choice]="isReviewerOnlyChoiceFeedback">
            <div [class.reviewer-feedback-choice-text]="isReviewerOnlyChoiceFeedback"
              [ngClass]="{'explanation': submission?.answer === choice.id || review?.answer === choice.id}"
              [innerHTML]="choice.name | detectLanguage"></div>
            @if (isReviewerOnlyChoiceFeedback) {
              @if (isReviewChoiceSelected(choice.id)) {
                <span class="reviewer-choice-status reviewer-choice-status-selected">
                  <ion-icon name="checkmark" aria-hidden="true"></ion-icon>
                  <span class="reviewer-choice-status-text" aria-hidden="true" i18n>Selected</span>
                  <span class="for-accessibility" i18n>Selected by reviewer</span>
                </span>
              } @else {
                <span class="reviewer-choice-status reviewer-choice-status-not-selected">
                  <span class="reviewer-choice-status-text" aria-hidden="true" i18n>Not selected</span>
                  <span class="for-accessibility" i18n>Not selected by reviewer</span>
                </span>
              }
            } @else {
              @if (submission?.answer === choice.id) {
                <ion-chip class="label orange" i18n>Learner's Answer</ion-chip>
              }
              @if (review?.answer === choice.id) {
                <ion-chip class="label yellow black" i18n>Reviewer's Answer</ion-chip>
              }
            }
          </ion-label>
        </ion-item>
        @if (choice?.explanation && choice?.explanation?.changingThisBreaksApplicationSecurity && submission?.answer === choice.id) {
          <ion-item lines="none" class="item-bottom-border explanation-label ion-no-padding ion-no-margin">
            <ion-icon slot="start" name="information-circle"></ion-icon>
            <ion-note size="small"><span [innerHTML]="choice.explanation | detectLanguage"></span></ion-note>
          </ion-item>
        }
      }
    </ion-radio-group>
  </ion-list>
  @if (review?.comment && question.canComment === true) {
    <ion-item class="feedback-title ion-no-padding" lines="none">
      <ion-icon class="ion-padding-horizontal" name="eye" size="small"></ion-icon>
      <ion-label i18n>Feedback</ion-label>
    </ion-item>
    <ion-textarea class="ion-no-margin preview textarea white-space-pre"
      [autoGrow]="true"
      [value]="review.comment"
      [disabled]="true"
    ></ion-textarea>
  }
}

@if (doAssessment) {
  <div class="ion-no-padding">
    <fieldset [attr.aria-labelledby]="'oneof-question-' + question.id">
      <legend class="for-accessibility" [id]="'oneof-question-legend-' + question.id">{{ question.name }}</legend>
      <ion-list class="ion-no-padding">
        <ion-radio-group [value]="innerValue" #answerEle
          (ionChange)="onChange(answerEle.value)"
          role="radiogroup"
          [attr.aria-labelledby]="'oneof-question-' + question.id">
          @for (choice of question.choices; track choice; let i = $index) {
            <ion-item lines="none"
              [ngClass]="{'item-bottom-border': i !== question.choices.length - 1 || !checkInnerValue(choice.id)}">
              <ion-radio color="success"
                justify="start"
                labelPlacement="end"
                [attr.aria-label]="choice.name"
                [value]="choice.id"
                [disabled]="control.disabled"
                slot="start"
                mode="md">
                <div class="ion-text-wrap body-2 black">
                  <span [innerHTML]="choice.name | detectLanguage"
                    [appToggleLabel]="onLabelToggle"
                    [toggleId]="choice.id"
                    [toggleDisabled]="control.disabled"
                    role="button"
                    tabindex="0">
                  </span>
                </div>
              </ion-radio>
            </ion-item>
            @if (control.disabled && choice.explanation && choice.explanation.changingThisBreaksApplicationSecurity && checkInnerValue(choice.id)) {
              <ion-item lines="none" class="item-bottom-border explanation-label ion-no-padding ion-no-margin">
                <ion-icon slot="start" name="information-circle" aria-hidden="true"></ion-icon>
                <ion-note size="small"><span [innerHTML]="choice.explanation | detectLanguage"></span></ion-note>
              </ion-item>
            }
          }
        </ion-radio-group>
      </ion-list>
    </fieldset>
  </div>
}

@if (doReview) {
  <div class="ion-no-padding">
    @if (question.canAnswer) {
      <fieldset [attr.aria-labelledby]="'oneof-question-' + question.id">
        <legend class="for-accessibility" [id]="'oneof-question-review-legend-' + question.id">{{ question.name }}</legend>
        @if (question.canAnswer) {
          <ion-list class="ion-no-padding">
            <ion-radio-group
              #answerEle
              [value]="innerValue?.answer"
              (ionChange)="onChange(answerEle.value, 'answer')"
              role="radiogroup"
              [attr.aria-labelledby]="'oneof-question-' + question.id">
              @if (!question.reviewerOnly) {
                <ion-list-header class="ion-no-padding">
                  <ion-label class="subtitle-2 black" i18n>Your Answer is</ion-label>
                </ion-list-header>
              }
              @for (choice of question.choices; track choice; let i = $index) {
                <ion-item
                  lines="none"
                  [ngClass]="{'item-bottom-border': i !== question.choices.length - 1}">
                  <ion-radio
                    color="success"
                    [attr.aria-label]="choice.name"
                    [value]="choice.id"
                    [disabled]="control.disabled"
                    slot="start"
                    justify="start"
                    labelPlacement="end">
                    <div class="body-2 black">
                      <span [innerHTML]="choice.name | detectLanguage"
                        [appToggleLabel]="onLabelToggleReview"
                        [toggleId]="choice.id"
                        [toggleDisabled]="control.disabled"
                        role="button"
                        tabindex="0">
                      </span>
                      @if (submission?.answer === choice.id || review?.answer === choice.id) {
                        <p style="margin: 0; padding: 0;">
                          @if (submission?.answer === choice.id) {
                            <ion-chip class="label orange" i18n>Learner's Answer</ion-chip>
                          }
                        </p>
                      }
                    </div>
                  </ion-radio>
                </ion-item>
              }
            </ion-radio-group>
          </ion-list>
        }
      </fieldset>
    }
    @if (question.canComment && submission.answer) {
      <ion-list class="ion-no-padding ion-padding-bottom"
        >
        <ion-list-header class="ion-no-padding" lines="none">
          <ion-label class="subtitle-2 black" i18n>Feedback</ion-label>
        </ion-list-header>
        @if (question.canComment && submission.answer) {
          <ion-textarea
            [autoGrow]="true"
            [attr.aria-label]="'expert\'s review feedback'"
            class="textarea"
            #commentEle
            [(ngModel)]="comment"
            rows="4"
            (ngModelChange)="onChange(comment, 'comment')"
            placeholder="Please put your feedback here"
            i18n-placeholder
          [disabled]="control.disabled"></ion-textarea>
        }
      </ion-list>
    }
  </div>
}
