.btn-right {
  position: absolute;
  right: 10px;
}
.contact-grid {
  margin-left: 0px;
}
.contact-input {
  background-color: var(--practera-input-number-color);
  margin-top: 8px;
}
.update-btn {
  margin-top: 25px;
}
.profile-info {
  --background: transparent;
  --padding-start: 0;
  .profile-image {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    margin-top: 16px;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
    .loading-icon {
      width: 80px;
      margin: 0;
      height: 80px;
      text-align: center;
      ion-spinner {
        margin-top: 15%;
      }
    }
    file-stack {
      position: absolute; 
      top: 52px;
      left: 52px;
    }
  }
  .profile-name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 24px;
    color: black;
  }
  .profile-email {
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    color: var(--practera-label-color);
  }
}

.support-section {
  .title {
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 500;	
    color: var(--ion-color-dark-tint);
  }
  .content {
    margin-top: 14px !important;
  }
}

.exp-switch {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  ion-label {
    font-size: 14px;	
    font-weight: 500;	
    letter-spacing: 0.1px;	
    line-height: 24px;
    color: var(--ion-color-dark-tint);
  }
  ion-button {
    height: 32px;
    width: 90px;
    margin: 0px;
  }
}
