ion-item.no-bg {
  --padding-start: 0;
}
.profile-info {
  --padding-start: 0;
  .profile-image {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    margin-top: 16px;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
    .loading-icon {
      width: 80px;
      margin: 0;
      height: 80px;
      text-align: center;
      ion-spinner {
        margin-top: 15%;
      }
    }
    file-stack {
      position: absolute;
      top: 52px;
      left: 52px;
    }
  }
  .profile-name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 24px;
    color: black;
  }
  .profile-email {
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    color: var(--practera-color-subtitle);
  }
  p.profile-name {
    line-height: 28px;
    margin: 10px 0 5px;
  }
  p.profile-email {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-top: 0;
  }
}

.exp-switch {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  ion-label {
    letter-spacing: 0.1px;
    line-height: 24px;
  }
  ion-button {
    height: 32px;
    width: 90px;
    margin: 0px;
  }
}

.div-icon-swap {
  background-color: white;
  height: calc(100% - 67px);
  margin-bottom: 3px;
  text-align: center;
  ion-icon {
    font-size: 50px !important;
    margin-top: 40px;
  }
}

.support {
  max-width: 320px !important;
  margin-left: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
  margin-right: 16px;
}

.support-mobile {
  ion-item {
    --inner-padding-end: 0;
    ion-icon{
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1020px) {
  .support {
    margin-left: 47px !important;
  }
}
.content {
  max-width: 520px !important;
  margin-right: 83px;
  margin-left: 16px;
  .experience-content {
    .experience-card-container{
      max-width: 280px !important;
      ion-card {
        max-width: 280px !important;
        margin-right: 15px;
        margin-top: 6px;
      }
    }
    .switch-card-container {
      max-width: 210px !important;
      ion-card {
        max-width: 210px !important;
        margin-left: 15px;
        margin-top: 6px;
      }
    }
  }
}
