<ion-header>
  <ion-toolbar color="light">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding color="light">
  <ion-card class="practera-card">
      <ion-item class="profile-info" lines="none">
          <ion-avatar class="profile-image" slot="start">
            <img [src]="profile.image">
            <p class="upload-icon" (click)="upload($event)"><ion-icon ios="ios-camera" md="md-camera"></ion-icon></p>
          </ion-avatar>
          <ion-label>
            <ion-label class="profile-name" *ngIf="profile.name">
                {{profile.name}}
            </ion-label>
            <ion-label class="profile-email" *ngIf="profile.email">
                {{profile.email}}
            </ion-label>
          </ion-label>
        </ion-item>
  </ion-card>
  <ion-card class="practera-card">
    <!-- <ion-item class="profile-info" lines="none">
      <ion-avatar class="profile-image" slot="start">
        <img [src]="profile.image">
        <p class="upload-icon" (click)="upload($event)"><ion-icon ios="ios-camera" md="md-camera"></ion-icon></p>
      </ion-avatar>
      <ion-label>
        <ion-label class="profile-name" *ngIf="profile.name">
            {{profile.name}}
        </ion-label>
        <ion-label class="profile-email" *ngIf="profile.email">
            {{profile.email}}
        </ion-label>
      </ion-label>
    </ion-item> -->

    <ion-item>
      <ion-label>Select Country</ion-label>
      <ion-select [(ngModel)]="countryModel" (ionChange)="updateCountry()">
        <ion-select-option *ngFor="let countryCode of contact.countryCodes" [value]="countryCode.code">{{countryCode.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-grid class="contact-grid">
        <ion-row>
          <ion-label>
            Contact No.
            <ion-button class="btn-right update-btn" [disabled]="updating" (click)="updateContactNumber()">
               <ng-container *ngIf="!updating">Update</ng-container>
               <ng-container *ngIf="updating">Updating..</ng-container>
            </ion-button>
          </ion-label>
        </ion-row>
        <ion-row>
          <input [textMask]="{mask: mask, showMask: true, guide: true}" [(ngModel)]="profile.contactNumber" type="text" class="contact-input" (keydown)="disableArrowKeys($event)" (mousedown)="disableMiddleClicking($event)"/>
        </ion-row>
      </ion-grid>
    </ion-item>

    <clickable-item (click)="switchProgram()" lines="none">
      <ion-icon padding name="radio-button-on"></ion-icon>
      Switch to another program
    </clickable-item>
  </ion-card>

  <ion-card class="practera-card">
    <ion-item>Support</ion-item>
    <clickable-item (click)="mailTo()">
      <ion-icon padding name="mail"></ion-icon>
      Email Help
    </clickable-item>
    <clickable-item (click)="openLink()" lines="none">
      <ion-icon padding name="clipboard"></ion-icon>
      Terms of Use
    </clickable-item>
  </ion-card>

  <ion-card class="practera-card">
    <clickable-item (click)="logout()" lines="none">
      <ion-icon padding name="log-out"></ion-icon>
      Logout
    </clickable-item>
  </ion-card>
</ion-content>
