<ion-header>
  <ion-toolbar color="light">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding color="light">
  <ion-card class="practera-card">
    <ion-item>
      <ion-label>My Account
        <div *ngIf="profile.email">
          <ion-label color="medium">Email: {{profile.email}}</ion-label>
        </div>
      </ion-label>
    </ion-item>

    <app-contact-number-form [page]="'settings'"></app-contact-number-form>

    <clickable-item (click)="switchProgram()" lines="none">
      <ion-icon padding name="radio-button-on"></ion-icon>
      Switch to another program
    </clickable-item>
  </ion-card>

  <ion-card class="practera-card">
    <ion-item>Support</ion-item>
    <clickable-item (click)="mailTo()">
      <ion-icon padding name="mail"></ion-icon>
      Email Help
    </clickable-item>
    <clickable-item (click)="openLink()" lines="none">
      <ion-icon padding name="clipboard"></ion-icon>
      Terms of Use
    </clickable-item>
  </ion-card>

  <ion-card class="practera-card">
    <clickable-item (click)="logout()" lines="none">
      <ion-icon padding name="log-out"></ion-icon>
      Logout
    </clickable-item>
  </ion-card>
</ion-content>
