.btn-right {
  position: absolute;
  right: 10px;
}
.contact-grid {
  margin-left: 0px;
}
.contact-input {
  background-color: var(--practera-input-number-color);
  margin-top: 8px;
}
.update-btn {
  margin-top: 25px;
}
